In [1]:
import os
import pandas as pd
from lxml import html
import requests
import re
import sys
from datetime import datetime

from bs4 import BeautifulSoup
from urllib.request import Request, urlopen
import time

# Input the CIK list for the fund family you are looking at

In [118]:
fund_name = 'seligman.xlsx'

# select CIK 1398078 as test file
CIK_LIST = ['316411']

In [119]:
cur_wd = os.getcwd()
if 'trunk' in cur_wd:
    output_directory = os.path.join("\\".join(cur_wd.split('\\')[0:-1]),'output')
else:
    output_directory = os.path.join("\\".join(cur_wd.split('\\')[0:-1]),'output','working')
    
cur_wd = os.path.join("\\".join(cur_wd.split('\\')[0:-1]),'data')
print('data directory')
print(cur_wd)
print('output directory')
print(output_directory)

data directory
data
output directory
output/working

# Helper Functions for Analysis

In [120]:
def get_cleaned(lines):
    cleaned = []
    for i in lines:
        #gets rid of tags
        cleaned_i = re.sub('<[^>]*>', ' ', i)
        #gets rid of &nbsp; and replaces with space
        cleaned_i = re.sub('&nbsp;', ' ', cleaned_i)
        #re.sub("<.*?>","",st)
        if not re.match(r'^\s*$', cleaned_i):
            cleaned.append(cleaned_i)
    return cleaned

def find(s, ch):
    return [i for i, ltr in enumerate(s) if ltr == ch]


def hasNumbers(inputString):
    return bool(re.search(r'\d', inputString))


def remove_junk(addline):
    addline = re.sub('<[^>]*>', ' ', addline)
    addline = re.sub('&nbsp;', ' ', addline)
    addline = re.sub('&#174;', ' ', addline)
    addline = re.sub('&#8480;', ' ', addline)
    addline = re.sub(r'&reg;',' ',addline)
    addline = re.sub(r'\n', ' ', addline)
    addline = re.sub(r'\t', ' ', addline)
    return addline

In [121]:
weblink = {}
for CIK in CIK_LIST:
    weblink[CIK]  = []
    txt_files = os.listdir(os.path.join(cur_wd, CIK, 'n-q'))
    for i in txt_files:
        weblink[CIK].append(r"https://www.sec.gov/Archives/edgar/data/" + str(CIK)+r"/"  + i)

In [122]:
weblink

{'316411': ['https://www.sec.gov/Archives/edgar/data/316411/0001169232-08-002193.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0000950123-11-054303.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0000950123-09-065935.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0000950123-10-109224.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0001169232-07-004458.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0000936329-06-000167.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0001145443-06-001745.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0001169232-09-002769.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0000950123-10-053029.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0001145443-04-001859.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0000936329-07-000060.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0000936329-05-000066.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0001169232-08-004392.txt',
  'https://www.sec.gov/Archives/edgar/data/316411/0000936329-05-000174.txt']}

get panel 2

In [123]:
panel2 = pd.DataFrame()
error_panel2 = []

    
for CIK in CIK_LIST:
    txt_files = os.listdir(os.path.join(cur_wd, CIK, 'n-q'))
    
    for i in txt_files:
        if '.csv' not in i:
            try:
                series = {}
                series_keys = ['SERIES-ID', 'OWNER-CIK', 'SERIES-NAME']
                for s in series_keys:
                    series[s] = []

                contract = {}
                contract_keys = ['CLASS-CONTRACT-ID','CLASS-CONTRACT-NAME','CLASS-CONTRACT-TICKER-SYMBOL', 'LAST-READ-SERIES']
                for c in contract_keys:
                    contract[c] = []

                uncleaned_file = open(os.path.join(cur_wd, CIK, 'n-q',i), mode='r') 
                for u in uncleaned_file:
                    

                    if 'COMPANY CONFORMED NAME' in u:
                        conformed_name = u.replace('COMPANY CONFORMED NAME:', '').strip()

                    if 'FILED AS OF DATE:' in u:
                        filed_date = str(u).replace('FILED AS OF DATE:','').strip()

                    #series information
                    for s in series_keys:
                        if s in u:
                                series[s].append(str(u).replace('<' + s + '>', "").strip())
                    for c in contract_keys:
                        if c != 'LAST-READ-SERIES':
                            if c in u:
                                contract[c].append(str(u).replace('<' + c + '>', "").strip())
                                if c == 'CLASS-CONTRACT-ID':
                                    contract['LAST-READ-SERIES'].append(series['SERIES-ID'][-1])


                series = pd.DataFrame.from_dict(series, orient = 'index').T
                contract = pd.DataFrame.from_dict(contract, orient = 'index').T


                for s in series_keys:
                    contract.loc[:, s] = ''

                for ix,row in contract.iterrows():
                    for s in series_keys:
                        contract.loc[contract.index == ix, s] = series.loc[series['SERIES-ID'] == row['LAST-READ-SERIES'],s].values[0]
                contract.loc[:,'file_read'] = i
                contract.loc[:,'date_filed'] = filed_date
                contract.loc[:, 'company conformed name'] = conformed_name
                contract = contract.drop(['LAST-READ-SERIES'], axis=1)

                if panel2.empty:
                    panel2 = contract.copy()
                else:
                    panel2 = pd.concat([panel2, contract], axis = 0)
            except ValueError:
                error_panel2.append(i)

In [124]:
print(error_panel2)

['0001145443-04-001859.txt', '0000936329-05-000066.txt', '0000936329-05-000174.txt']

In [125]:
print(panel2)
panel2.to_csv(os.path.join(output_directory, fund_name + '_panel2.csv'), sep = ',')

   CLASS-CONTRACT-ID                      CLASS-CONTRACT-NAME  \
0         C000026136      SELIGMAN GROWTH FUND, INC., CLASS A
1         C000026137      SELIGMAN GROWTH FUND, INC., CLASS B
2         C000026138      SELIGMAN GROWTH FUND, INC., CLASS C
3         C000026139      SELIGMAN GROWTH FUND, INC., CLASS D
4         C000026140      SELIGMAN GROWTH FUND, INC., CLASS I
5         C000026141      SELIGMAN GROWTH FUND, INC., CLASS R
0         C000026136      SELIGMAN GROWTH FUND, INC., CLASS A
1         C000026137      SELIGMAN GROWTH FUND, INC., CLASS B
2         C000026138      SELIGMAN GROWTH FUND, INC., CLASS C
3         C000026140     SELIGMAN GROWTH FUND, INC., CLASS R5
4         C000026141      SELIGMAN GROWTH FUND, INC., CLASS R
5         C000076414      SELIGMAN GROWTH FUND, INC., CLASS I
6         C000076416     SELIGMAN GROWTH FUND, INC., CLASS R4
0         C000026136      SELIGMAN GROWTH FUND, INC., CLASS A
1         C000026137      SELIGMAN GROWTH FUND, INC., CLASS B
2         C000026138      SELIGMAN GROWTH FUND, INC., CLASS C
3         C000026140     SELIGMAN GROWTH FUND, INC., CLASS R5
4         C000026141     SELIGMAN GROWTH FUND, INC., CLASS R2
5         C000076414  SELIGMAN GROWTH FUND, INC., NEW CLASS I
6         C000076415     SELIGMAN GROWTH FUND, INC., CLASS R3
7         C000076416     SELIGMAN GROWTH FUND, INC., CLASS R4
0         C000026136      SELIGMAN GROWTH FUND, INC., CLASS A
1         C000026137      SELIGMAN GROWTH FUND, INC., CLASS B
2         C000026138      SELIGMAN GROWTH FUND, INC., CLASS C
3         C000026140     SELIGMAN GROWTH FUND, INC., CLASS R5
4         C000026141      SELIGMAN GROWTH FUND, INC., CLASS R
5         C000076414      SELIGMAN GROWTH FUND, INC., CLASS I
6         C000076416     SELIGMAN GROWTH FUND, INC., CLASS R4
0         C000026136      SELIGMAN GROWTH FUND, INC., CLASS A
1         C000026137      SELIGMAN GROWTH FUND, INC., CLASS B
..               ...                                      ...
3         C000026139      SELIGMAN GROWTH FUND, INC., CLASS D
4         C000026140      SELIGMAN GROWTH FUND, INC., CLASS I
5         C000026141      SELIGMAN GROWTH FUND, INC., CLASS R
0         C000026136      SELIGMAN GROWTH FUND, INC., CLASS A
1         C000026137      SELIGMAN GROWTH FUND, INC., CLASS B
2         C000026138      SELIGMAN GROWTH FUND, INC., CLASS C
3         C000026140      SELIGMAN GROWTH FUND, INC., CLASS I
4         C000026141      SELIGMAN GROWTH FUND, INC., CLASS R
5         C000076414  SELIGMAN GROWTH FUND, INC., NEW CLASS I
6         C000076415     SELIGMAN GROWTH FUND, INC., CLASS R3
7         C000076416     SELIGMAN GROWTH FUND, INC., CLASS R4
0         C000026136      SELIGMAN GROWTH FUND, INC., CLASS A
1         C000026137      SELIGMAN GROWTH FUND, INC., CLASS B
2         C000026138      SELIGMAN GROWTH FUND, INC., CLASS C
3         C000026140     SELIGMAN GROWTH FUND, INC., CLASS R5
4         C000026141     SELIGMAN GROWTH FUND, INC., CLASS R2
5         C000076414  SELIGMAN GROWTH FUND, INC., NEW CLASS I
6         C000076415     SELIGMAN GROWTH FUND, INC., CLASS R3
7         C000076416     SELIGMAN GROWTH FUND, INC., CLASS R4
0         C000026136      SELIGMAN GROWTH FUND, INC., CLASS A
1         C000026137      SELIGMAN GROWTH FUND, INC., CLASS B
2         C000026138      SELIGMAN GROWTH FUND, INC., CLASS C
3         C000026139      SELIGMAN GROWTH FUND, INC., CLASS D
4         C000026140      SELIGMAN GROWTH FUND, INC., CLASS I
5         C000026141      SELIGMAN GROWTH FUND, INC., CLASS R
0         C000026136      SELIGMAN GROWTH FUND, INC., CLASS A
1         C000026137      SELIGMAN GROWTH FUND, INC., CLASS B
2         C000026138      SELIGMAN GROWTH FUND, INC., CLASS C
3         C000026140      SELIGMAN GROWTH FUND, INC., CLASS I
4         C000026141      SELIGMAN GROWTH FUND, INC., CLASS R

   CLASS-CONTRACT-TICKER-SYMBOL   SERIES-ID   OWNER-CIK  \
0                         SGRFX  S000009569  0000316411
1                         SGBTX  S000009569  0000316411
2                         SGRCX  S000009569  0000316411
3                         SGRDX  S000009569  0000316411
4                         SGFIX  S000009569  0000316411
5                         SGFRX  S000009569  0000316411
0                         SGRFX  S000009569  0000316411
1                         SGBTX  S000009569  0000316411
2                         SGRCX  S000009569  0000316411
3                         SGFIX  S000009569  0000316411
4                         SGFRX  S000009569  0000316411
5                         SGRSX  S000009569  0000316411
6                          None  S000009569  0000316411
0                         SGRFX  S000009569  0000316411
1                         SGBTX  S000009569  0000316411
2                         SGRCX  S000009569  0000316411
3                         SGFIX  S000009569  0000316411
4                         SGFRX  S000009569  0000316411
5                          None  S000009569  0000316411
6                          None  S000009569  0000316411
7                          None  S000009569  0000316411
0                         SGRFX  S000009569  0000316411
1                         SGBTX  S000009569  0000316411
2                         SGRCX  S000009569  0000316411
3                         SGFIX  S000009569  0000316411
4                         SGFRX  S000009569  0000316411
5                         SGRSX  S000009569  0000316411
6                          None  S000009569  0000316411
0                         SGRFX  S000009569  0000316411
1                         SGBTX  S000009569  0000316411
..                          ...         ...         ...
3                         SGRDX  S000009569  0000316411
4                         SGFIX  S000009569  0000316411
5                         SGFRX  S000009569  0000316411
0                         SGRFX  S000009569  0000316411
1                         SGBTX  S000009569  0000316411
2                         SGRCX  S000009569  0000316411
3                         SGFIX  S000009569  0000316411
4                         SGFRX  S000009569  0000316411
5                          None  S000009569  0000316411
6                          None  S000009569  0000316411
7                          None  S000009569  0000316411
0                         SGRFX  S000009569  0000316411
1                         SGBTX  S000009569  0000316411
2                         SGRCX  S000009569  0000316411
3                         SGFIX  S000009569  0000316411
4                         SGFRX  S000009569  0000316411
5                          None  S000009569  0000316411
6                          None  S000009569  0000316411
7                          None  S000009569  0000316411
0                         SGRFX  S000009569  0000316411
1                         SGBTX  S000009569  0000316411
2                         SGRCX  S000009569  0000316411
3                         SGRDX  S000009569  0000316411
4                         SGFIX  S000009569  0000316411
5                         SGFRX  S000009569  0000316411
0                         SGRFX  S000009569  0000316411
1                         SGBTX  S000009569  0000316411
2                         SGRCX  S000009569  0000316411
3                         SGFIX  S000009569  0000316411
4                         SGFRX  S000009569  0000316411

                   SERIES-NAME                 file_read date_filed  \
0   SELIGMAN GROWTH FUND, INC.  0001169232-08-002193.txt   20080528
1   SELIGMAN GROWTH FUND, INC.  0001169232-08-002193.txt   20080528
2   SELIGMAN GROWTH FUND, INC.  0001169232-08-002193.txt   20080528
3   SELIGMAN GROWTH FUND, INC.  0001169232-08-002193.txt   20080528
4   SELIGMAN GROWTH FUND, INC.  0001169232-08-002193.txt   20080528
5   SELIGMAN GROWTH FUND, INC.  0001169232-08-002193.txt   20080528
0   SELIGMAN GROWTH FUND, INC.  0000950123-11-054303.txt   20110526
1   SELIGMAN GROWTH FUND, INC.  0000950123-11-054303.txt   20110526
2   SELIGMAN GROWTH FUND, INC.  0000950123-11-054303.txt   20110526
3   SELIGMAN GROWTH FUND, INC.  0000950123-11-054303.txt   20110526
4   SELIGMAN GROWTH FUND, INC.  0000950123-11-054303.txt   20110526
5   SELIGMAN GROWTH FUND, INC.  0000950123-11-054303.txt   20110526
6   SELIGMAN GROWTH FUND, INC.  0000950123-11-054303.txt   20110526
0   SELIGMAN GROWTH FUND, INC.  0000950123-09-065935.txt   20091125
1   SELIGMAN GROWTH FUND, INC.  0000950123-09-065935.txt   20091125
2   SELIGMAN GROWTH FUND, INC.  0000950123-09-065935.txt   20091125
3   SELIGMAN GROWTH FUND, INC.  0000950123-09-065935.txt   20091125
4   SELIGMAN GROWTH FUND, INC.  0000950123-09-065935.txt   20091125
5   SELIGMAN GROWTH FUND, INC.  0000950123-09-065935.txt   20091125
6   SELIGMAN GROWTH FUND, INC.  0000950123-09-065935.txt   20091125
7   SELIGMAN GROWTH FUND, INC.  0000950123-09-065935.txt   20091125
0   SELIGMAN GROWTH FUND, INC.  0000950123-10-109224.txt   20101129
1   SELIGMAN GROWTH FUND, INC.  0000950123-10-109224.txt   20101129
2   SELIGMAN GROWTH FUND, INC.  0000950123-10-109224.txt   20101129
3   SELIGMAN GROWTH FUND, INC.  0000950123-10-109224.txt   20101129
4   SELIGMAN GROWTH FUND, INC.  0000950123-10-109224.txt   20101129
5   SELIGMAN GROWTH FUND, INC.  0000950123-10-109224.txt   20101129
6   SELIGMAN GROWTH FUND, INC.  0000950123-10-109224.txt   20101129
0   SELIGMAN GROWTH FUND, INC.  0001169232-07-004458.txt   20071127
1   SELIGMAN GROWTH FUND, INC.  0001169232-07-004458.txt   20071127
..                         ...                       ...        ...
3   SELIGMAN GROWTH FUND, INC.  0001145443-06-001745.txt   20060526
4   SELIGMAN GROWTH FUND, INC.  0001145443-06-001745.txt   20060526
5   SELIGMAN GROWTH FUND, INC.  0001145443-06-001745.txt   20060526
0   SELIGMAN GROWTH FUND, INC.  0001169232-09-002769.txt   20090527
1   SELIGMAN GROWTH FUND, INC.  0001169232-09-002769.txt   20090527
2   SELIGMAN GROWTH FUND, INC.  0001169232-09-002769.txt   20090527
3   SELIGMAN GROWTH FUND, INC.  0001169232-09-002769.txt   20090527
4   SELIGMAN GROWTH FUND, INC.  0001169232-09-002769.txt   20090527
5   SELIGMAN GROWTH FUND, INC.  0001169232-09-002769.txt   20090527
6   SELIGMAN GROWTH FUND, INC.  0001169232-09-002769.txt   20090527
7   SELIGMAN GROWTH FUND, INC.  0001169232-09-002769.txt   20090527
0   SELIGMAN GROWTH FUND, INC.  0000950123-10-053029.txt   20100526
1   SELIGMAN GROWTH FUND, INC.  0000950123-10-053029.txt   20100526
2   SELIGMAN GROWTH FUND, INC.  0000950123-10-053029.txt   20100526
3   SELIGMAN GROWTH FUND, INC.  0000950123-10-053029.txt   20100526
4   SELIGMAN GROWTH FUND, INC.  0000950123-10-053029.txt   20100526
5   SELIGMAN GROWTH FUND, INC.  0000950123-10-053029.txt   20100526
6   SELIGMAN GROWTH FUND, INC.  0000950123-10-053029.txt   20100526
7   SELIGMAN GROWTH FUND, INC.  0000950123-10-053029.txt   20100526
0   SELIGMAN GROWTH FUND, INC.  0000936329-07-000060.txt   20070525
1   SELIGMAN GROWTH FUND, INC.  0000936329-07-000060.txt   20070525
2   SELIGMAN GROWTH FUND, INC.  0000936329-07-000060.txt   20070525
3   SELIGMAN GROWTH FUND, INC.  0000936329-07-000060.txt   20070525
4   SELIGMAN GROWTH FUND, INC.  0000936329-07-000060.txt   20070525
5   SELIGMAN GROWTH FUND, INC.  0000936329-07-000060.txt   20070525
0   SELIGMAN GROWTH FUND, INC.  0001169232-08-004392.txt   20081125
1   SELIGMAN GROWTH FUND, INC.  0001169232-08-004392.txt   20081125
2   SELIGMAN GROWTH FUND, INC.  0001169232-08-004392.txt   20081125
3   SELIGMAN GROWTH FUND, INC.  0001169232-08-004392.txt   20081125
4   SELIGMAN GROWTH FUND, INC.  0001169232-08-004392.txt   20081125

      company conformed name
0   SELIGMAN GROWTH FUND INC
1   SELIGMAN GROWTH FUND INC
2   SELIGMAN GROWTH FUND INC
3   SELIGMAN GROWTH FUND INC
4   SELIGMAN GROWTH FUND INC
5   SELIGMAN GROWTH FUND INC
0   SELIGMAN GROWTH FUND INC
1   SELIGMAN GROWTH FUND INC
2   SELIGMAN GROWTH FUND INC
3   SELIGMAN GROWTH FUND INC
4   SELIGMAN GROWTH FUND INC
5   SELIGMAN GROWTH FUND INC
6   SELIGMAN GROWTH FUND INC
0   SELIGMAN GROWTH FUND INC
1   SELIGMAN GROWTH FUND INC
2   SELIGMAN GROWTH FUND INC
3   SELIGMAN GROWTH FUND INC
4   SELIGMAN GROWTH FUND INC
5   SELIGMAN GROWTH FUND INC
6   SELIGMAN GROWTH FUND INC
7   SELIGMAN GROWTH FUND INC
0   SELIGMAN GROWTH FUND INC
1   SELIGMAN GROWTH FUND INC
2   SELIGMAN GROWTH FUND INC
3   SELIGMAN GROWTH FUND INC
4   SELIGMAN GROWTH FUND INC
5   SELIGMAN GROWTH FUND INC
6   SELIGMAN GROWTH FUND INC
0   SELIGMAN GROWTH FUND INC
1   SELIGMAN GROWTH FUND INC
..                       ...
3   SELIGMAN GROWTH FUND INC
4   SELIGMAN GROWTH FUND INC
5   SELIGMAN GROWTH FUND INC
0   SELIGMAN GROWTH FUND INC
1   SELIGMAN GROWTH FUND INC
2   SELIGMAN GROWTH FUND INC
3   SELIGMAN GROWTH FUND INC
4   SELIGMAN GROWTH FUND INC
5   SELIGMAN GROWTH FUND INC
6   SELIGMAN GROWTH FUND INC
7   SELIGMAN GROWTH FUND INC
0   SELIGMAN GROWTH FUND INC
1   SELIGMAN GROWTH FUND INC
2   SELIGMAN GROWTH FUND INC
3   SELIGMAN GROWTH FUND INC
4   SELIGMAN GROWTH FUND INC
5   SELIGMAN GROWTH FUND INC
6   SELIGMAN GROWTH FUND INC
7   SELIGMAN GROWTH FUND INC
0   SELIGMAN GROWTH FUND INC
1   SELIGMAN GROWTH FUND INC
2   SELIGMAN GROWTH FUND INC
3   SELIGMAN GROWTH FUND INC
4   SELIGMAN GROWTH FUND INC
5   SELIGMAN GROWTH FUND INC
0   SELIGMAN GROWTH FUND INC
1   SELIGMAN GROWTH FUND INC
2   SELIGMAN GROWTH FUND INC
3   SELIGMAN GROWTH FUND INC
4   SELIGMAN GROWTH FUND INC

[73 rows x 9 columns]

FileNotFoundError: [Errno 2] No such file or directory: 'output/working/seligman_panel2.csv'

## Test on One FILE

In [126]:
CIK  ='316411'
text =  '0000950123-11-054303.txt'

In [476]:
# url2 = 'https://www.sec.gov/Archives/edgar/data/316411/0000950123-09-065935.txt'
url2

'https://www.sec.gov/Archives/edgar/data/316411/0000950123-09-065935.txt'

In [127]:
url = r'https://www.sec.gov/Archives/edgar/data/' + CIK + r'/' + text.replace('.txt', '').replace('-','')  + r'/' + text
print(url)

https://www.sec.gov/Archives/edgar/data/316411/000095012311054303/0000950123-11-054303.txt

In [543]:
def bs(url):
    source = urllib.request.urlopen(url).read()
    soup = bs.BeautifulSoup(source,'lxml')
    return soup

In [545]:
import bs4 as bs
import urllib.request

In [1015]:
source = urllib.request.urlopen('https://www.sec.gov/Archives/edgar/data/881466/000095012311030523/0000950123-11-030523.txt').read()
soup = bs.BeautifulSoup(source,'lxml')
div = soup.find_all('td')
# print(div)
isfound = 0
list_legend = []
dic_legend = {}
for i in div:
    if isfound == 2:
        isfound = 0
        list_legend.append(i.text)
#         print(i.text)
    else:
        if isfound == 1:
            isfound+=1
            continue
        else:
            z = re.match(r'\(([^()]*)\)',i.text)
            
            if z:
                isfound = 1
                list_legend.append(i.text)
# print(list_legend)
# legend_dict.update([(i.text[1:2],legend_data)])
p = re.compile('\(([\w]*)\)')
for counter, value in enumerate(list_legend):
    if p.match(value):
        if value not in dic_legend.keys():
            dic_legend[value] = list_legend[counter + 1]
#             print(dic_legend)
#             print(list_legend[counter + 1])
#     print(counter, value)
#             print(i.text)
#     if i.text.find('(a)') != -1:
#     print(i.text)
# dic_legend['(c)']     
# legend_data = i.text[6:].replace(u'\xa0', u' ')
#     legend_data = legend_data.replace(u'\x97', u' ')
#     legend_data = legend_data.replace(u'\x92', u' ')
#     legend_data = legend_data.replace(u'\n', u' ')
#         report_date = i.text
#         report_date = i.text.split(":")[1]
# pattern = re.compile(r'Unaudited')
# report_date = "";
# for i in date:
#     m = re.match(pattern, i.text)
#     if m:
#         report_date = i.text.split(":")[1]

'Foreign security values are stated in U.S. dollars. At Jan. 31, 2011, the value of foreign\nsecurities, excluding short-term securities, represented 34.24% of net assets.'

In [1025]:
# source = urllib.request.urlopen('https://www.sec.gov/Archives/edgar/data/316411/000095012311054303/0000950123-11-054303.txt').read()
# soup = bs.BeautifulSoup(source,'lxml')
# div = soup.find_all('div')
# list_legend = []
# dic_legend = {}
# for i in div:
#     z = re.match(r'\(([^()]*)\)',i.text)
#     if z:
#         list_legend.append(i.text)
# #         print(i.text)
# # print(list_legend)
# p = re.compile('\(([\w]*)\)')
# for counter, value in enumerate(list_legend):
#     if p.match(value):
# #         print(value)
#         if value not in dic_legend.keys():
# #             print(value[4:])
#             dic_legend[value[0:3]] = value[4:]
# #             if counter < len(list_legend):
# #                 dic_legend[value] = list_legend[counter + 1]
# dic_legend

{'(a)': '\xa0\xa0\xa0Securities are valued by using policies described in Note 2 to the financial statements in the\nmost recent Annual Report dated Dec. 31, 2010.\n',
 '(b)': '\xa0\xa0\xa0Non-income producing.\n',
 '(c)': '\xa0\xa0\xa0Foreign security values are stated in U.S. dollars. At March\xa031, 2011, the value of foreign\nsecurities, excluding short-term securities, represented 5.35% of net assets.\n',
 '(d)': '\xa0\xa0Represents fractional shares.\n',
 '(e)': '\xa0\xa0At March\xa031, 2011, security was partially or fully on loan.\n',
 '(f)': '\xa0\xa0Affiliated Money Market Fund \x97 The Fund may invest its daily cash balance in Columbia\nShort-Term Cash Fund, a money market fund established for the exclusive use of funds and other\ninstitutional clients of Columbia Management. The rate shown is the seven-day current annualized\nyield at March\xa031, 2011.\n',
 '(g)': '\xa0\xa0The table below represents securities received as collateral for repurchase agreements. This\ncollateral, which is generally high quality short-term obligations, is deposited with the Fund\x92s\ncustodian and, pursuant to the terms of the repurchase agreement, must have an aggregate market\nvalue greater than or equal to the repurchase price plus accrued interest at all times. The value\nof securities and/or cash held as collateral for repurchase agreements is monitored on a daily\nbasis to ensure the existence of the proper level of collateral.\n',
 '(h)': '\xa0\xa0At March\xa031, 2011, the cost of securities for federal income tax purposes was approximately\n$1,688,792,000 and the approximate aggregate gross unrealized appreciation and depreciation based\non that cost was:\n'}

In [1066]:
def get_fundname_time(url):
    source = urllib.request.urlopen(url).read()
    soup = bs.BeautifulSoup(source,'lxml')
    div = soup.find_all('div')
    hybrid_list = []
    # fund_name
    for i in div:
        if "Unaudited" in i.text:
            hybrid_list.append(i.text[0:i.text.find("Unaudited")-1]);
    for i in hybrid_list:
        items = i.split("\n")
        for counter, value in enumerate(items):
            if value == "Portfolio of Investments":
                return items[counter + 1], items[counter + 2]

In [1068]:
url = 'https://www.sec.gov/Archives/edgar/data/316411/000095012311054303/0000950123-11-054303.txt'
# url = 'https://www.sec.gov/Archives/edgar/data/316411/000095012309065935/0000950123-09-065935.txt'
print(get_fundname_time(url))

('Seligman Growth Fund', 'March\xa031, 2011 ')

In [1065]:
# url = 'https://www.sec.gov/Archives/edgar/data/316411/000095012311054303/0000950123-11-054303.txt'
# source = urllib.request.urlopen(url).read()
# soup = bs.BeautifulSoup(source,'lxml')
# div = soup.find_all('div')
# # pattern = re.compile('Unaudited')
# # report_date = "";
# hybrid_list = []
# # fund_name
# for i in div:
#     if "Unaudited" in i.text:
#         hybrid_list.append(i.text[0:i.text.find("Unaudited")-1]);
# hybrid_list
# for i in hybrid_list:
#     print(i.split("\n"))
#         print(i.text[0:i.text.find("Unaudited")])
#     m = re.match(pattern, i.text)
#     if m:
#         print(i.text)
#         report_date = i.text.split(":")[1].strip()

['', 'Portfolio of Investments', 'Seligman Growth Fund', 'March\xa031, 2011 ']
['Portfolio of Investments', 'Seligman Growth Fund', 'March\xa031, 2011 ']

In [1049]:
# report_date

''

In [519]:
# def parse(table, output):
#     for i in range(1,5):
#         df = table[i].dropna(axis = 0, how = 'all')
#         df = df.drop(columns=[1,2,5,6,8])
#         df = df.dropna(thresh = 2)
#         df = df.rename(columns={0: "Holding", 3:"Share", 4 : "legend" , 7:"Value"})
#         df = df.drop(1)
#         df = df[df.Holding != 'Total']
#         df = df[df['Holding'].notna()]
#         # add a filter in case there is a total file in the end
#         filterF = df['Holding'].str.contains("Total")
#         df = df[~filterF]
# #         df.reset_index()
# #         df.drop(df.index)
#         output = output.append(df)
#     return output

In [206]:
def parse(table, output, i):
    df = table[i].dropna(axis = 0, how = 'all')
    df = df.drop(columns=[1,2,5,6,8])
    df = df.dropna(thresh = 2)
    df = df.rename(columns={0: "Holding", 3:"Share", 4 : "legend" , 7:"Value"})
    df = df.drop(1)
    df = df[df.Holding != 'Total']
    df.reset_index()
    df.drop(df.index)
    # add a filter in case there is a total file in the end
    filter = df['Holding'].str.contains("Total")
    df = df[~filter]
    output.append(df)
    return df

In [ ]:
# 'https://www.sec.gov/Archives/edgar/data/316411/0001169232-08-002193.txt',
#   'https://www.sec.gov/Archives/edgar/data/316411/0000950123-11-054303.txt',
#   'https://www.sec.gov/Archives/edgar/data/316411/0000950123-09-065935.txt',
#   'https://www.sec.gov/Archives/edgar/data/316411/0000950123-10-109224.txt',
#   'https://www.sec.gov/Archives/edgar/data/316411/0001169232-07-004458.txt',
#   'https://www.sec.gov/Archives/edgar/data/316411/0000936329-06-000167.txt',
#   'https://www.sec.gov/Archives/edgar/data/316411/0001145443-06-001745.txt',
#   'https://www.sec.gov/Archives/edgar/data/316411/0001169232-09-002769.txt',
#   'https://www.sec.gov/Archives/edgar/data/316411/0000950123-10-053029.txt',
#   'https://www.sec.gov/Archives/edgar/data/316411/0000936329-07-000060.txt',
#   'https://www.sec.gov/Archives/edgar/data/316411/0001169232-08-004392.txt',

In [526]:
import bs4 as bs
import urllib.request
import unicodedata

In [1070]:
def get_legend_for_td(url):
    source = urllib.request.urlopen(url).read()
    soup = bs.BeautifulSoup(source,'lxml')
    div = soup.find_all('td')
    isfound = 0
    list_legend = []
    dic_legend = {}
    for i in div:
        if isfound == 2:
            isfound = 0
            list_legend.append(i.text)
        else:
            if isfound == 1:
                isfound+=1
                continue
            else:
                z = re.match(r'\(([^()]*)\)',i.text)

                if z:
                    isfound = 1
                    list_legend.append(i.text)
                    
    p = re.compile('\(([\w]*)\)')
    for counter, value in enumerate(list_legend):
        if p.match(value):
            if value not in dic_legend.keys():
                dic_legend[value] = list_legend[counter + 1]
    return dic_legend

In [1072]:
def get_legend_for_div(url):
    source = urllib.request.urlopen(url).read()
    soup = bs.BeautifulSoup(source,'lxml')
    div = soup.find_all('div')
    list_legend = []
    dic_legend = {}
    for i in div:
        z = re.match(r'\(([^()]*)\)',i.text)
        if z:
            list_legend.append(i.text)
    p = re.compile('\(([\w]*)\)')
    for counter, value in enumerate(list_legend):
        if p.match(value):
            if value not in dic_legend.keys():
                dic_legend[value[0:3]] = value[4:]
    return dic_legend

In [1073]:
print(get_legend_for_div(url))

{'(a)': '\xa0\xa0\xa0Securities are valued by using policies described in Note 2 to the financial statements in the\nmost recent Annual Report dated Dec. 31, 2010.\n', '(b)': '\xa0\xa0\xa0Non-income producing.\n', '(c)': '\xa0\xa0\xa0Foreign security values are stated in U.S. dollars. At March\xa031, 2011, the value of foreign\nsecurities, excluding short-term securities, represented 5.35% of net assets.\n', '(d)': '\xa0\xa0Represents fractional shares.\n', '(e)': '\xa0\xa0At March\xa031, 2011, security was partially or fully on loan.\n', '(f)': '\xa0\xa0Affiliated Money Market Fund \x97 The Fund may invest its daily cash balance in Columbia\nShort-Term Cash Fund, a money market fund established for the exclusive use of funds and other\ninstitutional clients of Columbia Management. The rate shown is the seven-day current annualized\nyield at March\xa031, 2011.\n', '(g)': '\xa0\xa0The table below represents securities received as collateral for repurchase agreements. This\ncollateral, which is generally high quality short-term obligations, is deposited with the Fund\x92s\ncustodian and, pursuant to the terms of the repurchase agreement, must have an aggregate market\nvalue greater than or equal to the repurchase price plus accrued interest at all times. The value\nof securities and/or cash held as collateral for repurchase agreements is monitored on a daily\nbasis to ensure the existence of the proper level of collateral.\n', '(h)': '\xa0\xa0At March\xa031, 2011, the cost of securities for federal income tax purposes was approximately\n$1,688,792,000 and the approximate aggregate gross unrealized appreciation and depreciation based\non that cost was:\n'}

In [754]:
def parseAll(table, output):
    colDic = {}
    for i in range(len(table)):
        df = table[i].dropna(axis = 1, how = 'all')
        df = df.dropna(axis = 0, how = 'all')
        df = df.dropna(thresh = 3)
        output = output.append(df)
    for col in output.columns:
        colDic[col] = "Col" + str(col)
#         output = output[output[col].notna()]
    output = output.rename(columns=colDic)
    
    return output

In [704]:
def getHolding(output):
    colDic = {}
    for i in output.columns:
        if i == 0:
            colDic[i] = "Holding"
        elif i == 3:
            colDic[i] = "Share"
        elif i == 4:
            colDic[i] = "legend"
        elif i == 7:
            colDic[i] = "Value"
        else:
            colDic[i] = "Col" + str(i)
    output = output.rename(columns=colDic)
#     output = output.dropna(subset=["Holding", "Share", "Value"])
#     output = output.dropna(axis = 0, how = 'all') # drop row if all row is NAN
#     output = output.dropna(thresh = 3)
#     output = output.dropna(axis = 1, how = 'all') # drop col if all col is NAN
#     for i in output.columns:
#         if i == 'Holding':
#             continue
#         elif i == 'Share':
#             continue
#         elif i == 'legend':
#             continue
#         elif i == 'Col6':
#             continue
#         elif i == 'Value':
#             continue
#         else:
#             bool_series = pd.isnull(output[i])
#             output = output[bool_series]
    return output

In [1163]:
def rename_clean_df(df, share_col, value_col, legend_col):
    num = 0
    colDic = {}
    has_legend = False
    if legend_col is not None:
        has_legend = True
    for i in df.columns:
        if num == 0:
            colDic[i] = "Holding"
            df = df[df[i].notnull()]
            num+=1
        elif i == share_col:
            colDic[i] = "Share"
            df = df[df[i].notnull()]
        elif i == value_col:
            colDic[i] = "Value"
            df = df[df[i].notnull()]
        elif has_legend and i == legend_col:
            colDic[i] = "Legend"
        else:
            df = df[~df[i].notnull()]
            df = df.drop(i,axis=1)
        
    df = df.rename(columns=colDic)    
    return df

In [860]:
def clean_data(df):
    # this function will drop column that has more than 80% nan value
    for i in df.columns:
        if sum(df[i].isnull())/len(df) >= 0.8:
            del df[i]
    # drop any row contains any nan
    df = df.dropna(how='any')
    # drop any row contains duplicate values
    df = df[~df.nunique(axis = 1).eq(1)]
    return df

In [940]:
#designed for table has legend data info:
# will keep 4 rows of data
def clean_data_2(df):
    # this function will drop column that has more than 80% nan value
    for i in df.columns:
        if sum(df[i].isnull())/len(df) >= 0.8:
            del df[i]
    # drop any row contains any nan
#     df = df.dropna(how='any')
    # drop any row contains duplicate values
    df = df[~df.nunique(axis = 1).eq(1)]
    return df

In [1074]:
def find_legend_col(df):
    count = 0
    for i in df.columns:
        count = 0
        for items in df[i]:
            if count == 10:
                break
            z = re.match(r'\(([^()]*)\)',str(items))
            count+=1
            if z:
                return i;
    return None

In [1093]:
def find_value_shares_col(df):
    count = 0
    col1 = -1
    col2 = -1
    for i in df.columns:
        count = 0
        for items in df[i]:
            if count == 10:
                break
            z = any(i.isdigit() for i in str(items))
#             print(any(i.isdigit() for i in str(items)))
            count+=1
            if z:
#                 print()
                if col1 == -1: 
                    col1 = i
                else:
                    if col1 == i:
                        continue
                    if col2 == -1:
                        col2 = i
    return col1,col2

In [1171]:
def construct_table_on_one_file(CIK, text, url):
    fundname, time = get_fundname_time(url)
    table = pd.read_html(url)
    df = pd.DataFrame()
    df = parseAll(table,df)
    df = clean_data_2(df) # or use clean_data_1
    share_col, value_col = find_value_shares_col(df)
    legend_col = find_legend_col(df)
    legend_dic = {}
    if legend_col is not None:
        legend_dic = get_legend_for_div(url)
    df = rename_clean_df(df, share_col,value_col, legend_col)
    return df

In [1175]:
url = 'https://www.sec.gov/Archives/edgar/data/316411/000095012309065935/0000950123-09-065935.txt'

In [1176]:
construct_table_on_one_file(CIK, text, url)

                            Holding    Share   Legend     Value
4                    Honeywell Intl   311757      NaN  11581773
5                               ITT   249000      (d)  12985350
6                   Lockheed Martin   105288      NaN   8220887
7               Precision Castparts   110700      NaN  11277009
13       United Parcel Service Cl B   167800      NaN   9475666
16                            Amgen   551956      (b)  33244310
17                      Biogen Idec   225256      (b)  11379933
18                  Gilead Sciences   486446    (b,d)  22658655
19           Vertex Pharmaceuticals   228400    (b,d)   8656360
25                          Invesco   764790      NaN  17406620
28                         Monsanto   284910      NaN  22052034
29      Potash Corp of Saskatchewan   218211      (c)  19713182
35                 Wells Fargo & Co   280400      NaN   7901672
38                    Cisco Systems  1076881      (b)  25349779
39                         QUALCOMM  1034492      NaN  46531450
45                            Apple   379159      (b)  70284704
46                  Hewlett-Packard  1856414      NaN  87641304
52                            Fluor   113133      NaN   5752813
55            Capital One Financial   440934      (d)  15754572
3                 Apollo Group Cl A   156500      (b)  11529355
4                          Coinstar  1087408    (b,d)  35862716
10                  Bank of America   370481      NaN   6268538
11                        CME Group    10941      (d)   3371907
17                          ABB ADR   586000  (b,c,d)  11743440
20               Natl Oilwell Varco   372700      (b)  16074551
21                       Transocean   190436    (b,c)  16287991
22                 Weatherford Intl  1104699    (b,c)  22900410
28              BJs Wholesale Club   341429    (b,d)  12366558
29                     CVS Caremark   779430      NaN  27856829
35                          Kellogg   241400      NaN  11884122
..                              ...      ...      ...       ...
11                  MasterCard Cl A   288047      (d)  58228701
17                         Illumina   682139    (b,d)  28990908
20                       Deere & Co   401287      NaN  17223238
21                       Joy Global   205900      (d)  10076746
27                     Virgin Media  1676348    (d,e)  23334764
30                     Barrick Gold   457651      (c)  17344973
31              United States Steel   210100      (d)   9322137
37                           Kohls   509167    (b,d)  29047977
38                           Target  1254171      NaN  58544703
44  Public Service Enterprise Group   211800      NaN   6658992
47                           Apache   263326      (d)  24181227
48     Kinder Morgan Management LLC            (b,g)        20
49                     Noble Energy   179845      (d)  11862576
50              Southwestern Energy   187100    (b,d)   7985428
56                    Avon Products   974484      NaN  33093477
59              Abbott Laboratories   678600      NaN  33570343
60                Johnson & Johnson   269951      NaN  16437316
61      Medicis Pharmaceutical Cl A   374900      NaN   8004115
62                           Pfizer   993053      (d)  16435027
68                   FTI Consulting   255210    (b,d)  10874498
3                               CSX   235300      (d)   9849658
4                     Union Pacific   404618      NaN  23609460
10                            Intel   943975      NaN  18473591
11         Marvell Technology Group  2610056  (b,c,d)  42256806
17              Activision Blizzard  1901464      (b)  23559138
18                   Citrix Systems   420851    (b,d)  16509985
19                           McAfee   436400    (b,d)  19109956
20                           Oracle   953157      NaN  19863792
21                             Rovi  1473073    (b,d)  49495252
27               Philip Morris Intl   990675      NaN  48285500

[74 rows x 4 columns]

In [1177]:
url = 'https://www.sec.gov/Archives/edgar/data/316411/000095012311054303/0000950123-11-054303.txt'
construct_table_on_one_file(CIK, text, url)

                                        Holding     Share   Legend     Value
3                     Precision Castparts Corp.    127100      (e)  18706578
4                     United Technologies Corp.    319100      NaN  27011815
10         United Parcel Service, Inc., ClassB    226100      NaN  16803752
13                                Autoliv, Inc.    260800      (c)  19359184
16                Alexion Pharmaceuticals, Inc.    155200    (b,e)  15315136
17                                Celgene Corp.    151700      (b)   8727301
18                               Dendreon Corp.    329900      (b)  12348157
24                              BlackRock, Inc.     90400      NaN  18171304
25                     Franklin Resources, Inc.    106200      NaN  13283496
26                               Morgan Stanley    445100      NaN  12160132
32                     Celanese Corp., SeriesA    203400      NaN   9024858
33                         PPG Industries, Inc.    105400      NaN  10035134
39                          Fifth Third Bancorp    447800      NaN   6215464
42                                  Ciena Corp.    362200    (b,e)   9402712
43                          Cisco Systems, Inc.    323781      NaN   5552844
44                           JDS Uniphase Corp.    283300      (b)   5903972
45                       Juniper Networks, Inc.    499900    (b,e)  21035792
46                               QUALCOMM, Inc.    841000      NaN  46112030
52                                  Apple, Inc.    253059      (b)  88178409
53                                    EMC Corp.   1721600    (b,e)  45708480
59                            Foster Wheeler AG    186400  (b,c,e)   7012368
60                                    KBR, Inc.    385200      NaN  14549004
3                          Crown Holdings, Inc.    263500      (b)  10165830
4                    Packaging Corp. of America    310634      NaN   8974216
10                         JPMorgan Chase & Co.    376400      NaN  17352040
13                         Emerson Electric Co.    452600      NaN  26445418
14                    Rockwell Automation, Inc.     92800      NaN   8783520
20                                Corning, Inc.    570700      NaN  11773541
21                         TE Connectivity Ltd.    370900      (c)  12914738
27                              Halliburton Co.    480600      NaN  23953104
..                                          ...       ...      ...       ...
6                                Allergan, Inc.    253700      NaN  18017774
7                                   Perrigo Co.    186100      (e)  14798672
8                  Watson Pharmaceuticals, Inc.    127000      (b)   7113270
14             JB Hunt Transport Services, Inc.    294100      NaN  13358022
15                          Union Pacific Corp.    184900      NaN  18181217
21                 Advanced Micro Devices, Inc.    832400      (b)   7158640
22  Fairchild Semiconductor International, Inc.    480200    (b,e)   8739640
23                Marvell Technology Group Ltd.    485800    (b,c)   7554190
24                  Netlogic Microsystems, Inc.    220300    (b,e)   9257006
25                     Skyworks Solutions, Inc.    515400    (b,e)  16709268
26                      Texas Instruments, Inc.    518100      NaN  17905536
32                               Autodesk, Inc.    296400      (b)  13074204
33                                 Intuit, Inc.    287400      (b)  15260940
34                              Microsoft Corp.    965800      NaN  24492688
35                                 Oracle Corp.   1671157      NaN  55766509
36                         Salesforce.com, Inc.     55900    (b,e)   7467122
37                         SuccessFactors, Inc.    399500    (b,e)  15616455
43             Abercrombie & Fitch Co., ClassA    181200      NaN  10636440
44                  Dicks Sporting Goods, Inc.    381800    (b,e)  15264364
45                         Limited Brands, Inc.    316700      NaN  10413096
46                       Lowes Companies, Inc.    700600      (e)  18516858
52                                  Coach, Inc.    295900      NaN  15398636
53                                 Fossil, Inc.    171100    (b,e)  16023515
54                    Lululemon Athletica, Inc.     77100  (b,c,e)   6865755
60            Philip Morris International, Inc.    561075      (e)  36823352
63                         United Rentals, Inc.    163800    (b,e)   5451264
66                American Tower Corp., ClassA    206400      (b)  10695648
67           Millicom International Cellular SA     91400      (c)   8789938
68                           NII Holdings, Inc.    285600      (b)  11900952
2         Columbia Short-Term Cash Fund, 0.229%  26431500      (f)  26431500

[107 rows x 4 columns]

In [ ]:
https://www.sec.gov/Archives/edgar/data/881466/000116923207003736/0001169232-07-003736.txt

In [972]:
url_cik = 'https://www.sec.gov/Archives/edgar/data/316411/000095012311054303/0000950123-11-054303.txt'
tb1 = pd.read_html(url_cik)
len(tb1)

46

In [1164]:
df_cik = pd.DataFrame()
df_cik = parseAll(tb1,df_cik)
df_cik

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Col13,Col14,Col15,Col16
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Precision Castparts Corp.,NaN,NaN,127100,(e),NaN,$,18706578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Technologies Corp.,NaN,NaN,319100,NaN,NaN,NaN,27011815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"United Parcel Service, Inc., ClassB",NaN,NaN,226100,NaN,NaN,NaN,16803752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Autoliv, Inc.",NaN,NaN,260800,(c),NaN,NaN,19359184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Alexion Pharmaceuticals, Inc.",NaN,NaN,155200,"(b,e)",NaN,NaN,15315136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Celgene Corp.,NaN,NaN,151700,(b),NaN,NaN,8727301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Dendreon Corp.,NaN,NaN,329900,(b),NaN,NaN,12348157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"BlackRock, Inc.",NaN,NaN,90400,NaN,NaN,NaN,18171304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Franklin Resources, Inc.",NaN,NaN,106200,NaN,NaN,NaN,13283496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Morgan Stanley,NaN,NaN,445100,NaN,NaN,NaN,12160132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Celanese Corp., SeriesA",NaN,NaN,203400,NaN,NaN,NaN,9024858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"PPG Industries, Inc.",NaN,NaN,105400,NaN,NaN,NaN,10035134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Fifth Third Bancorp,NaN,NaN,447800,NaN,NaN,NaN,6215464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Ciena Corp.,NaN,NaN,362200,"(b,e)",NaN,NaN,9402712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Cisco Systems, Inc.",NaN,NaN,323781,NaN,NaN,NaN,5552844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,JDS Uniphase Corp.,NaN,NaN,283300,(b),NaN,NaN,5903972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"Juniper Networks, Inc.",NaN,NaN,499900,"(b,e)",NaN,NaN,21035792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"QUALCOMM, Inc.",NaN,NaN,841000,NaN,NaN,NaN,46112030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,"Apple, Inc.",NaN,NaN,253059,(b),NaN,NaN,88178409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,EMC Corp.,NaN,NaN,1721600,"(b,e)",NaN,NaN,45708480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Foster Wheeler AG,NaN,NaN,186400,"(b,c,e)",NaN,NaN,7012368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"KBR, Inc.",NaN,NaN,385200,NaN,NaN,NaN,14549004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Crown Holdings, Inc.",NaN,NaN,263500,(b),NaN,NaN,10165830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Packaging Corp. of America,NaN,NaN,310634,NaN,NaN,NaN,8974216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,JPMorgan Chase & Co.,NaN,NaN,376400,NaN,NaN,NaN,17352040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Emerson Electric Co.,NaN,NaN,452600,NaN,NaN,NaN,26445418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Rockwell Automation, Inc.",NaN,NaN,92800,NaN,NaN,NaN,8783520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Corning, Inc.",NaN,NaN,570700,NaN,NaN,NaN,11773541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,Unrealized depreciation,NaN,NaN,"(16,278,000",),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Net unrealized appreciation,NaN,$,343332000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,"Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011"
2,NaN,NaN,Level 1,Level 1,Level 1,NaN,Level 2,Level 2,Level 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,quoted prices,quoted prices,quoted prices,NaN,other,other,other,NaN,Level 3,Level 3,Level 3,NaN,NaN,NaN,NaN
4,NaN,NaN,in active,in active,in active,NaN,significant,significant,significant,NaN,significant,significant,significant,NaN,NaN,NaN,NaN
5,NaN,NaN,markets for,markets for,markets for,NaN,observable,observable,observable,NaN,unobservable,unobservable,unobservable,NaN,NaN,NaN,NaN
6,Description(a),NaN,identical assets,identical assets,identical assets,NaN,inputs(b),inputs(b),inputs(b),NaN,inputs,inputs,inputs,NaN,Total,Total,Total
10,"Oil, Gas & Consumable Fuels",NaN,$,135538972,NaN,NaN,$,28,NaN,NaN,$,,NaN,NaN,$,135539000,NaN
11,All Other Industries,NaN,NaN,1589466361,NaN,NaN,NaN,,NaN,NaN,NaN,,NaN,NaN,NaN,1589466361,NaN
13,Total Equity Securities,NaN,NaN,1725005333,NaN,NaN,NaN,28,NaN,NaN,NaN,,NaN,NaN,NaN,1725005361,NaN
17,Affiliated Money Market Fund(c),NaN,NaN,26431500,NaN,NaN,NaN,,NaN,NaN,NaN,,NaN,NaN,NaN,26431500,NaN
18,Investments of Cash Collateral Received for Se...,NaN,NaN,,NaN,NaN,NaN,280687575,NaN,NaN,NaN,,NaN,NaN,NaN,280687575,NaN
20,Total Other,NaN,NaN,26431500,NaN,NaN,NaN,280687575,NaN,NaN,NaN,,NaN,NaN,NaN,307119075,NaN
23,Total,NaN,$,1751436833,NaN,NaN,$,280687603,NaN,NaN,$,,NaN,NaN,$,2032124436,NaN
2,By,NaN,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,NaN,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,By,NaN,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,NaN,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,By,NaN,/s/ Michael G. Clarke,/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Michael G. Clarke Treasurer and Principal Fina...,Michael G. Clarke Treasurer and Principal Fina...,Michael G. Clarke Treasurer and Principal Fina...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Date,NaN,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Date: May 20, 2011",/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,J. Kevin Connaughton,J. Kevin Connaughton,J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,President and Principal Executive Officer,President and Principal Executive Officer,President and Principal Executive Officer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Date: May 20, 2011",/s/ Michael G. Clarke,/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Michael G. Clarke,Michael G. Clarke,Michael G. Clarke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Treasurer and Principal Financial Officer,Treasurer and Principal Financial Officer,Treasurer and Principal Financial Officer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [1165]:
df_cik = clean_data_2(df_cik)
df_cik

,Col0,Col2,Col3,Col4,Col7,Col11
1,Issuer,Shares,Shares,NaN,Value(a),NaN
3,Precision Castparts Corp.,NaN,127100,(e),18706578,NaN
4,United Technologies Corp.,NaN,319100,NaN,27011815,NaN
10,"United Parcel Service, Inc., ClassB",NaN,226100,NaN,16803752,NaN
13,"Autoliv, Inc.",NaN,260800,(c),19359184,NaN
16,"Alexion Pharmaceuticals, Inc.",NaN,155200,"(b,e)",15315136,NaN
17,Celgene Corp.,NaN,151700,(b),8727301,NaN
18,Dendreon Corp.,NaN,329900,(b),12348157,NaN
24,"BlackRock, Inc.",NaN,90400,NaN,18171304,NaN
25,"Franklin Resources, Inc.",NaN,106200,NaN,13283496,NaN
26,Morgan Stanley,NaN,445100,NaN,12160132,NaN
32,"Celanese Corp., SeriesA",NaN,203400,NaN,9024858,NaN
33,"PPG Industries, Inc.",NaN,105400,NaN,10035134,NaN
39,Fifth Third Bancorp,NaN,447800,NaN,6215464,NaN
42,Ciena Corp.,NaN,362200,"(b,e)",9402712,NaN
43,"Cisco Systems, Inc.",NaN,323781,NaN,5552844,NaN
44,JDS Uniphase Corp.,NaN,283300,(b),5903972,NaN
45,"Juniper Networks, Inc.",NaN,499900,"(b,e)",21035792,NaN
46,"QUALCOMM, Inc.",NaN,841000,NaN,46112030,NaN
52,"Apple, Inc.",NaN,253059,(b),88178409,NaN
53,EMC Corp.,NaN,1721600,"(b,e)",45708480,NaN
59,Foster Wheeler AG,NaN,186400,"(b,c,e)",7012368,NaN
60,"KBR, Inc.",NaN,385200,NaN,14549004,NaN
1,Issuer,Shares,Shares,NaN,Value(a),NaN
3,"Crown Holdings, Inc.",NaN,263500,(b),10165830,NaN
4,Packaging Corp. of America,NaN,310634,NaN,8974216,NaN
10,JPMorgan Chase & Co.,NaN,376400,NaN,17352040,NaN
13,Emerson Electric Co.,NaN,452600,NaN,26445418,NaN
14,"Rockwell Automation, Inc.",NaN,92800,NaN,8783520,NaN
20,"Corning, Inc.",NaN,570700,NaN,11773541,NaN
...,...,...,...,...,...,...
14,Total Market Value of Collateral Securities,$,5250000,NaN,NaN,NaN
1,Security Description,Value (a),Value (a),Value (a),NaN,NaN
3,Breeds Hill Capital Ltd,$,6944,NaN,NaN,NaN
30,Total Market Value of Collateral Securities,$,51000005,NaN,NaN,NaN
1,Security Description,Value (a),Value (a),Value (a),NaN,NaN
3,Government National Mortgage Association,$,14000887,NaN,NaN,NaN
5,Total Market Value of Collateral Securities,$,14000887,NaN,NaN,NaN
2,Unrealized appreciation,$,359610000,NaN,NaN,NaN
3,Unrealized depreciation,NaN,"(16,278,000",),NaN,NaN
5,Net unrealized appreciation,$,343332000,NaN,NaN,NaN
2,NaN,Level 1,Level 1,Level 1,Level 2,NaN
3,NaN,quoted prices,quoted prices,quoted prices,other,Level 3
4,NaN,in active,in active,in active,significant,significant
5,NaN,markets for,markets for,markets for,observable,unobservable
6,Description(a),identical assets,identical assets,identical assets,inputs(b),inputs
10,"Oil, Gas & Consumable Fuels",$,135538972,NaN,28,
11,All Other Industries,NaN,1589466361,NaN,,
13,Total Equity Securities,NaN,1725005333,NaN,28,
17,Affiliated Money Market Fund(c),NaN,26431500,NaN,,
18,Investments of Cash Collateral Received for Se...,NaN,,NaN,280687575,
20,Total Other,NaN,26431500,NaN,280687575,
23,Total,$,1751436833,NaN,280687603,
2,By,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN
5,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
2,By,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN
5,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
8,By,/s/ Michael G. Clarke,/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN
11,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
2,"Date: May 20, 2011",/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN
2,"Date: May 20, 2011",/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN,NaN

In [1166]:
share_col, value_col = find_value_shares_col(df_cik)

In [1167]:
legend_col = find_legend_col(df_cik)

In [1168]:
print(legend_col)

Col4

In [1169]:
# col2 = df_cik['Col2'].notnull

In [1170]:
df_cik = rename_clean_df(df_cik, share_col,value_col, legend_col)
df_cik

                                        Holding     Share   Legend     Value
3                     Precision Castparts Corp.    127100      (e)  18706578
4                     United Technologies Corp.    319100      NaN  27011815
10         United Parcel Service, Inc., ClassB    226100      NaN  16803752
13                                Autoliv, Inc.    260800      (c)  19359184
16                Alexion Pharmaceuticals, Inc.    155200    (b,e)  15315136
17                                Celgene Corp.    151700      (b)   8727301
18                               Dendreon Corp.    329900      (b)  12348157
24                              BlackRock, Inc.     90400      NaN  18171304
25                     Franklin Resources, Inc.    106200      NaN  13283496
26                               Morgan Stanley    445100      NaN  12160132
32                     Celanese Corp., SeriesA    203400      NaN   9024858
33                         PPG Industries, Inc.    105400      NaN  10035134
39                          Fifth Third Bancorp    447800      NaN   6215464
42                                  Ciena Corp.    362200    (b,e)   9402712
43                          Cisco Systems, Inc.    323781      NaN   5552844
44                           JDS Uniphase Corp.    283300      (b)   5903972
45                       Juniper Networks, Inc.    499900    (b,e)  21035792
46                               QUALCOMM, Inc.    841000      NaN  46112030
52                                  Apple, Inc.    253059      (b)  88178409
53                                    EMC Corp.   1721600    (b,e)  45708480
59                            Foster Wheeler AG    186400  (b,c,e)   7012368
60                                    KBR, Inc.    385200      NaN  14549004
3                          Crown Holdings, Inc.    263500      (b)  10165830
4                    Packaging Corp. of America    310634      NaN   8974216
10                         JPMorgan Chase & Co.    376400      NaN  17352040
13                         Emerson Electric Co.    452600      NaN  26445418
14                    Rockwell Automation, Inc.     92800      NaN   8783520
20                                Corning, Inc.    570700      NaN  11773541
21                         TE Connectivity Ltd.    370900      (c)  12914738
27                              Halliburton Co.    480600      NaN  23953104
..                                          ...       ...      ...       ...
6                                Allergan, Inc.    253700      NaN  18017774
7                                   Perrigo Co.    186100      (e)  14798672
8                  Watson Pharmaceuticals, Inc.    127000      (b)   7113270
14             JB Hunt Transport Services, Inc.    294100      NaN  13358022
15                          Union Pacific Corp.    184900      NaN  18181217
21                 Advanced Micro Devices, Inc.    832400      (b)   7158640
22  Fairchild Semiconductor International, Inc.    480200    (b,e)   8739640
23                Marvell Technology Group Ltd.    485800    (b,c)   7554190
24                  Netlogic Microsystems, Inc.    220300    (b,e)   9257006
25                     Skyworks Solutions, Inc.    515400    (b,e)  16709268
26                      Texas Instruments, Inc.    518100      NaN  17905536
32                               Autodesk, Inc.    296400      (b)  13074204
33                                 Intuit, Inc.    287400      (b)  15260940
34                              Microsoft Corp.    965800      NaN  24492688
35                                 Oracle Corp.   1671157      NaN  55766509
36                         Salesforce.com, Inc.     55900    (b,e)   7467122
37                         SuccessFactors, Inc.    399500    (b,e)  15616455
43             Abercrombie & Fitch Co., ClassA    181200      NaN  10636440
44                  Dicks Sporting Goods, Inc.    381800    (b,e)  15264364
45                         Limited Brands, Inc.    316700      NaN  10413096
46                       Lowes Companies, Inc.    700600      (e)  18516858
52                                  Coach, Inc.    295900      NaN  15398636
53                                 Fossil, Inc.    171100    (b,e)  16023515
54                    Lululemon Athletica, Inc.     77100  (b,c,e)   6865755
60            Philip Morris International, Inc.    561075      (e)  36823352
63                         United Rentals, Inc.    163800    (b,e)   5451264
66                American Tower Corp., ClassA    206400      (b)  10695648
67           Millicom International Cellular SA     91400      (c)   8789938
68                           NII Holdings, Inc.    285600      (b)  11900952
2         Columbia Short-Term Cash Fund, 0.229%  26431500      (f)  26431500

[107 rows x 4 columns]

In [1154]:
# df_cik = df_cik.drop('Col2',axis=1)
# df_cik

,Holding,Share,Legend,Value,Col11
3,Precision Castparts Corp.,127100,(e),18706578,NaN
4,United Technologies Corp.,319100,NaN,27011815,NaN
10,"United Parcel Service, Inc., ClassB",226100,NaN,16803752,NaN
13,"Autoliv, Inc.",260800,(c),19359184,NaN
16,"Alexion Pharmaceuticals, Inc.",155200,"(b,e)",15315136,NaN
17,Celgene Corp.,151700,(b),8727301,NaN
18,Dendreon Corp.,329900,(b),12348157,NaN
24,"BlackRock, Inc.",90400,NaN,18171304,NaN
25,"Franklin Resources, Inc.",106200,NaN,13283496,NaN
26,Morgan Stanley,445100,NaN,12160132,NaN
32,"Celanese Corp., SeriesA",203400,NaN,9024858,NaN
33,"PPG Industries, Inc.",105400,NaN,10035134,NaN
39,Fifth Third Bancorp,447800,NaN,6215464,NaN
42,Ciena Corp.,362200,"(b,e)",9402712,NaN
43,"Cisco Systems, Inc.",323781,NaN,5552844,NaN
44,JDS Uniphase Corp.,283300,(b),5903972,NaN
45,"Juniper Networks, Inc.",499900,"(b,e)",21035792,NaN
46,"QUALCOMM, Inc.",841000,NaN,46112030,NaN
52,"Apple, Inc.",253059,(b),88178409,NaN
53,EMC Corp.,1721600,"(b,e)",45708480,NaN
59,Foster Wheeler AG,186400,"(b,c,e)",7012368,NaN
60,"KBR, Inc.",385200,NaN,14549004,NaN
3,"Crown Holdings, Inc.",263500,(b),10165830,NaN
4,Packaging Corp. of America,310634,NaN,8974216,NaN
10,JPMorgan Chase & Co.,376400,NaN,17352040,NaN
13,Emerson Electric Co.,452600,NaN,26445418,NaN
14,"Rockwell Automation, Inc.",92800,NaN,8783520,NaN
20,"Corning, Inc.",570700,NaN,11773541,NaN
21,TE Connectivity Ltd.,370900,(c),12914738,NaN
27,Halliburton Co.,480600,NaN,23953104,NaN
...,...,...,...,...,...
14,"JB Hunt Transport Services, Inc.",294100,NaN,13358022,NaN
15,Union Pacific Corp.,184900,NaN,18181217,NaN
21,"Advanced Micro Devices, Inc.",832400,(b),7158640,NaN
22,"Fairchild Semiconductor International, Inc.",480200,"(b,e)",8739640,NaN
23,Marvell Technology Group Ltd.,485800,"(b,c)",7554190,NaN
24,"Netlogic Microsystems, Inc.",220300,"(b,e)",9257006,NaN
25,"Skyworks Solutions, Inc.",515400,"(b,e)",16709268,NaN
26,"Texas Instruments, Inc.",518100,NaN,17905536,NaN
32,"Autodesk, Inc.",296400,(b),13074204,NaN
33,"Intuit, Inc.",287400,(b),15260940,NaN
34,Microsoft Corp.,965800,NaN,24492688,NaN
35,Oracle Corp.,1671157,NaN,55766509,NaN
36,"Salesforce.com, Inc.",55900,"(b,e)",7467122,NaN
37,"SuccessFactors, Inc.",399500,"(b,e)",15616455,NaN
43,"Abercrombie & Fitch Co., ClassA",181200,NaN,10636440,NaN
44,"Dicks Sporting Goods, Inc.",381800,"(b,e)",15264364,NaN
45,"Limited Brands, Inc.",316700,NaN,10413096,NaN
46,"Lowes Companies, Inc.",700600,(e),18516858,NaN
52,"Coach, Inc.",295900,NaN,15398636,NaN
53,"Fossil, Inc.",171100,"(b,e)",16023515,NaN
54,"Lululemon Athletica, Inc.",77100,"(b,c,e)",6865755,NaN
60,"Philip Morris International, Inc.",561075,(e),36823352,NaN
63,"United Rentals, Inc.",163800,"(b,e)",5451264,NaN
66,"American Tower Corp., ClassA",206400,(b),10695648,NaN
67,Millicom International Cellular SA,91400,(c),8789938,NaN
68,"NII Holdings, Inc.",285600,(b),11900952,NaN
72,"Total Common Stocks (Cost: $1,381,672,934)",NaN,NaN,1725005361,NaN
2,"Columbia Short-Term Cash Fund, 0.229%",26431500,(f),26431500,NaN
4,"Total Money Market Fund (Cost: $26,431,500)",NaN,NaN,26431500,NaN
3,Unrealized depreciation,"(16,278,000",),NaN,NaN

In [1151]:
# df_cik = df_cik[~df_cik.Col2.notnull()]
# df_cik

In [983]:
tb1[7]

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,Effective,Effective,Effective,NaN,Amount payable,Amount payable,Amount payable,NaN,NaN,NaN,NaN
2,Issuer,NaN,yield,yield,yield,NaN,at maturity,at maturity,at maturity,NaN,Value(a),Value(a),Value(a)
3,Sumitomo Mitsui Banking Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04-14-11,NaN,NaN,0.330,NaN,NaN,NaN,10000000,NaN,NaN,NaN,10000000,NaN
5,Union Bank of Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,04-18-11,NaN,NaN,0.334,NaN,NaN,NaN,7000000,NaN,NaN,NaN,7000000,NaN
7,United Overseas Bank Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04-18-11,NaN,NaN,0.390,NaN,NaN,NaN,6000000,NaN,NaN,NaN,6000000,NaN
9,Westpac Banking Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,05-09-11,NaN,NaN,0.230,NaN,NaN,NaN,10000000,NaN,NaN,NaN,10000000,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,168000123,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Commercial Paper (1.0%),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,ASB Finance Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,05-03-11,NaN,NaN,0.391,NaN,NaN,NaN,4990575,NaN,NaN,NaN,4990575,NaN
18,Cancara Asset Securitisation LLC,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,04-20-11,NaN,NaN,0.250,NaN,NaN,NaN,1999611,NaN,NaN,NaN,1999611,NaN
20,PB Capital Corp.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,05-16-11,NaN,NaN,0.591,NaN,NaN,NaN,998443,NaN,NaN,NaN,998443,NaN
22,Suncorp Metway Ltd.,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,04-28-11,NaN,NaN,0.300,NaN,NaN,NaN,9997084,NaN,NaN,NaN,9997084,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17985713,NaN
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,Effective,Effective,Effective,NaN,Principal,Principal,Principal,NaN,NaN,NaN,NaN
29,Issuer,NaN,yield,yield,yield,NaN,Amount,Amount,Amount,NaN,Value(a),Value(a),Value(a)
30,Repurchase Agreements (3.9%)(g),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"Barclays Capital, Inc. dated 11-04-10, matures...",NaN,NaN,0.270,%,NaN,$,5000000,NaN,NaN,$,5000000,NaN
32,"Cantor Fitzgerald & Co. dated 03-31-11, mature...",NaN,NaN,0.230,NaN,NaN,NaN,50000000,NaN,NaN,NaN,50000000,NaN
33,"Goldman Sachs & Co. dated 03-31-11, matures 04...",NaN,NaN,0.160,NaN,NaN,NaN,13726360,NaN,NaN,NaN,13726360,NaN
34,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Total,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68726360,NaN
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,NaN,$,280687575,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,"Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...",NaN,$,2032124436,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [946]:
url_c = 'https://www.sec.gov/Archives/edgar/data/881466/000116923207003736/0001169232-07-003736.txt'
tb2 = pd.read_html(url_c)
len(tb2)

22

In [956]:
df_cik1 = pd.DataFrame()
df_cik1 = parseAll(tb2,df_cik1)
df_cik1

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col8,Col9
1,NaN,NaN,Shares,Shares,NaN,Value,Value,NaN,NaN
5,Banco Macro (ADR)* (Commercial Banks),NaN,NaN,28200,NaN,$,799470,NaN,NaN
8,Companhia Vale do Rio Doce CVRD (ADR) (Meta...,NaN,NaN,80858,NaN,NaN,3962851,NaN,NaN
9,Cyrela Brazil Realty (Household Durables),NaN,NaN,91200,NaN,NaN,1067785,NaN,NaN
10,Localiza Rent A CAR (Road and Rail),NaN,NaN,49800,NaN,NaN,511671,NaN,NaN
11,Lupatech (Machinery),NaN,NaN,48400,NaN,NaN,1151341,NaN,NaN
12,OdontoPrev* (Insurance),NaN,NaN,28100,NaN,NaN,805713,NaN,NaN
13,"Petroleo Brasileiro Petrobras (ADR) (Oil, G...",NaN,NaN,60200,NaN,NaN,3906980,NaN,NaN
14,Redecard* (IT Services),NaN,NaN,76400,NaN,NaN,1310317,NaN,NaN
15,Submarino* (Internet and Catalog Retail),NaN,NaN,41500,NaN,NaN,1740827,NaN,NaN
16,Usinas Siderurgicas de Minas Gerais Usiminas...,NaN,NaN,16700,NaN,NaN,1196125,NaN,NaN
21,Lan Airlines (ADR) (Airlines),NaN,NaN,11700,NaN,NaN,936819,NaN,NaN
24,Baoye Group (Construction and Engineering),NaN,NaN,156000,NaN,NaN,318952,NaN,NaN
25,China Life Insurance (Class H)* (Insurance),NaN,NaN,138000,NaN,NaN,584293,NaN,NaN
26,China Mobile (ADR) (Wireless Telecommunicatio...,NaN,NaN,34900,NaN,NaN,2002911,NaN,NaN
27,China Petroleum & Chemical (Class H) Sinopec...,NaN,NaN,1110000,NaN,NaN,1163064,NaN,NaN
28,China Power International Development (Indepe...,NaN,NaN,2162000,NaN,NaN,1137544,NaN,NaN
29,China Resources Enterprise (Distributors),NaN,NaN,336000,NaN,NaN,1345142,NaN,NaN
30,"China Shenhua Energy (Class H)* (Oil, Gas and...",NaN,NaN,441500,NaN,NaN,1737072,NaN,NaN
31,Golden Meditech (Health Care Equipment and Su...,NaN,NaN,1836000,NaN,NaN,926252,NaN,NaN
32,Hopson Development Holdings (Real Estate Mana...,NaN,NaN,240000,NaN,NaN,852371,NaN,NaN
33,Industrial and Commercial Bank of China ICBC...,NaN,NaN,2921000,NaN,NaN,1781452,NaN,NaN
34,Jiangsu Expressway (Transportation Infrastruc...,NaN,NaN,1290000,NaN,NaN,1294927,NaN,NaN
35,Simcere Pharmaceutical (ADR)* (Pharmaceuticals),NaN,NaN,43600,NaN,NaN,516660,NaN,NaN
36,Sinofert Holdings (Chemicals),NaN,NaN,1238000,NaN,NaN,854156,NaN,NaN
37,Wumart Stores (Food and Staples Retailing),NaN,NaN,557178,NaN,NaN,387751,NaN,NaN
42,Zentiva* (Pharmaceuticals),NaN,NaN,25391,NaN,NaN,1484382,NaN,NaN
45,Orascom Construction Industries (Construction...,NaN,NaN,24996,NaN,NaN,1780196,NaN,NaN
46,Orascom Telecom Holding (Wireless Telecommuni...,NaN,NaN,218950,NaN,NaN,2952611,NaN,NaN
51,Bharat Heavy Electricals (Electrical Equipment),NaN,NaN,43012,NaN,NaN,1832432,NaN,NaN
...,...,...,...,...,...,...,...,...,...
126,Alfa Laval (Machinery),NaN,NaN,10050,NaN,NaN,632446,NaN,NaN
129,ABB* (Electrical Equipment),NaN,NaN,53198,NaN,NaN,1278544,NaN,NaN
130,Holcim (Construction Materials),NaN,NaN,8488,NaN,NaN,900547,NaN,NaN
131,Julius Baer Holding (Capital Markets),NaN,NaN,28189,NaN,NaN,1969615,NaN,NaN
132,Nestle (Food Products),NaN,NaN,2698,NaN,NaN,1030739,NaN,NaN
133,Phonak Holding (Health Care Equipment and Sup...,NaN,NaN,5314,NaN,NaN,511168,NaN,NaN
134,"Swatch Group (Textiles, Apparel and Luxury Go...",NaN,NaN,18753,NaN,NaN,1092035,NaN,NaN
135,Xstrata (Metals and Mining),NaN,NaN,29995,NaN,NaN,1905512,NaN,NaN
140,HON HAI Precision Industry (Electronic Equipm...,NaN,NaN,127000,NaN,NaN,1047333,NaN,NaN
143,ARM Holdings (Semiconductors and Semiconducto...,NaN,NaN,445163,NaN,NaN,1321567,NaN,NaN
144,"Burberry Group (Textiles, Apparel and Luxury ...",NaN,NaN,86178,NaN,NaN,1098893,NaN,NaN
145,C.S.R.* (Semiconductors and Semiconductor Equ...,NaN,NaN,30790,NaN,NaN,445122,NaN,NaN
146,Carphone Warehouse Group (Specialty Retail),NaN,NaN,246965,NaN,NaN,1766064,NaN,NaN
147,Invesco (Capital Markets),NaN,NaN,203665,NaN,NaN,2561435,NaN,NaN
148,Man Group (Capital Markets),NaN,NaN,179859,NaN,NaN,2043820,NaN,NaN
149,Reckitt Benckiser (Household Products),NaN,NaN,42395,NaN,NaN,2269781,NaN,NaN
150,Schroders (Capital Markets),NaN,NaN,27273,NaN,NaN,681693,NaN,NaN
151,Smith & Nephew (Health Care Equipment and Sup...,NaN,NaN,131136,NaN,NaN,1554814,NaN,NaN
152,Tesco (Food and Staples Retailing),NaN,NaN,191839,NaN,NaN,1575154,NaN,NaN
160,Net Assets 100.0%,NaN,NaN,NaN,NaN,$,101556554,NaN,NaN
1,Fund,NaN,NaN,Tax Basis Cost,Tax Basis Cost,NaN,NaN,NaN,NaN
3,Emerging Markets Fund,NaN,NaN,$,86710546,NaN,NaN,NaN,NaN
1,Fund,NaN,Total Unrealized Appreciation,Total Unrealized Appreciation,NaN,Total Unrealized Depreciation,Total Unrealized Depreciation,Net Unrealized Appreciation (Depreciation),Net Unrealized Appreciation (Depreciation)
3,Emerging Markets Fund,NaN,$,43802743,NaN,$,947082,$,42855661
4,Global Growth Fund,NaN,NaN,7789514,NaN,NaN,710221,NaN,7079293
5,Global Smaller Companies Fund,NaN,NaN,37634262,NaN,NaN,13123360,NaN,24510902
6,Global Technology Fund,NaN,NaN,37621917,NaN,NaN,12433922,NaN,25187995
7,International Growth Fund,NaN,NaN,13508163,NaN,NaN,1294056,NaN,12214107
9,5,The registrants other certifying officer and ...,The registrants other certifying officer and ...,NaN,NaN,NaN,NaN,NaN,NaN
9,5,The registrants other certifying officer and ...,The registrants other certifying officer and ...,NaN,NaN,NaN,NaN,NaN,NaN

In [957]:
df_cik1 = clean_data_2(df_cik1)
df_cik1

,Col0,Col3,Col6
1,NaN,Shares,Value
5,Banco Macro (ADR)* (Commercial Banks),28200,799470
8,Companhia Vale do Rio Doce CVRD (ADR) (Meta...,80858,3962851
9,Cyrela Brazil Realty (Household Durables),91200,1067785
10,Localiza Rent A CAR (Road and Rail),49800,511671
11,Lupatech (Machinery),48400,1151341
12,OdontoPrev* (Insurance),28100,805713
13,"Petroleo Brasileiro Petrobras (ADR) (Oil, G...",60200,3906980
14,Redecard* (IT Services),76400,1310317
15,Submarino* (Internet and Catalog Retail),41500,1740827
16,Usinas Siderurgicas de Minas Gerais Usiminas...,16700,1196125
21,Lan Airlines (ADR) (Airlines),11700,936819
24,Baoye Group (Construction and Engineering),156000,318952
25,China Life Insurance (Class H)* (Insurance),138000,584293
26,China Mobile (ADR) (Wireless Telecommunicatio...,34900,2002911
27,China Petroleum & Chemical (Class H) Sinopec...,1110000,1163064
28,China Power International Development (Indepe...,2162000,1137544
29,China Resources Enterprise (Distributors),336000,1345142
30,"China Shenhua Energy (Class H)* (Oil, Gas and...",441500,1737072
31,Golden Meditech (Health Care Equipment and Su...,1836000,926252
32,Hopson Development Holdings (Real Estate Mana...,240000,852371
33,Industrial and Commercial Bank of China ICBC...,2921000,1781452
34,Jiangsu Expressway (Transportation Infrastruc...,1290000,1294927
35,Simcere Pharmaceutical (ADR)* (Pharmaceuticals),43600,516660
36,Sinofert Holdings (Chemicals),1238000,854156
37,Wumart Stores (Food and Staples Retailing),557178,387751
42,Zentiva* (Pharmaceuticals),25391,1484382
45,Orascom Construction Industries (Construction...,24996,1780196
46,Orascom Telecom Holding (Wireless Telecommuni...,218950,2952611
51,Bharat Heavy Electricals (Electrical Equipment),43012,1832432
...,...,...,...
120,Gamesa Corporacion Tecnologica (Electrical Eq...,48788,1966736
121,Iberdrola (Electric Utilities),36729,2038394
126,Alfa Laval (Machinery),10050,632446
129,ABB* (Electrical Equipment),53198,1278544
130,Holcim (Construction Materials),8488,900547
131,Julius Baer Holding (Capital Markets),28189,1969615
132,Nestle (Food Products),2698,1030739
133,Phonak Holding (Health Care Equipment and Sup...,5314,511168
134,"Swatch Group (Textiles, Apparel and Luxury Go...",18753,1092035
135,Xstrata (Metals and Mining),29995,1905512
140,HON HAI Precision Industry (Electronic Equipm...,127000,1047333
143,ARM Holdings (Semiconductors and Semiconducto...,445163,1321567
144,"Burberry Group (Textiles, Apparel and Luxury ...",86178,1098893
145,C.S.R.* (Semiconductors and Semiconductor Equ...,30790,445122
146,Carphone Warehouse Group (Specialty Retail),246965,1766064
147,Invesco (Capital Markets),203665,2561435
148,Man Group (Capital Markets),179859,2043820
149,Reckitt Benckiser (Household Products),42395,2269781
150,Schroders (Capital Markets),27273,681693
151,Smith & Nephew (Health Care Equipment and Sup...,131136,1554814
152,Tesco (Food and Staples Retailing),191839,1575154
160,Net Assets 100.0%,NaN,101556554
1,Fund,Tax Basis Cost,NaN
3,Emerging Markets Fund,$,NaN
1,Fund,Total Unrealized Appreciation,Total Unrealized Depreciation
3,Emerging Markets Fund,43802743,947082
4,Global Growth Fund,7789514,710221
5,Global Smaller Companies Fund,37634262,13123360
6,Global Technology Fund,37621917,12433922
7,International Growth Fund,13508163,1294056

In [886]:
ur = 'https://www.sec.gov/Archives/edgar/data/316411/000095012311054303/0000950123-11-054303.txt'
tb = pd.read_html(ur)
len(tb)

46

In [941]:
df = pd.DataFrame()
df = parseAll(table,df)
df

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Col13,Col14,Col15,Col16
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Precision Castparts Corp.,NaN,NaN,127100,(e),NaN,$,18706578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Technologies Corp.,NaN,NaN,319100,NaN,NaN,NaN,27011815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"United Parcel Service, Inc., ClassB",NaN,NaN,226100,NaN,NaN,NaN,16803752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Autoliv, Inc.",NaN,NaN,260800,(c),NaN,NaN,19359184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Alexion Pharmaceuticals, Inc.",NaN,NaN,155200,"(b,e)",NaN,NaN,15315136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Celgene Corp.,NaN,NaN,151700,(b),NaN,NaN,8727301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Dendreon Corp.,NaN,NaN,329900,(b),NaN,NaN,12348157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"BlackRock, Inc.",NaN,NaN,90400,NaN,NaN,NaN,18171304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Franklin Resources, Inc.",NaN,NaN,106200,NaN,NaN,NaN,13283496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Morgan Stanley,NaN,NaN,445100,NaN,NaN,NaN,12160132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Celanese Corp., SeriesA",NaN,NaN,203400,NaN,NaN,NaN,9024858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"PPG Industries, Inc.",NaN,NaN,105400,NaN,NaN,NaN,10035134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Fifth Third Bancorp,NaN,NaN,447800,NaN,NaN,NaN,6215464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Ciena Corp.,NaN,NaN,362200,"(b,e)",NaN,NaN,9402712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Cisco Systems, Inc.",NaN,NaN,323781,NaN,NaN,NaN,5552844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,JDS Uniphase Corp.,NaN,NaN,283300,(b),NaN,NaN,5903972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"Juniper Networks, Inc.",NaN,NaN,499900,"(b,e)",NaN,NaN,21035792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"QUALCOMM, Inc.",NaN,NaN,841000,NaN,NaN,NaN,46112030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,"Apple, Inc.",NaN,NaN,253059,(b),NaN,NaN,88178409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,EMC Corp.,NaN,NaN,1721600,"(b,e)",NaN,NaN,45708480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Foster Wheeler AG,NaN,NaN,186400,"(b,c,e)",NaN,NaN,7012368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"KBR, Inc.",NaN,NaN,385200,NaN,NaN,NaN,14549004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Crown Holdings, Inc.",NaN,NaN,263500,(b),NaN,NaN,10165830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Packaging Corp. of America,NaN,NaN,310634,NaN,NaN,NaN,8974216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,JPMorgan Chase & Co.,NaN,NaN,376400,NaN,NaN,NaN,17352040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Emerson Electric Co.,NaN,NaN,452600,NaN,NaN,NaN,26445418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Rockwell Automation, Inc.",NaN,NaN,92800,NaN,NaN,NaN,8783520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Corning, Inc.",NaN,NaN,570700,NaN,NaN,NaN,11773541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,Unrealized depreciation,NaN,NaN,"(16,278,000",),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Net unrealized appreciation,NaN,$,343332000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,"Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011"
2,NaN,NaN,Level 1,Level 1,Level 1,NaN,Level 2,Level 2,Level 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,quoted prices,quoted prices,quoted prices,NaN,other,other,other,NaN,Level 3,Level 3,Level 3,NaN,NaN,NaN,NaN
4,NaN,NaN,in active,in active,in active,NaN,significant,significant,significant,NaN,significant,significant,significant,NaN,NaN,NaN,NaN
5,NaN,NaN,markets for,markets for,markets for,NaN,observable,observable,observable,NaN,unobservable,unobservable,unobservable,NaN,NaN,NaN,NaN
6,Description(a),NaN,identical assets,identical assets,identical assets,NaN,inputs(b),inputs(b),inputs(b),NaN,inputs,inputs,inputs,NaN,Total,Total,Total
10,"Oil, Gas & Consumable Fuels",NaN,$,135538972,NaN,NaN,$,28,NaN,NaN,$,,NaN,NaN,$,135539000,NaN
11,All Other Industries,NaN,NaN,1589466361,NaN,NaN,NaN,,NaN,NaN,NaN,,NaN,NaN,NaN,1589466361,NaN
13,Total Equity Securities,NaN,NaN,1725005333,NaN,NaN,NaN,28,NaN,NaN,NaN,,NaN,NaN,NaN,1725005361,NaN
17,Affiliated Money Market Fund(c),NaN,NaN,26431500,NaN,NaN,NaN,,NaN,NaN,NaN,,NaN,NaN,NaN,26431500,NaN
18,Investments of Cash Collateral Received for Se...,NaN,NaN,,NaN,NaN,NaN,280687575,NaN,NaN,NaN,,NaN,NaN,NaN,280687575,NaN
20,Total Other,NaN,NaN,26431500,NaN,NaN,NaN,280687575,NaN,NaN,NaN,,NaN,NaN,NaN,307119075,NaN
23,Total,NaN,$,1751436833,NaN,NaN,$,280687603,NaN,NaN,$,,NaN,NaN,$,2032124436,NaN
2,By,NaN,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,NaN,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,By,NaN,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,NaN,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,By,NaN,/s/ Michael G. Clarke,/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Michael G. Clarke Treasurer and Principal Fina...,Michael G. Clarke Treasurer and Principal Fina...,Michael G. Clarke Treasurer and Principal Fina...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Date,NaN,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Date: May 20, 2011",/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,J. Kevin Connaughton,J. Kevin Connaughton,J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,President and Principal Executive Officer,President and Principal Executive Officer,President and Principal Executive Officer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Date: May 20, 2011",/s/ Michael G. Clarke,/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Michael G. Clarke,Michael G. Clarke,Michael G. Clarke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Treasurer and Principal Financial Officer,Treasurer and Principal Financial Officer,Treasurer and Principal Financial Officer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [942]:
df = clean_data_2(df)
df

,Col0,Col2,Col3,Col4,Col7,Col11
1,Issuer,Shares,Shares,NaN,Value(a),NaN
3,Precision Castparts Corp.,NaN,127100,(e),18706578,NaN
4,United Technologies Corp.,NaN,319100,NaN,27011815,NaN
10,"United Parcel Service, Inc., ClassB",NaN,226100,NaN,16803752,NaN
13,"Autoliv, Inc.",NaN,260800,(c),19359184,NaN
16,"Alexion Pharmaceuticals, Inc.",NaN,155200,"(b,e)",15315136,NaN
17,Celgene Corp.,NaN,151700,(b),8727301,NaN
18,Dendreon Corp.,NaN,329900,(b),12348157,NaN
24,"BlackRock, Inc.",NaN,90400,NaN,18171304,NaN
25,"Franklin Resources, Inc.",NaN,106200,NaN,13283496,NaN
26,Morgan Stanley,NaN,445100,NaN,12160132,NaN
32,"Celanese Corp., SeriesA",NaN,203400,NaN,9024858,NaN
33,"PPG Industries, Inc.",NaN,105400,NaN,10035134,NaN
39,Fifth Third Bancorp,NaN,447800,NaN,6215464,NaN
42,Ciena Corp.,NaN,362200,"(b,e)",9402712,NaN
43,"Cisco Systems, Inc.",NaN,323781,NaN,5552844,NaN
44,JDS Uniphase Corp.,NaN,283300,(b),5903972,NaN
45,"Juniper Networks, Inc.",NaN,499900,"(b,e)",21035792,NaN
46,"QUALCOMM, Inc.",NaN,841000,NaN,46112030,NaN
52,"Apple, Inc.",NaN,253059,(b),88178409,NaN
53,EMC Corp.,NaN,1721600,"(b,e)",45708480,NaN
59,Foster Wheeler AG,NaN,186400,"(b,c,e)",7012368,NaN
60,"KBR, Inc.",NaN,385200,NaN,14549004,NaN
1,Issuer,Shares,Shares,NaN,Value(a),NaN
3,"Crown Holdings, Inc.",NaN,263500,(b),10165830,NaN
4,Packaging Corp. of America,NaN,310634,NaN,8974216,NaN
10,JPMorgan Chase & Co.,NaN,376400,NaN,17352040,NaN
13,Emerson Electric Co.,NaN,452600,NaN,26445418,NaN
14,"Rockwell Automation, Inc.",NaN,92800,NaN,8783520,NaN
20,"Corning, Inc.",NaN,570700,NaN,11773541,NaN
...,...,...,...,...,...,...
14,Total Market Value of Collateral Securities,$,5250000,NaN,NaN,NaN
1,Security Description,Value (a),Value (a),Value (a),NaN,NaN
3,Breeds Hill Capital Ltd,$,6944,NaN,NaN,NaN
30,Total Market Value of Collateral Securities,$,51000005,NaN,NaN,NaN
1,Security Description,Value (a),Value (a),Value (a),NaN,NaN
3,Government National Mortgage Association,$,14000887,NaN,NaN,NaN
5,Total Market Value of Collateral Securities,$,14000887,NaN,NaN,NaN
2,Unrealized appreciation,$,359610000,NaN,NaN,NaN
3,Unrealized depreciation,NaN,"(16,278,000",),NaN,NaN
5,Net unrealized appreciation,$,343332000,NaN,NaN,NaN
2,NaN,Level 1,Level 1,Level 1,Level 2,NaN
3,NaN,quoted prices,quoted prices,quoted prices,other,Level 3
4,NaN,in active,in active,in active,significant,significant
5,NaN,markets for,markets for,markets for,observable,unobservable
6,Description(a),identical assets,identical assets,identical assets,inputs(b),inputs
10,"Oil, Gas & Consumable Fuels",$,135538972,NaN,28,
11,All Other Industries,NaN,1589466361,NaN,,
13,Total Equity Securities,NaN,1725005333,NaN,28,
17,Affiliated Money Market Fund(c),NaN,26431500,NaN,,
18,Investments of Cash Collateral Received for Se...,NaN,,NaN,280687575,
20,Total Other,NaN,26431500,NaN,280687575,
23,Total,$,1751436833,NaN,280687603,
2,By,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN
5,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
2,By,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN
5,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
8,By,/s/ Michael G. Clarke,/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN
11,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
2,"Date: May 20, 2011",/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN
2,"Date: May 20, 2011",/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN,NaN

In [888]:
for i in df.columns:
        if sum(df[i].isnull())/len(df) >= 0.8:
            del df[i]

In [889]:
df

,Col0,Col2,Col3,Col4,Col7,Col11
1,Issuer,Shares,Shares,NaN,Value(a),NaN
3,Precision Castparts Corp.,NaN,127100,(e),18706578,NaN
4,United Technologies Corp.,NaN,319100,NaN,27011815,NaN
10,"United Parcel Service, Inc., ClassB",NaN,226100,NaN,16803752,NaN
13,"Autoliv, Inc.",NaN,260800,(c),19359184,NaN
16,"Alexion Pharmaceuticals, Inc.",NaN,155200,"(b,e)",15315136,NaN
17,Celgene Corp.,NaN,151700,(b),8727301,NaN
18,Dendreon Corp.,NaN,329900,(b),12348157,NaN
24,"BlackRock, Inc.",NaN,90400,NaN,18171304,NaN
25,"Franklin Resources, Inc.",NaN,106200,NaN,13283496,NaN
26,Morgan Stanley,NaN,445100,NaN,12160132,NaN
32,"Celanese Corp., SeriesA",NaN,203400,NaN,9024858,NaN
33,"PPG Industries, Inc.",NaN,105400,NaN,10035134,NaN
39,Fifth Third Bancorp,NaN,447800,NaN,6215464,NaN
42,Ciena Corp.,NaN,362200,"(b,e)",9402712,NaN
43,"Cisco Systems, Inc.",NaN,323781,NaN,5552844,NaN
44,JDS Uniphase Corp.,NaN,283300,(b),5903972,NaN
45,"Juniper Networks, Inc.",NaN,499900,"(b,e)",21035792,NaN
46,"QUALCOMM, Inc.",NaN,841000,NaN,46112030,NaN
52,"Apple, Inc.",NaN,253059,(b),88178409,NaN
53,EMC Corp.,NaN,1721600,"(b,e)",45708480,NaN
59,Foster Wheeler AG,NaN,186400,"(b,c,e)",7012368,NaN
60,"KBR, Inc.",NaN,385200,NaN,14549004,NaN
1,Issuer,Shares,Shares,NaN,Value(a),NaN
3,"Crown Holdings, Inc.",NaN,263500,(b),10165830,NaN
4,Packaging Corp. of America,NaN,310634,NaN,8974216,NaN
10,JPMorgan Chase & Co.,NaN,376400,NaN,17352040,NaN
13,Emerson Electric Co.,NaN,452600,NaN,26445418,NaN
14,"Rockwell Automation, Inc.",NaN,92800,NaN,8783520,NaN
20,"Corning, Inc.",NaN,570700,NaN,11773541,NaN
...,...,...,...,...,...,...
3,Unrealized depreciation,NaN,"(16,278,000",),NaN,NaN
5,Net unrealized appreciation,$,343332000,NaN,NaN,NaN
1,NaN,"Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011"
2,NaN,Level 1,Level 1,Level 1,Level 2,NaN
3,NaN,quoted prices,quoted prices,quoted prices,other,Level 3
4,NaN,in active,in active,in active,significant,significant
5,NaN,markets for,markets for,markets for,observable,unobservable
6,Description(a),identical assets,identical assets,identical assets,inputs(b),inputs
10,"Oil, Gas & Consumable Fuels",$,135538972,NaN,28,
11,All Other Industries,NaN,1589466361,NaN,,
13,Total Equity Securities,NaN,1725005333,NaN,28,
17,Affiliated Money Market Fund(c),NaN,26431500,NaN,,
18,Investments of Cash Collateral Received for Se...,NaN,,NaN,280687575,
20,Total Other,NaN,26431500,NaN,280687575,
23,Total,$,1751436833,NaN,280687603,
2,By,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN
3,NaN,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,NaN,NaN
5,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
2,By,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN
3,NaN,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,NaN,NaN
5,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
8,By,/s/ Michael G. Clarke,/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN
9,NaN,Michael G. Clarke Treasurer and Principal Fina...,Michael G. Clarke Treasurer and Principal Fina...,Michael G. Clarke Treasurer and Principal Fina...,NaN,NaN
11,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
2,"Date: May 20, 2011",/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN
3,NaN,J. Kevin Connaughton,J. Kevin Connaughton,NaN,NaN,NaN
4,NaN,President and Principal Executive Officer,President and Principal Executive Officer,NaN,NaN,NaN
2,"Date: May 20, 2011",/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN,NaN
3,NaN,Michael G. Clarke,Michael G. Clarke,NaN,NaN,NaN
4,NaN,Treasurer and Principal Financial Officer,Treasurer and Principal Financial Officer,NaN,NaN,NaN

In [892]:
print(sum(df['Col2'].isnull())/len(df))

0.7602040816326531

In [865]:
url2 = 'https://www.sec.gov/Archives/edgar/data/316411/000095012310053029/0000950123-10-053029.txt'
table2 = pd.read_html(url2)
len(table2)

28

In [875]:
df2 = pd.DataFrame()
df2 = parseAll(table2,df2)
df2

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Col13,Col14,Col15
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Goodrich Corp.,NaN,NaN,137498,(d),NaN,$,9696359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Honeywell International, Inc.",NaN,NaN,311757,NaN,NaN,NaN,14113239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Precision Castparts Corp.,NaN,NaN,177400,(d),NaN,NaN,22478354,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,"United Parcel Service, Inc., ClassB",NaN,NaN,167800,NaN,NaN,NaN,10807998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"PepsiCo, Inc.",NaN,NaN,548000,NaN,NaN,NaN,36255680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,"Amgen, Inc.",NaN,NaN,493556,(b),NaN,NaN,29494907,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Dendreon Corp.,NaN,NaN,326900,"(b,d)",NaN,NaN,11922043,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,Genzyme Corp.,NaN,NaN,306900,(b),NaN,NaN,15906627,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Gilead Sciences, Inc.",NaN,NaN,265446,(b),NaN,NaN,12072484,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Vertex Pharmaceuticals, Inc.",NaN,NaN,319100,"(b,d)",NaN,NaN,13041617,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Invesco Ltd.,NaN,NaN,493690,(d),NaN,NaN,10816748,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,"The Goldman Sachs Group, Inc.",NaN,NaN,92400,NaN,NaN,NaN,15766212,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,"Celanese Corp., SeriesA",NaN,NaN,206600,NaN,NaN,NaN,6580210,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Monsanto Co.,NaN,NaN,245810,NaN,NaN,NaN,17555750,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"Potash Corp of Saskatchewan, Inc.",NaN,NaN,318011,(c),NaN,NaN,37954613,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Wells Fargo & Co.,NaN,NaN,497579,(d),NaN,NaN,15484658,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"Cisco Systems, Inc.",NaN,NaN,2119981,(b),NaN,NaN,55183105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,JDS Uniphase Corp.,NaN,NaN,857100,"(b,d)",NaN,NaN,10739463,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,"QUALCOMM, Inc.",NaN,NaN,484100,NaN,NaN,NaN,20327359,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,"Apple, Inc.",NaN,NaN,316759,(b),NaN,NaN,74416192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,EMC Corp.,NaN,NaN,930600,"(b,d)",NaN,NaN,16788024,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Hewlett-Packard Co.,NaN,NaN,763614,(d),NaN,NaN,40586084,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,IBM Corp.,NaN,NaN,263100,(d),NaN,NaN,33742575,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Foster Wheeler AG,NaN,NaN,327300,"(b,c)",NaN,NaN,8882922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,American Express Co.,NaN,NaN,612600,(d),NaN,NaN,25275876,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Capital One Financial Corp.,NaN,NaN,242434,(d),NaN,NaN,10039192,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Coinstar, Inc.",NaN,NaN,410130,"(b,d)",NaN,NaN,13329225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Qwest Communications International, Inc.",NaN,NaN,1454100,(d),NaN,NaN,7590402,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31,"(Cost: $1,856,300,122)(h)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,$,2160611600,NaN,NaN,NaN,NaN
1,Notes to Portfolio of Investments,Notes to Portfolio of Investments,Notes to Portfolio of Investments,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ADR American Depository Receipt,ADR American Depository Receipt,ADR American Depository Receipt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Security description,NaN,Value (a),Value (a),Value (a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fannie Mae REMICS,NaN,$,583177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Total market value of collateral securities,NaN,$,9471953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Security description,NaN,Value (a),Value (a),Value (a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fannie Mae Grantor Trust,NaN,$,393,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Total market value of collateral securities,NaN,$,10200000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Security description,NaN,Value (a),Value (a),Value (a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Access Group Inc,NaN,$,1168459,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
56,Total market value of collateral securities,NaN,$,15737249,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Security description,NaN,Value (a),Value (a),Value (a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Fannie Mae Benchmark REMIC,NaN,$,160566,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Total market value of collateral securities,NaN,$,40800000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Unrealized appreciation,NaN,$,314929000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Unrealized depreciation,NaN,NaN,"(10,617,000",),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Net unrealized appreciation,NaN,$,304312000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,"Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010"
2,NaN,NaN,Level 1,Level 1,NaN,NaN,Level 2,Level 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,quoted prices,quoted prices,NaN,NaN,other,other,NaN,NaN,Level 3,Level 3,NaN,NaN,NaN,NaN
4,NaN,NaN,in active,in active,NaN,NaN,significant,significant,NaN,NaN,significant,significant,NaN,NaN,NaN,NaN
5,NaN,NaN,markets for,markets for,NaN,NaN,observable,observable,NaN,NaN,unobservable,unobservable,NaN,NaN,NaN,NaN
6,Description,NaN,identical assets,identical assets,NaN,NaN,inputs,inputs,NaN,NaN,inputs,inputs,NaN,NaN,Total,Total
9,Common Stocks(a),NaN,$,1696380843,NaN,NaN,$,,NaN,NaN,$,,NaN,NaN,$,1696380843
11,Total Equity Securities,NaN,NaN,1696380843,NaN,NaN,NaN,,NaN,NaN,NaN,,NaN,NaN,NaN,1696380843
15,Affiliated Money Market Fund(b),NaN,NaN,1988238,NaN,NaN,NaN,,NaN,NaN,NaN,,NaN,NaN,NaN,1988238
16,Investments of Cash Collateral Received for Se...,NaN,NaN,,NaN,NaN,NaN,462242519,NaN,NaN,NaN,,NaN,NaN,NaN,462242519
18,Total Other,NaN,NaN,1988238,NaN,NaN,NaN,462242519,NaN,NaN,NaN,,NaN,NaN,NaN,464230757
21,Investments in Securities,NaN,NaN,1698369081,NaN,NaN,NaN,462242519,NaN,NaN,NaN,,NaN,NaN,NaN,2160611600

In [876]:
for i in df2.columns:
        if sum(df2[i].isnull())/len(df2) >= 0.8:
            del df2[i]

In [885]:
print(sum(df2['Col11'].isnull())/len(df2))

0.6353591160220995

In [912]:
df2

,Col0,Col3,Col4,Col7,Col11
1,Issuer,Shares,NaN,Value(a),NaN
3,Goodrich Corp.,137498,(d),9696359,NaN
4,"Honeywell International, Inc.",311757,NaN,14113239,NaN
5,Precision Castparts Corp.,177400,(d),22478354,NaN
11,"United Parcel Service, Inc., ClassB",167800,NaN,10807998,NaN
14,"PepsiCo, Inc.",548000,NaN,36255680,NaN
17,"Amgen, Inc.",493556,(b),29494907,NaN
18,Dendreon Corp.,326900,"(b,d)",11922043,NaN
19,Genzyme Corp.,306900,(b),15906627,NaN
20,"Gilead Sciences, Inc.",265446,(b),12072484,NaN
21,"Vertex Pharmaceuticals, Inc.",319100,"(b,d)",13041617,NaN
27,Invesco Ltd.,493690,(d),10816748,NaN
28,"The Goldman Sachs Group, Inc.",92400,NaN,15766212,NaN
34,"Celanese Corp., SeriesA",206600,NaN,6580210,NaN
35,Monsanto Co.,245810,NaN,17555750,NaN
36,"Potash Corp of Saskatchewan, Inc.",318011,(c),37954613,NaN
42,Wells Fargo & Co.,497579,(d),15484658,NaN
45,"Cisco Systems, Inc.",2119981,(b),55183105,NaN
46,JDS Uniphase Corp.,857100,"(b,d)",10739463,NaN
47,"QUALCOMM, Inc.",484100,NaN,20327359,NaN
53,"Apple, Inc.",316759,(b),74416192,NaN
54,EMC Corp.,930600,"(b,d)",16788024,NaN
55,Hewlett-Packard Co.,763614,(d),40586084,NaN
56,IBM Corp.,263100,(d),33742575,NaN
1,Issuer,Shares,NaN,Value(a),NaN
3,Foster Wheeler AG,327300,"(b,c)",8882922,NaN
6,American Express Co.,612600,(d),25275876,NaN
7,Capital One Financial Corp.,242434,(d),10039192,NaN
13,"Coinstar, Inc.",410130,"(b,d)",13329225,NaN
16,"Qwest Communications International, Inc.",1454100,(d),7590402,NaN
...,...,...,...,...,...
31,"(Cost: $1,856,300,122)(h)",NaN,NaN,NaN,2160611600
1,Notes to Portfolio of Investments,NaN,NaN,NaN,NaN
3,ADR American Depository Receipt,NaN,NaN,NaN,NaN
1,Security description,Value (a),Value (a),NaN,NaN
3,Fannie Mae REMICS,583177,NaN,NaN,NaN
7,Total market value of collateral securities,9471953,NaN,NaN,NaN
1,Security description,Value (a),Value (a),NaN,NaN
3,Fannie Mae Grantor Trust,393,NaN,NaN,NaN
22,Total market value of collateral securities,10200000,NaN,NaN,NaN
1,Security description,Value (a),Value (a),NaN,NaN
3,Access Group Inc,1168459,NaN,NaN,NaN
56,Total market value of collateral securities,15737249,NaN,NaN,NaN
1,Security description,Value (a),Value (a),NaN,NaN
3,Fannie Mae Benchmark REMIC,160566,NaN,NaN,NaN
20,Total market value of collateral securities,40800000,NaN,NaN,NaN
2,Unrealized appreciation,314929000,NaN,NaN,NaN
3,Unrealized depreciation,"(10,617,000",),NaN,NaN
5,Net unrealized appreciation,304312000,NaN,NaN,NaN
1,NaN,"Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010","Fair value at March 31, 2010"
2,NaN,Level 1,NaN,Level 2,NaN
3,NaN,quoted prices,NaN,other,Level 3
4,NaN,in active,NaN,significant,significant
5,NaN,markets for,NaN,observable,unobservable
6,Description,identical assets,NaN,inputs,inputs
9,Common Stocks(a),1696380843,NaN,,
11,Total Equity Securities,1696380843,NaN,,
15,Affiliated Money Market Fund(b),1988238,NaN,,
16,Investments of Cash Collateral Received for Se...,,NaN,462242519,
18,Total Other,1988238,NaN,462242519,
21,Investments in Securities,1698369081,NaN,462242519,

In [928]:
# for i in df.columns:
#     print(df[i][1][1])
#         for j in rangdf[i]:
#             z = re.match(r'\(([^()]*)\)',str(items))
#             if z:
#                 return i;

In [934]:
print(find_legend_col(df3))

None

In [867]:
df2 = clean_data(df2)
df2

       Col0  Col3 Col4     Col7    Col11
6  04-08-10  0.48    %  9995867  9995867

# Test parse on url3 (002769)

In [861]:
url3 = 'https://www.sec.gov/Archives/edgar/data/316411/0001169232-09-002769.txt'
table3 = pd.read_html(url3)
len(table3)

40

In [862]:
df3 = pd.DataFrame()
df3 = parseAll(table3,df3)
df3

,Col0,Col1,Col2,Col4,Col5,Col6,Col7,Col8
0,NaN,NaN,Shares,NaN,NaN,Value,Value,NaN
4,Honeywell International,NaN,39400,NaN,NaN,$,1097684,NaN
5,Lockheed Martin,NaN,27900,NaN,NaN,NaN,1925937,NaN
6,Precision Castparts,NaN,20500,NaN,NaN,NaN,1227950,NaN
9,United Parcel Service (Class B),NaN,25800,NaN,NaN,NaN,1269876,NaN
12,Delta Air Lines*,NaN,164900,NaN,NaN,NaN,928387,NaN
15,PepsiCo,NaN,90800,NaN,NaN,NaN,4674384,NaN
18,Amgen*,NaN,20300,NaN,NaN,NaN,1005256,NaN
19,Biogen Idec*,NaN,25200,NaN,NaN,NaN,1320984,NaN
20,Celgene*,NaN,31800,NaN,NaN,NaN,1411920,NaN
21,Gilead Sciences*,NaN,36400,NaN,NaN,NaN,1686048,NaN
22,Vertex Pharmaceuticals*,NaN,38500,NaN,NaN,NaN,1106105,NaN
25,BlackRock (Class A),NaN,20300,NaN,NaN,NaN,2639812,NaN
28,Monsanto,NaN,28400,NaN,NaN,NaN,2360040,NaN
29,Potash Corp. of Saskatchewan,NaN,42800,NaN,NaN,NaN,3458668,NaN
32,Cisco Systems*,NaN,299000,NaN,NaN,NaN,5014230,NaN
33,QUALCOMM,NaN,188500,NaN,NaN,NaN,7334535,NaN
36,Apple*,NaN,50700,NaN,NaN,NaN,5329584,NaN
37,Hewlett-Packard,NaN,194700,NaN,NaN,NaN,6242082,NaN
38,International Business Machines,NaN,57300,NaN,NaN,NaN,5551797,NaN
41,Foster Wheeler*,NaN,71400,NaN,NaN,NaN,1247358,NaN
44,Apollo Group (Class A)*,NaN,47200,NaN,NaN,NaN,3697176,NaN
47,Qwest Communications International,NaN,390200,NaN,NaN,NaN,1334484,NaN
50,ABB (ADR),NaN,75500,NaN,NaN,NaN,1052470,NaN
53,FLIR Systems*,NaN,97100,NaN,NaN,NaN,1988608,NaN
56,National Oilwell Varco*,NaN,49400,NaN,NaN,NaN,1418274,NaN
57,Noble,NaN,142400,NaN,NaN,NaN,3430416,NaN
58,Transocean*,NaN,89560,NaN,NaN,NaN,5269710,NaN
62,CVS/Caremark,NaN,194900,NaN,NaN,NaN,5357801,NaN
63,Wal-Mart Stores,NaN,44900,NaN,NaN,NaN,2339290,NaN
...,...,...,...,...,...,...,...,...
116,Barrick Gold,NaN,126400,NaN,NaN,NaN,4097888,NaN
119,Public Service Enterprise Group,NaN,34500,NaN,NaN,NaN,1016715,NaN
123,Dollar Tree*,NaN,24800,NaN,NaN,NaN,1104840,NaN
124,Target,NaN,127000,NaN,NaN,NaN,4367530,NaN
128,Apache,NaN,23500,NaN,NaN,NaN,1506115,NaN
129,Noble Energy,NaN,46400,NaN,NaN,NaN,2500032,NaN
133,Mead Johnson Nutrition (Class A),NaN,89100,NaN,NaN,NaN,2572317,NaN
136,Abbott Laboratories,NaN,77700,NaN,NaN,NaN,3706290,NaN
137,Allergan,NaN,18000,NaN,NaN,NaN,859680,NaN
138,Merck,NaN,84500,NaN,NaN,NaN,2260375,NaN
139,Mylan*,NaN,207300,NaN,NaN,NaN,2779893,NaN
140,Novo Nordisk (ADR),NaN,17100,NaN,NaN,NaN,820458,NaN
141,Schering-Plough,NaN,118400,NaN,NaN,NaN,2788320,NaN
144,FTI Consulting*,NaN,21700,NaN,NaN,NaN,1073716,NaN
147,CSX,NaN,65200,NaN,NaN,NaN,1685420,NaN
148,Union Pacific,NaN,46500,NaN,NaN,NaN,1911615,NaN
151,Intel,NaN,296500,NaN,NaN,NaN,4462325,NaN
152,Marvell Technology Group*,NaN,683300,NaN,NaN,NaN,6259028,NaN
153,Microsemi*,NaN,260000,NaN,NaN,NaN,3016000,NaN
156,Macrovision Solutions*,NaN,482473,NaN,NaN,NaN,8583195,NaN
157,Microsoft,NaN,408100,NaN,NaN,NaN,7496797,NaN
158,Oracle*,NaN,433327,NaN,NaN,NaN,7830219,NaN
161,Urban Outfitters*,NaN,114300,NaN,NaN,NaN,1871091,NaN
164,Philip Morris International,NaN,127700,NaN,NaN,NaN,4543566,NaN
169,SSgA U.S. Treasury Money Market Fund,NaN,5072833,NaN,NaN,NaN,5072833,NaN
173,Other Assets Less Liabilities (0.5)%,NaN,NaN,NaN,NaN,NaN,"(1,083,057",)
175,Net Assets 100.0%,NaN,NaN,NaN,NaN,$,216283126,NaN
0,Valuation Inputs,NaN,NaN,Value,Value,NaN,NaN,NaN
2,Level 1 Quoted Prices in Active Markets for ...,NaN,NaN,$,217366183,NaN,NaN,NaN
6,Total,NaN,NaN,$,217366183,NaN,NaN,NaN

In [863]:
df3 = clean_data(df3)
df3

                                     Col0     Col2     Col7
4                 Honeywell International    39400  1097684
5                         Lockheed Martin    27900  1925937
6                     Precision Castparts    20500  1227950
9         United Parcel Service (Class B)    25800  1269876
12                       Delta Air Lines*   164900   928387
15                                PepsiCo    90800  4674384
18                                 Amgen*    20300  1005256
19                           Biogen Idec*    25200  1320984
20                               Celgene*    31800  1411920
21                       Gilead Sciences*    36400  1686048
22                Vertex Pharmaceuticals*    38500  1106105
25                    BlackRock (Class A)    20300  2639812
28                               Monsanto    28400  2360040
29           Potash Corp. of Saskatchewan    42800  3458668
32                         Cisco Systems*   299000  5014230
33                               QUALCOMM   188500  7334535
36                                 Apple*    50700  5329584
37                        Hewlett-Packard   194700  6242082
38        International Business Machines    57300  5551797
41                        Foster Wheeler*    71400  1247358
44                Apollo Group (Class A)*    47200  3697176
47     Qwest Communications International   390200  1334484
50                              ABB (ADR)    75500  1052470
53                          FLIR Systems*    97100  1988608
56                National Oilwell Varco*    49400  1418274
57                                  Noble   142400  3430416
58                            Transocean*    89560  5269710
62                           CVS/Caremark   194900  5357801
63                        Wal-Mart Stores    44900  2339290
66                                  Alcon    24800  2254568
..                                    ...      ...      ...
105                                   ITT    41900  1611893
106                            Joy Global    23600   502680
109                     Comcast (Class A)   391300  5337332
110          Time Warner Cable (Class A)*    52533  1302818
113                   United States Steel    69800  1474874
116                          Barrick Gold   126400  4097888
119       Public Service Enterprise Group    34500  1016715
123                          Dollar Tree*    24800  1104840
124                                Target   127000  4367530
128                                Apache    23500  1506115
129                          Noble Energy    46400  2500032
133      Mead Johnson Nutrition (Class A)    89100  2572317
136                   Abbott Laboratories    77700  3706290
137                              Allergan    18000   859680
138                                 Merck    84500  2260375
139                                Mylan*   207300  2779893
140                    Novo Nordisk (ADR)    17100   820458
141                       Schering-Plough   118400  2788320
144                       FTI Consulting*    21700  1073716
147                                   CSX    65200  1685420
148                         Union Pacific    46500  1911615
151                                 Intel   296500  4462325
152             Marvell Technology Group*   683300  6259028
153                            Microsemi*   260000  3016000
156                Macrovision Solutions*   482473  8583195
157                             Microsoft   408100  7496797
158                               Oracle*   433327  7830219
161                     Urban Outfitters*   114300  1871091
164           Philip Morris International   127700  4543566
169  SSgA U.S. Treasury Money Market Fund  5072833  5072833

[78 rows x 3 columns]

In [864]:
df3 = rename_df(df3)
df3

                                  Holding    Share    Value
4                 Honeywell International    39400  1097684
5                         Lockheed Martin    27900  1925937
6                     Precision Castparts    20500  1227950
9         United Parcel Service (Class B)    25800  1269876
12                       Delta Air Lines*   164900   928387
15                                PepsiCo    90800  4674384
18                                 Amgen*    20300  1005256
19                           Biogen Idec*    25200  1320984
20                               Celgene*    31800  1411920
21                       Gilead Sciences*    36400  1686048
22                Vertex Pharmaceuticals*    38500  1106105
25                    BlackRock (Class A)    20300  2639812
28                               Monsanto    28400  2360040
29           Potash Corp. of Saskatchewan    42800  3458668
32                         Cisco Systems*   299000  5014230
33                               QUALCOMM   188500  7334535
36                                 Apple*    50700  5329584
37                        Hewlett-Packard   194700  6242082
38        International Business Machines    57300  5551797
41                        Foster Wheeler*    71400  1247358
44                Apollo Group (Class A)*    47200  3697176
47     Qwest Communications International   390200  1334484
50                              ABB (ADR)    75500  1052470
53                          FLIR Systems*    97100  1988608
56                National Oilwell Varco*    49400  1418274
57                                  Noble   142400  3430416
58                            Transocean*    89560  5269710
62                           CVS/Caremark   194900  5357801
63                        Wal-Mart Stores    44900  2339290
66                                  Alcon    24800  2254568
..                                    ...      ...      ...
105                                   ITT    41900  1611893
106                            Joy Global    23600   502680
109                     Comcast (Class A)   391300  5337332
110          Time Warner Cable (Class A)*    52533  1302818
113                   United States Steel    69800  1474874
116                          Barrick Gold   126400  4097888
119       Public Service Enterprise Group    34500  1016715
123                          Dollar Tree*    24800  1104840
124                                Target   127000  4367530
128                                Apache    23500  1506115
129                          Noble Energy    46400  2500032
133      Mead Johnson Nutrition (Class A)    89100  2572317
136                   Abbott Laboratories    77700  3706290
137                              Allergan    18000   859680
138                                 Merck    84500  2260375
139                                Mylan*   207300  2779893
140                    Novo Nordisk (ADR)    17100   820458
141                       Schering-Plough   118400  2788320
144                       FTI Consulting*    21700  1073716
147                                   CSX    65200  1685420
148                         Union Pacific    46500  1911615
151                                 Intel   296500  4462325
152             Marvell Technology Group*   683300  6259028
153                            Microsemi*   260000  3016000
156                Macrovision Solutions*   482473  8583195
157                             Microsoft   408100  7496797
158                               Oracle*   433327  7830219
161                     Urban Outfitters*   114300  1871091
164           Philip Morris International   127700  4543566
169  SSgA U.S. Treasury Money Market Fund  5072833  5072833

[78 rows x 3 columns]

# Test parse on url4 (004392)

In [595]:
url4 = 'https://www.sec.gov/Archives/edgar/data/316411/000116923208004392/0001169232-08-004392.txt'
table4 = pd.read_html(url4)
len(table4)
# table4

45

In [729]:
table4[0]

,0,1,2,3,4,5,6
0,NaN,Shares or Principal Amount,Shares or Principal Amount,NaN,Value,Value,NaN
1,Common Stocks 98.1%,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Aerospace and Defense 1.0%,NaN,NaN,NaN,NaN,NaN,NaN
4,Raytheon,NaN,59800,shs.,$,3199898,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Airlines 1.3%,NaN,NaN,NaN,NaN,NaN,NaN
8,Delta Air Lines*,NaN,547900,NaN,NaN,4081855,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Beverages 1.2%,NaN,NaN,NaN,NaN,NaN,NaN
12,PepsiCo,NaN,55200,NaN,NaN,3934104,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,Biotechnology 5.2%,NaN,NaN,NaN,NaN,NaN,NaN
15,Amgen*,NaN,104500,NaN,NaN,6193715,NaN
16,Celgene*,NaN,49800,NaN,NaN,3151344,NaN
17,Cephalon*,NaN,50400,NaN,NaN,3905496,NaN
18,Gilead Sciences*,NaN,71700,NaN,NaN,3268086,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,16518641,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Capital Markets 1.6%,NaN,NaN,NaN,NaN,NaN,NaN
23,Lazard (Class A),NaN,118400,NaN,NaN,5062784,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,Chemicals 2.1%,NaN,NaN,NaN,NaN,NaN,NaN
26,Monsanto,NaN,34100,NaN,NaN,3375218,NaN
27,Potash Corp. of Saskatchewan,NaN,25700,NaN,NaN,3392657,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,6767875,NaN
...,...,...,...,...,...,...,...
150,NaN,NaN,NaN,NaN,NaN,NaN,NaN
151,NaN,NaN,NaN,NaN,12179766,12179766,NaN
152,NaN,NaN,NaN,NaN,NaN,NaN,NaN
153,Software 14.1%,NaN,NaN,NaN,NaN,NaN,NaN
154,Activision Blizzard*,NaN,817900,NaN,NaN,12620197,NaN
155,Adobe Systems*,NaN,124400,NaN,NaN,4910068,NaN
156,Macrovision Solutions*,NaN,576573,NaN,NaN,8867693,NaN
157,Microsoft,NaN,274900,NaN,NaN,7337081,NaN
158,Oracle*,NaN,545227,NaN,NaN,11073560,NaN
159,NaN,NaN,NaN,NaN,NaN,NaN,NaN
160,NaN,NaN,NaN,NaN,44808599,44808599,NaN
161,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,Specialty Retail 1.8%,NaN,NaN,NaN,NaN,NaN,NaN
163,Abercrombie & Fitch (Class A),NaN,144000,NaN,NaN,5680800,NaN
164,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,Tobacco 2.0%,NaN,NaN,NaN,NaN,NaN,NaN
166,Philip Morris International,NaN,130300,NaN,NaN,6267430,NaN
167,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,NaN,NaN,NaN,NaN,312874525,312874525,NaN
169,NaN,NaN,NaN,NaN,NaN,NaN,NaN
170,Repurchase Agreement 4.4%,NaN,NaN,NaN,NaN,NaN,NaN
171,"State Street Bank 0.05%, dated 9/30/2008, matu...",$,13922000,NaN,NaN,13922000,NaN
172,NaN,NaN,NaN,NaN,NaN,NaN,NaN
173,NaN,NaN,NaN,NaN,NaN,NaN,NaN
174,Total Investments 102.5%,NaN,NaN,NaN,NaN,326796525,NaN
175,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,Other Assets Less Liabilities (2.5)%,NaN,NaN,NaN,NaN,"(7,962,084",)
177,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Net Assets 100.0%,NaN,NaN,NaN,$,318834441,NaN
179,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [818]:
output_df4 = pd.DataFrame()

In [819]:
output_df4 = parseAll(table4,output_df4)

In [820]:
output_df4

,Col0,Col1,Col2,Col3,Col4,Col5,Col6
0,NaN,Shares or Principal Amount,Shares or Principal Amount,NaN,Value,Value,NaN
4,Raytheon,NaN,59800,shs.,$,3199898,NaN
8,Delta Air Lines*,NaN,547900,NaN,NaN,4081855,NaN
12,PepsiCo,NaN,55200,NaN,NaN,3934104,NaN
15,Amgen*,NaN,104500,NaN,NaN,6193715,NaN
16,Celgene*,NaN,49800,NaN,NaN,3151344,NaN
17,Cephalon*,NaN,50400,NaN,NaN,3905496,NaN
18,Gilead Sciences*,NaN,71700,NaN,NaN,3268086,NaN
23,Lazard (Class A),NaN,118400,NaN,NaN,5062784,NaN
26,Monsanto,NaN,34100,NaN,NaN,3375218,NaN
27,Potash Corp. of Saskatchewan,NaN,25700,NaN,NaN,3392657,NaN
33,Wells Fargo,NaN,83900,NaN,NaN,3148767,NaN
36,Cisco Systems*,NaN,184200,NaN,NaN,4155552,NaN
37,QUALCOMM,NaN,207100,NaN,NaN,8899087,NaN
38,Research In Motion*,NaN,86200,NaN,NaN,5887460,NaN
43,Apple*,NaN,15600,NaN,NaN,1773096,NaN
44,Hewlett-Packard,NaN,93200,NaN,NaN,4309568,NaN
45,International Business Machines,NaN,55800,NaN,NaN,6526368,NaN
50,Corinthian Colleges*,NaN,157500,NaN,NaN,2362500,NaN
53,Bank of America,NaN,41400,NaN,NaN,1449000,NaN
54,Citigroup,NaN,51300,NaN,NaN,1052163,NaN
59,ABB (ADR),NaN,509000,NaN,NaN,9874600,NaN
60,First Solar*,NaN,9700,NaN,NaN,1832427,NaN
65,Diamond Offshore Drilling,NaN,59700,NaN,NaN,6152682,NaN
66,Halliburton,NaN,118700,NaN,NaN,3844693,NaN
67,National Oilwell Varco*,NaN,52100,NaN,NaN,2616983,NaN
68,Transocean*,NaN,82760,NaN,NaN,9090358,NaN
69,Weatherford International*,NaN,190600,NaN,NaN,4791684,NaN
74,CVS/Caremark,NaN,298000,NaN,NaN,10030680,NaN
77,Baxter International,NaN,94000,NaN,NaN,6169220,NaN
...,...,...,...,...,...,...,...
113,Freeport-McMoRan Copper & Gold,NaN,22800,NaN,NaN,1296180,NaN
118,Public Service Enterprise Group,NaN,70500,NaN,NaN,2311695,NaN
121,Kohls*,NaN,63200,NaN,NaN,2912256,NaN
124,Devon Energy Corporation,NaN,16700,NaN,NaN,1523040,NaN
125,Peabody Energy,NaN,70200,NaN,NaN,3159000,NaN
126,Petroleo Brasileiro Petrobras (ADR),NaN,65700,NaN,NaN,2887515,NaN
127,Union Pacific,NaN,23000,NaN,NaN,1636680,NaN
132,Abbott Laboratories,NaN,228800,NaN,NaN,13174304,NaN
133,Mylan*,NaN,205800,NaN,NaN,2350236,NaN
134,Novartis (ADR),NaN,57300,NaN,NaN,3027732,NaN
135,Novo Nordisk (ADR),NaN,37400,NaN,NaN,1914880,NaN
136,Pfizer,NaN,141600,NaN,NaN,2611104,NaN
137,Sepracor*,NaN,233600,NaN,NaN,4277216,NaN
142,Annaly Capital Management,NaN,172800,NaN,NaN,2324160,NaN
145,XTO Energy,NaN,47100,NaN,NaN,2191092,NaN
148,Intel,NaN,304200,NaN,NaN,5697666,NaN
149,Marvell Technology Group*,NaN,697000,NaN,NaN,6482100,NaN
154,Activision Blizzard*,NaN,817900,NaN,NaN,12620197,NaN
155,Adobe Systems*,NaN,124400,NaN,NaN,4910068,NaN
156,Macrovision Solutions*,NaN,576573,NaN,NaN,8867693,NaN
157,Microsoft,NaN,274900,NaN,NaN,7337081,NaN
158,Oracle*,NaN,545227,NaN,NaN,11073560,NaN
163,Abercrombie & Fitch (Class A),NaN,144000,NaN,NaN,5680800,NaN
166,Philip Morris International,NaN,130300,NaN,NaN,6267430,NaN
171,"State Street Bank 0.05%, dated 9/30/2008, matu...",$,13922000,NaN,NaN,13922000,NaN
176,Other Assets Less Liabilities (2.5)%,NaN,NaN,NaN,NaN,"(7,962,084",)
178,Net Assets 100.0%,NaN,NaN,NaN,$,318834441,NaN
0,Valuation Inputs,NaN,NaN,Value,Value,NaN,NaN
1,Level 1 - Quoted Prices,NaN,NaN,$,312874525,NaN,NaN
4,Total,NaN,NaN,$,326796525,NaN,NaN

In [811]:
for i in output_df4.columns:
    if sum(output_df4[i].isnull())/len(output_df4) >= 0.8:
        del output_df4[i]

In [826]:
output_df4 = clean_data(output_df4)

In [827]:
# output_df4 = output_df4.dropna(how='any')

In [828]:
output_df4

                                                  Col0      Col2      Col5
4                                             Raytheon     59800   3199898
8                                     Delta Air Lines*    547900   4081855
12                                             PepsiCo     55200   3934104
15                                              Amgen*    104500   6193715
16                                            Celgene*     49800   3151344
17                                           Cephalon*     50400   3905496
18                                    Gilead Sciences*     71700   3268086
23                                    Lazard (Class A)    118400   5062784
26                                            Monsanto     34100   3375218
27                        Potash Corp. of Saskatchewan     25700   3392657
33                                         Wells Fargo     83900   3148767
36                                      Cisco Systems*    184200   4155552
37                                            QUALCOMM    207100   8899087
38                                 Research In Motion*     86200   5887460
43                                              Apple*     15600   1773096
44                                     Hewlett-Packard     93200   4309568
45                     International Business Machines     55800   6526368
50                                Corinthian Colleges*    157500   2362500
53                                     Bank of America     41400   1449000
54                                           Citigroup     51300   1052163
59                                           ABB (ADR)    509000   9874600
60                                        First Solar*      9700   1832427
65                           Diamond Offshore Drilling     59700   6152682
66                                         Halliburton    118700   3844693
67                             National Oilwell Varco*     52100   2616983
68                                         Transocean*     82760   9090358
69                          Weatherford International*    190600   4791684
74                                        CVS/Caremark    298000  10030680
77                                Baxter International     94000   6169220
80                                    Express Scripts*     39800   2938036
..                                                 ...       ...       ...
100                                  Google (Class A)*     10300   4125356
101                                            SAVVIS*    939209  12622969
106                                 Comcast (Class A)*    507800   9968114
107                       Time Warner Cable (Class A)*    160800   3891360
112                                       Barrick Gold     55400   2035396
113                     Freeport-McMoRan Copper & Gold     22800   1296180
118                    Public Service Enterprise Group     70500   2311695
121                                            Kohls*     63200   2912256
124                           Devon Energy Corporation     16700   1523040
125                                     Peabody Energy     70200   3159000
126              Petroleo Brasileiro Petrobras (ADR)     65700   2887515
127                                      Union Pacific     23000   1636680
132                                Abbott Laboratories    228800  13174304
133                                             Mylan*    205800   2350236
134                                     Novartis (ADR)     57300   3027732
135                                 Novo Nordisk (ADR)     37400   1914880
136                                             Pfizer    141600   2611104
137                                          Sepracor*    233600   4277216
142                          Annaly Capital Management    172800   2324160
145                                         XTO Energy     47100   2191092
148                                              Intel    304200   5697666
149                          Marvell Technology Group*    697000   6482100
154                               Activision Blizzard*    817900  12620197
155                                     Adobe Systems*    124400   4910068
156                             Macrovision Solutions*    576573   8867693
157                                          Microsoft    274900   7337081
158                                            Oracle*    545227  11073560
163                      Abercrombie & Fitch (Class A)    144000   5680800
166                        Philip Morris International    130300   6267430
171  State Street Bank 0.05%, dated 9/30/2008, matu...  13922000  13922000

[67 rows x 3 columns]

In [829]:
output_df4 = rename_df(output_df4)

In [830]:
output_df4

                                               Holding     Share     Value
4                                             Raytheon     59800   3199898
8                                     Delta Air Lines*    547900   4081855
12                                             PepsiCo     55200   3934104
15                                              Amgen*    104500   6193715
16                                            Celgene*     49800   3151344
17                                           Cephalon*     50400   3905496
18                                    Gilead Sciences*     71700   3268086
23                                    Lazard (Class A)    118400   5062784
26                                            Monsanto     34100   3375218
27                        Potash Corp. of Saskatchewan     25700   3392657
33                                         Wells Fargo     83900   3148767
36                                      Cisco Systems*    184200   4155552
37                                            QUALCOMM    207100   8899087
38                                 Research In Motion*     86200   5887460
43                                              Apple*     15600   1773096
44                                     Hewlett-Packard     93200   4309568
45                     International Business Machines     55800   6526368
50                                Corinthian Colleges*    157500   2362500
53                                     Bank of America     41400   1449000
54                                           Citigroup     51300   1052163
59                                           ABB (ADR)    509000   9874600
60                                        First Solar*      9700   1832427
65                           Diamond Offshore Drilling     59700   6152682
66                                         Halliburton    118700   3844693
67                             National Oilwell Varco*     52100   2616983
68                                         Transocean*     82760   9090358
69                          Weatherford International*    190600   4791684
74                                        CVS/Caremark    298000  10030680
77                                Baxter International     94000   6169220
80                                    Express Scripts*     39800   2938036
..                                                 ...       ...       ...
100                                  Google (Class A)*     10300   4125356
101                                            SAVVIS*    939209  12622969
106                                 Comcast (Class A)*    507800   9968114
107                       Time Warner Cable (Class A)*    160800   3891360
112                                       Barrick Gold     55400   2035396
113                     Freeport-McMoRan Copper & Gold     22800   1296180
118                    Public Service Enterprise Group     70500   2311695
121                                            Kohls*     63200   2912256
124                           Devon Energy Corporation     16700   1523040
125                                     Peabody Energy     70200   3159000
126              Petroleo Brasileiro Petrobras (ADR)     65700   2887515
127                                      Union Pacific     23000   1636680
132                                Abbott Laboratories    228800  13174304
133                                             Mylan*    205800   2350236
134                                     Novartis (ADR)     57300   3027732
135                                 Novo Nordisk (ADR)     37400   1914880
136                                             Pfizer    141600   2611104
137                                          Sepracor*    233600   4277216
142                          Annaly Capital Management    172800   2324160
145                                         XTO Energy     47100   2191092
148                                              Intel    304200   5697666
149                          Marvell Technology Group*    697000   6482100
154                               Activision Blizzard*    817900  12620197
155                                     Adobe Systems*    124400   4910068
156                             Macrovision Solutions*    576573   8867693
157                                          Microsoft    274900   7337081
158                                            Oracle*    545227  11073560
163                      Abercrombie & Fitch (Class A)    144000   5680800
166                        Philip Morris International    130300   6267430
171  State Street Bank 0.05%, dated 9/30/2008, matu...  13922000  13922000

[67 rows x 3 columns]

In [857]:
# output_df4 = getHolding(output_df4)

In [858]:
# output_df4

# Test parse on url5 (001745)

In [851]:
url5 = 'https://www.sec.gov/Archives/edgar/data/316411/0001145443-06-001745.txt'
table5 = pd.read_html(url5)

In [852]:
df5 = pd.DataFrame()
df5 = parseAll(table5,df5)
df5

,Col0,Col1,Col2,Col3,Col4
8,Boeing,"98,100shs.",NaN,NaN,"$7,644,933"
9,United Technologies,157700,NaN,NaN,9141869
14,United Parcel Service (Class B),171800,NaN,NaN,13637484
17,Harley-Davidson,49400,NaN,NaN,2562872
20,PepsiCo,150100,NaN,NaN,8674279
23,Amgen*,134230,NaN,NaN,9796777
24,Celgene*,108400,NaN,NaN,4783692
25,Gilead Sciences*,82200,NaN,NaN,5123526
30,Goldman Sachs Group,32200,NaN,NaN,5054112
31,Merrill Lynch,116200,NaN,NaN,9151912
36,Cisco Systems*,584000,NaN,NaN,12658200
37,Corning*,223300,NaN,NaN,6009003
38,QUALCOMM,266200,NaN,NaN,13471051
3,Apple Computer*,128600,NaN,NaN,8.06515e+06
4,Hewlett-Packard,331600,NaN,NaN,1.09096e+07
9,Fluor,86200,NaN,NaN,7.39596e+06
12,American Express,91600,NaN,NaN,4.81358e+06
15,Emerson Electric,142600,NaN,NaN,1.19256e+07
18,Schlumberger,122700,NaN,NaN,1.55301e+07
21,Wal-Mart Stores,304200,NaN,NaN,1.43704e+07
24,Cooper Companies,42800,NaN,NaN,2.31248e+06
25,Medtronic,187700,NaN,NaN,9.52578e+06
26,Waters*,105400,NaN,NaN,4.54801e+06
27,Zimmer Holdings*,67900,NaN,NaN,4.59004e+06
32,Cardinal Health,73300,NaN,NaN,5.46232e+06
33,Express Scripts*,52400,NaN,NaN,4.60675e+06
38,Procter & Gamble,299840,NaN,NaN,1.72768e+07
41,3M,159800,NaN,NaN,1.20953e+07
0,General Electric,603790,NaN,NaN,2.09998e+07
5,AFLAC,216600,NaN,NaN,9.77516e+06
8,Google (Class A)*,18000,NaN,NaN,6.95331e+06
11,Deere,104900,NaN,NaN,8.29234e+06
14,Walt Disney,340600,NaN,NaN,9.49933e+06
15,News Corp. (Class B),552800,NaN,NaN,9.70717e+06
20,Kohl's*,330700,NaN,NaN,1.75304e+07
23,Abbott Laboratories,153400,NaN,NaN,6.5149e+06
24,Johnson & Johnson,260460,NaN,NaN,1.54244e+07
25,Merck,129900,NaN,NaN,4.57638e+06
26,Mylan Laboratories,145200,NaN,NaN,3.39768e+06
27,Pfizer,131700,NaN,NaN,3.28196e+06
28,Schering-Plough,242500,NaN,NaN,4.60508e+06
29,Wyeth,149200,NaN,NaN,7.23918e+06
34,Electronic Arts*,43800,NaN,NaN,2.39652e+06
35,Microsoft,796100,NaN,NaN,2.16818e+07
36,Oracle*,572900,NaN,NaN,7.84587e+06
41,Bed Bath & Beyond*,353200,NaN,NaN,1.35646e+07
0,Home Depot,327700,NaN,NaN,13861710
1,Limited Brands,376300,NaN,NaN,9204298
6,Alltel,143900,NaN,NaN,9317525
12,"HSBC Bank USA, Grand Cayman, 4.781%, 4/3/2006","$20,510,000",NaN,NaN,20510000
23,"At March 31,2006, the cost of investments for ...","At March 31,2006, the cost of investments for ...","At March 31,2006, the cost of investments for ...","At March 31,2006, the cost of investments for ...","At March 31,2006, the cost of investments for ..."
26,Note: Securities traded on an exchange are val...,Note: Securities traded on an exchange are val...,Note: Securities traded on an exchange are val...,Note: Securities traded on an exchange are val...,Note: Securities traded on an exchange are val...
0,By:,/S/ BRIAN T. ZINO,/S/ BRIAN T. ZINO,NaN,NaN
2,NaN,President and Chief Executive Officer,President and Chief Executive Officer,President and Chief Executive Officer,NaN
0,By:,/S/ BRIAN T. ZINO,/S/ BRIAN T. ZINO,NaN,NaN
2,NaN,President and Chief Executive Officer,President and Chief Executive Officer,President and Chief Executive Officer,NaN
0,By:,/S/ LAWRENCE P. VOGEL,/S/ LAWRENCE P. VOGEL,NaN,NaN
2,NaN,"Vice President, Treasurer and Chief Financial ...","Vice President, Treasurer and Chief Financial ...","Vice President, Treasurer and Chief Financial ...",NaN
0,/S/ LAWRENCE P. VOGEL,/S/ LAWRENCE P. VOGEL,/S/ LAWRENCE P. VOGEL,NaN,NaN

In [853]:
df5 = clean_data(df5)

In [854]:
df5

                                             Col0         Col1         Col4
8                                          Boeing  98,100shs.   $7,644,933
9                            United  Technologies       157700      9141869
14               United  Parcel Service (Class B)       171800     13637484
17                                Harley-Davidson        49400      2562872
20                                        PepsiCo       150100      8674279
23                                         Amgen*       134230      9796777
24                                       Celgene*       108400      4783692
25                              Gilead  Sciences*        82200      5123526
30                           Goldman  Sachs Group        32200      5054112
31                                 Merrill  Lynch       116200      9151912
36                                Cisco  Systems*       584000     12658200
37                                       Corning*       223300      6009003
38                                       QUALCOMM       266200     13471051
3                                Apple  Computer*       128600  8.06515e+06
4                                 Hewlett-Packard       331600  1.09096e+07
9                                           Fluor        86200  7.39596e+06
12                              American  Express        91600  4.81358e+06
15                              Emerson  Electric       142600  1.19256e+07
18                                   Schlumberger       122700  1.55301e+07
21                               Wal-Mart  Stores       304200  1.43704e+07
24                              Cooper  Companies        42800  2.31248e+06
25                                      Medtronic       187700  9.52578e+06
26                                        Waters*       105400  4.54801e+06
27                              Zimmer  Holdings*        67900  4.59004e+06
32                               Cardinal  Health        73300  5.46232e+06
33                              Express  Scripts*        52400  4.60675e+06
38                              Procter  & Gamble       299840  1.72768e+07
41                                             3M       159800  1.20953e+07
0                                General Electric       603790  2.09998e+07
5                                           AFLAC       216600  9.77516e+06
8                               Google (Class A)*        18000  6.95331e+06
11                                          Deere       104900  8.29234e+06
14                                    Walt Disney       340600  9.49933e+06
15                           News Corp. (Class B)       552800  9.70717e+06
20                                        Kohl's*       330700  1.75304e+07
23                            Abbott Laboratories       153400   6.5149e+06
24                              Johnson & Johnson       260460  1.54244e+07
25                                          Merck       129900  4.57638e+06
26                             Mylan Laboratories       145200  3.39768e+06
27                                         Pfizer       131700  3.28196e+06
28                                Schering-Plough       242500  4.60508e+06
29                                          Wyeth       149200  7.23918e+06
34                               Electronic Arts*        43800  2.39652e+06
35                                      Microsoft       796100  2.16818e+07
36                                        Oracle*       572900  7.84587e+06
41                             Bed Bath & Beyond*       353200  1.35646e+07
0                                      Home Depot       327700     13861710
1                                  Limited Brands       376300      9204298
6                                          Alltel       143900      9317525
12  HSBC Bank USA, Grand Cayman, 4.781%, 4/3/2006  $20,510,000     20510000

In [855]:
df5 = rename_df(df5)

In [856]:
df5

                                          Holding        Share        Value
8                                          Boeing  98,100shs.   $7,644,933
9                            United  Technologies       157700      9141869
14               United  Parcel Service (Class B)       171800     13637484
17                                Harley-Davidson        49400      2562872
20                                        PepsiCo       150100      8674279
23                                         Amgen*       134230      9796777
24                                       Celgene*       108400      4783692
25                              Gilead  Sciences*        82200      5123526
30                           Goldman  Sachs Group        32200      5054112
31                                 Merrill  Lynch       116200      9151912
36                                Cisco  Systems*       584000     12658200
37                                       Corning*       223300      6009003
38                                       QUALCOMM       266200     13471051
3                                Apple  Computer*       128600  8.06515e+06
4                                 Hewlett-Packard       331600  1.09096e+07
9                                           Fluor        86200  7.39596e+06
12                              American  Express        91600  4.81358e+06
15                              Emerson  Electric       142600  1.19256e+07
18                                   Schlumberger       122700  1.55301e+07
21                               Wal-Mart  Stores       304200  1.43704e+07
24                              Cooper  Companies        42800  2.31248e+06
25                                      Medtronic       187700  9.52578e+06
26                                        Waters*       105400  4.54801e+06
27                              Zimmer  Holdings*        67900  4.59004e+06
32                               Cardinal  Health        73300  5.46232e+06
33                              Express  Scripts*        52400  4.60675e+06
38                              Procter  & Gamble       299840  1.72768e+07
41                                             3M       159800  1.20953e+07
0                                General Electric       603790  2.09998e+07
5                                           AFLAC       216600  9.77516e+06
8                               Google (Class A)*        18000  6.95331e+06
11                                          Deere       104900  8.29234e+06
14                                    Walt Disney       340600  9.49933e+06
15                           News Corp. (Class B)       552800  9.70717e+06
20                                        Kohl's*       330700  1.75304e+07
23                            Abbott Laboratories       153400   6.5149e+06
24                              Johnson & Johnson       260460  1.54244e+07
25                                          Merck       129900  4.57638e+06
26                             Mylan Laboratories       145200  3.39768e+06
27                                         Pfizer       131700  3.28196e+06
28                                Schering-Plough       242500  4.60508e+06
29                                          Wyeth       149200  7.23918e+06
34                               Electronic Arts*        43800  2.39652e+06
35                                      Microsoft       796100  2.16818e+07
36                                        Oracle*       572900  7.84587e+06
41                             Bed Bath & Beyond*       353200  1.35646e+07
0                                      Home Depot       327700     13861710
1                                  Limited Brands       376300      9204298
6                                          Alltel       143900      9317525
12  HSBC Bank USA, Grand Cayman, 4.781%, 4/3/2006  $20,510,000     20510000

In [779]:
df = pd.DataFrame()
df = parseAll(table,df)
df

,Col0,Col1,Col2,Col3,Col4,Col5,Col6,Col7,Col8,Col9,Col10,Col11,Col12,Col13,Col14,Col15,Col16
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Precision Castparts Corp.,NaN,NaN,127100,(e),NaN,$,18706578,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Technologies Corp.,NaN,NaN,319100,NaN,NaN,NaN,27011815,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"United Parcel Service, Inc., ClassB",NaN,NaN,226100,NaN,NaN,NaN,16803752,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Autoliv, Inc.",NaN,NaN,260800,(c),NaN,NaN,19359184,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Alexion Pharmaceuticals, Inc.",NaN,NaN,155200,"(b,e)",NaN,NaN,15315136,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Celgene Corp.,NaN,NaN,151700,(b),NaN,NaN,8727301,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Dendreon Corp.,NaN,NaN,329900,(b),NaN,NaN,12348157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"BlackRock, Inc.",NaN,NaN,90400,NaN,NaN,NaN,18171304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Franklin Resources, Inc.",NaN,NaN,106200,NaN,NaN,NaN,13283496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Morgan Stanley,NaN,NaN,445100,NaN,NaN,NaN,12160132,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Celanese Corp., SeriesA",NaN,NaN,203400,NaN,NaN,NaN,9024858,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"PPG Industries, Inc.",NaN,NaN,105400,NaN,NaN,NaN,10035134,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Fifth Third Bancorp,NaN,NaN,447800,NaN,NaN,NaN,6215464,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Ciena Corp.,NaN,NaN,362200,"(b,e)",NaN,NaN,9402712,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Cisco Systems, Inc.",NaN,NaN,323781,NaN,NaN,NaN,5552844,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,JDS Uniphase Corp.,NaN,NaN,283300,(b),NaN,NaN,5903972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"Juniper Networks, Inc.",NaN,NaN,499900,"(b,e)",NaN,NaN,21035792,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"QUALCOMM, Inc.",NaN,NaN,841000,NaN,NaN,NaN,46112030,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,"Apple, Inc.",NaN,NaN,253059,(b),NaN,NaN,88178409,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,EMC Corp.,NaN,NaN,1721600,"(b,e)",NaN,NaN,45708480,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Foster Wheeler AG,NaN,NaN,186400,"(b,c,e)",NaN,NaN,7012368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"KBR, Inc.",NaN,NaN,385200,NaN,NaN,NaN,14549004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Crown Holdings, Inc.",NaN,NaN,263500,(b),NaN,NaN,10165830,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Packaging Corp. of America,NaN,NaN,310634,NaN,NaN,NaN,8974216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,JPMorgan Chase & Co.,NaN,NaN,376400,NaN,NaN,NaN,17352040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Emerson Electric Co.,NaN,NaN,452600,NaN,NaN,NaN,26445418,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Rockwell Automation, Inc.",NaN,NaN,92800,NaN,NaN,NaN,8783520,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Corning, Inc.",NaN,NaN,570700,NaN,NaN,NaN,11773541,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3,Unrealized depreciation,NaN,NaN,"(16,278,000",),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Net unrealized appreciation,NaN,$,343332000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,"Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011"
2,NaN,NaN,Level 1,Level 1,Level 1,NaN,Level 2,Level 2,Level 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,quoted prices,quoted prices,quoted prices,NaN,other,other,other,NaN,Level 3,Level 3,Level 3,NaN,NaN,NaN,NaN
4,NaN,NaN,in active,in active,in active,NaN,significant,significant,significant,NaN,significant,significant,significant,NaN,NaN,NaN,NaN
5,NaN,NaN,markets for,markets for,markets for,NaN,observable,observable,observable,NaN,unobservable,unobservable,unobservable,NaN,NaN,NaN,NaN
6,Description(a),NaN,identical assets,identical assets,identical assets,NaN,inputs(b),inputs(b),inputs(b),NaN,inputs,inputs,inputs,NaN,Total,Total,Total
10,"Oil, Gas & Consumable Fuels",NaN,$,135538972,NaN,NaN,$,28,NaN,NaN,$,,NaN,NaN,$,135539000,NaN
11,All Other Industries,NaN,NaN,1589466361,NaN,NaN,NaN,,NaN,NaN,NaN,,NaN,NaN,NaN,1589466361,NaN
13,Total Equity Securities,NaN,NaN,1725005333,NaN,NaN,NaN,28,NaN,NaN,NaN,,NaN,NaN,NaN,1725005361,NaN
17,Affiliated Money Market Fund(c),NaN,NaN,26431500,NaN,NaN,NaN,,NaN,NaN,NaN,,NaN,NaN,NaN,26431500,NaN
18,Investments of Cash Collateral Received for Se...,NaN,NaN,,NaN,NaN,NaN,280687575,NaN,NaN,NaN,,NaN,NaN,NaN,280687575,NaN
20,Total Other,NaN,NaN,26431500,NaN,NaN,NaN,280687575,NaN,NaN,NaN,,NaN,NaN,NaN,307119075,NaN
23,Total,NaN,$,1751436833,NaN,NaN,$,280687603,NaN,NaN,$,,NaN,NaN,$,2032124436,NaN
2,By,NaN,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,NaN,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,By,NaN,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Date,NaN,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,By,NaN,/s/ Michael G. Clarke,/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,Michael G. Clarke Treasurer and Principal Fina...,Michael G. Clarke Treasurer and Principal Fina...,Michael G. Clarke Treasurer and Principal Fina...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Date,NaN,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Date: May 20, 2011",/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,J. Kevin Connaughton,J. Kevin Connaughton,J. Kevin Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,President and Principal Executive Officer,President and Principal Executive Officer,President and Principal Executive Officer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Date: May 20, 2011",/s/ Michael G. Clarke,/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Michael G. Clarke,Michael G. Clarke,Michael G. Clarke,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Treasurer and Principal Financial Officer,Treasurer and Principal Financial Officer,Treasurer and Principal Financial Officer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [780]:
for i in df.columns:
    if sum(df[i].isnull())/len(df) >= 0.8:
        del df[i]

In [781]:
df

,Col0,Col2,Col3,Col4,Col7,Col11
1,Issuer,Shares,Shares,NaN,Value(a),NaN
3,Precision Castparts Corp.,NaN,127100,(e),18706578,NaN
4,United Technologies Corp.,NaN,319100,NaN,27011815,NaN
10,"United Parcel Service, Inc., ClassB",NaN,226100,NaN,16803752,NaN
13,"Autoliv, Inc.",NaN,260800,(c),19359184,NaN
16,"Alexion Pharmaceuticals, Inc.",NaN,155200,"(b,e)",15315136,NaN
17,Celgene Corp.,NaN,151700,(b),8727301,NaN
18,Dendreon Corp.,NaN,329900,(b),12348157,NaN
24,"BlackRock, Inc.",NaN,90400,NaN,18171304,NaN
25,"Franklin Resources, Inc.",NaN,106200,NaN,13283496,NaN
26,Morgan Stanley,NaN,445100,NaN,12160132,NaN
32,"Celanese Corp., SeriesA",NaN,203400,NaN,9024858,NaN
33,"PPG Industries, Inc.",NaN,105400,NaN,10035134,NaN
39,Fifth Third Bancorp,NaN,447800,NaN,6215464,NaN
42,Ciena Corp.,NaN,362200,"(b,e)",9402712,NaN
43,"Cisco Systems, Inc.",NaN,323781,NaN,5552844,NaN
44,JDS Uniphase Corp.,NaN,283300,(b),5903972,NaN
45,"Juniper Networks, Inc.",NaN,499900,"(b,e)",21035792,NaN
46,"QUALCOMM, Inc.",NaN,841000,NaN,46112030,NaN
52,"Apple, Inc.",NaN,253059,(b),88178409,NaN
53,EMC Corp.,NaN,1721600,"(b,e)",45708480,NaN
59,Foster Wheeler AG,NaN,186400,"(b,c,e)",7012368,NaN
60,"KBR, Inc.",NaN,385200,NaN,14549004,NaN
1,Issuer,Shares,Shares,NaN,Value(a),NaN
3,"Crown Holdings, Inc.",NaN,263500,(b),10165830,NaN
4,Packaging Corp. of America,NaN,310634,NaN,8974216,NaN
10,JPMorgan Chase & Co.,NaN,376400,NaN,17352040,NaN
13,Emerson Electric Co.,NaN,452600,NaN,26445418,NaN
14,"Rockwell Automation, Inc.",NaN,92800,NaN,8783520,NaN
20,"Corning, Inc.",NaN,570700,NaN,11773541,NaN
...,...,...,...,...,...,...
3,Unrealized depreciation,NaN,"(16,278,000",),NaN,NaN
5,Net unrealized appreciation,$,343332000,NaN,NaN,NaN
1,NaN,"Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011","Fair value at March 31, 2011"
2,NaN,Level 1,Level 1,Level 1,Level 2,NaN
3,NaN,quoted prices,quoted prices,quoted prices,other,Level 3
4,NaN,in active,in active,in active,significant,significant
5,NaN,markets for,markets for,markets for,observable,unobservable
6,Description(a),identical assets,identical assets,identical assets,inputs(b),inputs
10,"Oil, Gas & Consumable Fuels",$,135538972,NaN,28,
11,All Other Industries,NaN,1589466361,NaN,,
13,Total Equity Securities,NaN,1725005333,NaN,28,
17,Affiliated Money Market Fund(c),NaN,26431500,NaN,,
18,Investments of Cash Collateral Received for Se...,NaN,,NaN,280687575,
20,Total Other,NaN,26431500,NaN,280687575,
23,Total,$,1751436833,NaN,280687603,
2,By,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN
3,NaN,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,NaN,NaN
5,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
2,By,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN
3,NaN,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,J. Kevin Connaughton President and Principal E...,NaN,NaN
5,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
8,By,/s/ Michael G. Clarke,/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN
9,NaN,Michael G. Clarke Treasurer and Principal Fina...,Michael G. Clarke Treasurer and Principal Fina...,Michael G. Clarke Treasurer and Principal Fina...,NaN,NaN
11,Date,"May20, 2011","May20, 2011","May20, 2011",NaN,NaN
2,"Date: May 20, 2011",/s/ J. Kevin Connaughton,/s/ J. Kevin Connaughton,NaN,NaN,NaN
3,NaN,J. Kevin Connaughton,J. Kevin Connaughton,NaN,NaN,NaN
4,NaN,President and Principal Executive Officer,President and Principal Executive Officer,NaN,NaN,NaN
2,"Date: May 20, 2011",/s/ Michael G. Clarke,/s/ Michael G. Clarke,NaN,NaN,NaN
3,NaN,Michael G. Clarke,Michael G. Clarke,NaN,NaN,NaN
4,NaN,Treasurer and Principal Financial Officer,Treasurer and Principal Financial Officer,NaN,NaN,NaN

In [612]:
# table[1].dropna(axis = 0, how = 'all')

In [719]:
for i in range(len(table4)):
    df = table4[i].dropna(axis = 1, how = 'all')
    df = df.dropna(axis = 0, how = 'all')
    df = df.dropna(thresh = 3)
#     print(df)
    output_df4 = output_df4.append(df)
output_df4

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
0,NaN,Shares or Principal Amount,Shares or Principal Amount,NaN,Value,Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Raytheon,NaN,59800,shs.,$,3199898,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,Delta Air Lines*,NaN,547900,NaN,NaN,4081855,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,PepsiCo,NaN,55200,NaN,NaN,3934104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Amgen*,NaN,104500,NaN,NaN,6193715,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,Celgene*,NaN,49800,NaN,NaN,3151344,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Cephalon*,NaN,50400,NaN,NaN,3905496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Gilead Sciences*,NaN,71700,NaN,NaN,3268086,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Lazard (Class A),NaN,118400,NaN,NaN,5062784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Monsanto,NaN,34100,NaN,NaN,3375218,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Potash Corp. of Saskatchewan,NaN,25700,NaN,NaN,3392657,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,Wells Fargo,NaN,83900,NaN,NaN,3148767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,Cisco Systems*,NaN,184200,NaN,NaN,4155552,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,QUALCOMM,NaN,207100,NaN,NaN,8899087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Research In Motion*,NaN,86200,NaN,NaN,5887460,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,Apple*,NaN,15600,NaN,NaN,1773096,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Hewlett-Packard,NaN,93200,NaN,NaN,4309568,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,International Business Machines,NaN,55800,NaN,NaN,6526368,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50,Corinthian Colleges*,NaN,157500,NaN,NaN,2362500,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Bank of America,NaN,41400,NaN,NaN,1449000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Citigroup,NaN,51300,NaN,NaN,1052163,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,ABB (ADR),NaN,509000,NaN,NaN,9874600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,First Solar*,NaN,9700,NaN,NaN,1832427,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
65,Diamond Offshore Drilling,NaN,59700,NaN,NaN,6152682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,Halliburton,NaN,118700,NaN,NaN,3844693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,National Oilwell Varco*,NaN,52100,NaN,NaN,2616983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,Transocean*,NaN,82760,NaN,NaN,9090358,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
69,Weatherford International*,NaN,190600,NaN,NaN,4791684,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
74,CVS/Caremark,NaN,298000,NaN,NaN,10030680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
77,Baxter International,NaN,94000,NaN,NaN,6169220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113,Freeport-McMoRan Copper & Gold,NaN,22800,NaN,NaN,1296180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
118,Public Service Enterprise Group,NaN,70500,NaN,NaN,2311695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
121,Kohls*,NaN,63200,NaN,NaN,2912256,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
124,Devon Energy Corporation,NaN,16700,NaN,NaN,1523040,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
125,Peabody Energy,NaN,70200,NaN,NaN,3159000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
126,Petroleo Brasileiro Petrobras (ADR),NaN,65700,NaN,NaN,2887515,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,Union Pacific,NaN,23000,NaN,NaN,1636680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,Abbott Laboratories,NaN,228800,NaN,NaN,13174304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,Mylan*,NaN,205800,NaN,NaN,2350236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,Novartis (ADR),NaN,57300,NaN,NaN,3027732,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,Novo Nordisk (ADR),NaN,37400,NaN,NaN,1914880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,Pfizer,NaN,141600,NaN,NaN,2611104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,Sepracor*,NaN,233600,NaN,NaN,4277216,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,Annaly Capital Management,NaN,172800,NaN,NaN,2324160,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
145,XTO Energy,NaN,47100,NaN,NaN,2191092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
148,Intel,NaN,304200,NaN,NaN,5697666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
149,Marvell Technology Group*,NaN,697000,NaN,NaN,6482100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
154,Activision Blizzard*,NaN,817900,NaN,NaN,12620197,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,Adobe Systems*,NaN,124400,NaN,NaN,4910068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,Macrovision Solutions*,NaN,576573,NaN,NaN,8867693,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,Microsoft,NaN,274900,NaN,NaN,7337081,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,Oracle*,NaN,545227,NaN,NaN,11073560,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,Abercrombie & Fitch (Class A),NaN,144000,NaN,NaN,5680800,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,Philip Morris International,NaN,130300,NaN,NaN,6267430,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
171,"State Street Bank 0.05%, dated 9/30/2008, matu...",$,13922000,NaN,NaN,13922000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
176,Other Assets Less Liabilities (2.5)%,NaN,NaN,NaN,NaN,"(7,962,084",),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
178,Net Assets 100.0%,NaN,NaN,NaN,$,318834441,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0,Valuation Inputs,NaN,NaN,Value,Value,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Level 1 - Quoted Prices,NaN,NaN,$,312874525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Total,NaN,NaN,$,326796525,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [687]:
colDic = {}
for i in output_df4.columns:
#     print(i);
    if i == 0:
        colDic[i] = "Holding"
    elif i == 3:
        colDic[i] = "Share"
    elif i == 4:
        colDic[i] = "legend"
    elif i == 7:
        colDic[i] = "Value"
    else:
        colDic[i] = "Col" + str(i)

In [688]:
output_df4 = output_df4.rename(columns=colDic)

In [689]:
# output_df4 = output_df4.rename(columns={0: "Holding", 3:"Share" ,4 : "legend", 7:"Value"})
output_df4 = output_df4.dropna(subset=["Holding", "Share", "Value"])

In [690]:
output_df4 = output_df4.dropna(axis = 0, how = 'all')
output_df4 = output_df4.dropna(thresh = 3)
output_df4

,Holding,Col1,Col2,Share,legend,Col5,Col6,Value,Col8,Col9,...,ColCol15,ColCol16,ColCol2,ColCol5,ColCol6,ColCol8,ColHolding,ColShare,ColValue,Collegend
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Precision Castparts Corp.,NaN,NaN,127100,(e),NaN,$,18706578,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Technologies Corp.,NaN,NaN,319100,NaN,NaN,NaN,27011815,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"United Parcel Service, Inc., ClassB",NaN,NaN,226100,NaN,NaN,NaN,16803752,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Autoliv, Inc.",NaN,NaN,260800,(c),NaN,NaN,19359184,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Alexion Pharmaceuticals, Inc.",NaN,NaN,155200,"(b,e)",NaN,NaN,15315136,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Celgene Corp.,NaN,NaN,151700,(b),NaN,NaN,8727301,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Dendreon Corp.,NaN,NaN,329900,(b),NaN,NaN,12348157,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"BlackRock, Inc.",NaN,NaN,90400,NaN,NaN,NaN,18171304,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Franklin Resources, Inc.",NaN,NaN,106200,NaN,NaN,NaN,13283496,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Morgan Stanley,NaN,NaN,445100,NaN,NaN,NaN,12160132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Celanese Corp., SeriesA",NaN,NaN,203400,NaN,NaN,NaN,9024858,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"PPG Industries, Inc.",NaN,NaN,105400,NaN,NaN,NaN,10035134,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Fifth Third Bancorp,NaN,NaN,447800,NaN,NaN,NaN,6215464,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Ciena Corp.,NaN,NaN,362200,"(b,e)",NaN,NaN,9402712,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Cisco Systems, Inc.",NaN,NaN,323781,NaN,NaN,NaN,5552844,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,JDS Uniphase Corp.,NaN,NaN,283300,(b),NaN,NaN,5903972,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"Juniper Networks, Inc.",NaN,NaN,499900,"(b,e)",NaN,NaN,21035792,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"QUALCOMM, Inc.",NaN,NaN,841000,NaN,NaN,NaN,46112030,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,"Apple, Inc.",NaN,NaN,253059,(b),NaN,NaN,88178409,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,EMC Corp.,NaN,NaN,1721600,"(b,e)",NaN,NaN,45708480,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Foster Wheeler AG,NaN,NaN,186400,"(b,c,e)",NaN,NaN,7012368,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"KBR, Inc.",NaN,NaN,385200,NaN,NaN,NaN,14549004,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Crown Holdings, Inc.",NaN,NaN,263500,(b),NaN,NaN,10165830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Packaging Corp. of America,NaN,NaN,310634,NaN,NaN,NaN,8974216,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,JPMorgan Chase & Co.,NaN,NaN,376400,NaN,NaN,NaN,17352040,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Emerson Electric Co.,NaN,NaN,452600,NaN,NaN,NaN,26445418,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Rockwell Automation, Inc.",NaN,NaN,92800,NaN,NaN,NaN,8783520,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Corning, Inc.",NaN,NaN,570700,NaN,NaN,NaN,11773541,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,04-29-11,NaN,NaN,0.450,NaN,NaN,NaN,10000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,06-08-11,NaN,NaN,0.340,NaN,NaN,NaN,7000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,04-27-11,NaN,NaN,0.380,NaN,NaN,NaN,10000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,05-09-11,NaN,NaN,0.503,NaN,NaN,NaN,12000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,06-16-11,NaN,NaN,0.460,NaN,NaN,NaN,10000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
49,04-27-11,NaN,NaN,0.298,NaN,NaN,NaN,15000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
51,07-01-11,NaN,NaN,0.364,NaN,NaN,NaN,8000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Issuer,NaN,yield,yield,yield,NaN,at maturity,at maturity,at maturity,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,04-14-11,NaN,NaN,0.330,NaN,NaN,NaN,10000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,04-18-11,NaN,NaN,0.334,NaN,NaN,NaN,7000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,04-18-11,NaN,NaN,0.390,NaN,NaN,NaN,6000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,05-09-11,NaN,NaN,0.230,NaN,NaN,NaN,10000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,05-03-11,NaN,NaN,0.391,NaN,NaN,NaN,4990575,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,04-20-11,NaN,NaN,0.250,NaN,NaN,NaN,1999611,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,05-16-11,NaN,NaN,0.591,NaN,NaN,NaN,998443,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,04-28-11,NaN,NaN,0.300,NaN,NaN,NaN,9997084,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,Issuer,NaN,yield,yield,yield,NaN,Amount,Amount,Amount,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,"Barclays Capital, Inc. dated 11-04-10, matures...",NaN,NaN,0.270,%,NaN,$,5000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Cantor Fitzgerald & Co. dated 03-31-11, mature...",NaN,NaN,0.230,NaN,NaN,NaN,50000000,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"Goldman Sachs & Co. dated 03-31-11, matures 04...",NaN,NaN,0.160,NaN,NaN,NaN,13726360,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,"Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...",NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,Description(a),NaN,identical assets,identical assets,identical assets,NaN,inputs(b),inputs(b),inputs(b),NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"Oil, Gas & Consumable Fuels",NaN,$,135538972,NaN,NaN,$,28,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,All Other Industries,NaN,NaN,1589466361,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Total Equity Securities,NaN,NaN,1725005333,NaN,NaN,NaN,28,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Affiliated Money Market Fund(c),NaN,NaN,26431500,NaN,NaN,NaN,,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Investments of Cash Collateral Received for Se...,NaN,NaN,,NaN,NaN,NaN,280687575,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,Total Other,NaN,NaN,26431500,NaN,NaN,NaN,280687575,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Total,NaN,$,1751436833,NaN,NaN,$,280687603,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [691]:
output_df4 = output_df4.dropna(axis = 1, how = 'all')
output_df4

,Holding,Col1,Col2,Share,legend,Col5,Col6,Value,Col8,Col10,Col11,Col12,Col14,Col15,Col16
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Precision Castparts Corp.,NaN,NaN,127100,(e),NaN,$,18706578,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Technologies Corp.,NaN,NaN,319100,NaN,NaN,NaN,27011815,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"United Parcel Service, Inc., ClassB",NaN,NaN,226100,NaN,NaN,NaN,16803752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Autoliv, Inc.",NaN,NaN,260800,(c),NaN,NaN,19359184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Alexion Pharmaceuticals, Inc.",NaN,NaN,155200,"(b,e)",NaN,NaN,15315136,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Celgene Corp.,NaN,NaN,151700,(b),NaN,NaN,8727301,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Dendreon Corp.,NaN,NaN,329900,(b),NaN,NaN,12348157,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"BlackRock, Inc.",NaN,NaN,90400,NaN,NaN,NaN,18171304,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Franklin Resources, Inc.",NaN,NaN,106200,NaN,NaN,NaN,13283496,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Morgan Stanley,NaN,NaN,445100,NaN,NaN,NaN,12160132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Celanese Corp., SeriesA",NaN,NaN,203400,NaN,NaN,NaN,9024858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"PPG Industries, Inc.",NaN,NaN,105400,NaN,NaN,NaN,10035134,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Fifth Third Bancorp,NaN,NaN,447800,NaN,NaN,NaN,6215464,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Ciena Corp.,NaN,NaN,362200,"(b,e)",NaN,NaN,9402712,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Cisco Systems, Inc.",NaN,NaN,323781,NaN,NaN,NaN,5552844,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,JDS Uniphase Corp.,NaN,NaN,283300,(b),NaN,NaN,5903972,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"Juniper Networks, Inc.",NaN,NaN,499900,"(b,e)",NaN,NaN,21035792,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"QUALCOMM, Inc.",NaN,NaN,841000,NaN,NaN,NaN,46112030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,"Apple, Inc.",NaN,NaN,253059,(b),NaN,NaN,88178409,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,EMC Corp.,NaN,NaN,1721600,"(b,e)",NaN,NaN,45708480,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Foster Wheeler AG,NaN,NaN,186400,"(b,c,e)",NaN,NaN,7012368,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"KBR, Inc.",NaN,NaN,385200,NaN,NaN,NaN,14549004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Issuer,NaN,Shares,Shares,NaN,NaN,Value(a),Value(a),NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Crown Holdings, Inc.",NaN,NaN,263500,(b),NaN,NaN,10165830,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Packaging Corp. of America,NaN,NaN,310634,NaN,NaN,NaN,8974216,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,JPMorgan Chase & Co.,NaN,NaN,376400,NaN,NaN,NaN,17352040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Emerson Electric Co.,NaN,NaN,452600,NaN,NaN,NaN,26445418,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Rockwell Automation, Inc.",NaN,NaN,92800,NaN,NaN,NaN,8783520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Corning, Inc.",NaN,NaN,570700,NaN,NaN,NaN,11773541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39,04-29-11,NaN,NaN,0.450,NaN,NaN,NaN,10000000,NaN,NaN,10000000,NaN,NaN,NaN,NaN
41,06-08-11,NaN,NaN,0.340,NaN,NaN,NaN,7000000,NaN,NaN,7000000,NaN,NaN,NaN,NaN
43,04-27-11,NaN,NaN,0.380,NaN,NaN,NaN,10000000,NaN,NaN,10000000,NaN,NaN,NaN,NaN
45,05-09-11,NaN,NaN,0.503,NaN,NaN,NaN,12000000,NaN,NaN,12000000,NaN,NaN,NaN,NaN
47,06-16-11,NaN,NaN,0.460,NaN,NaN,NaN,10000000,NaN,NaN,10000000,NaN,NaN,NaN,NaN
49,04-27-11,NaN,NaN,0.298,NaN,NaN,NaN,15000000,NaN,NaN,15000000,NaN,NaN,NaN,NaN
51,07-01-11,NaN,NaN,0.364,NaN,NaN,NaN,8000000,NaN,NaN,8000000,NaN,NaN,NaN,NaN
2,Issuer,NaN,yield,yield,yield,NaN,at maturity,at maturity,at maturity,Value(a),Value(a),Value(a),NaN,NaN,NaN
4,04-14-11,NaN,NaN,0.330,NaN,NaN,NaN,10000000,NaN,NaN,10000000,NaN,NaN,NaN,NaN
6,04-18-11,NaN,NaN,0.334,NaN,NaN,NaN,7000000,NaN,NaN,7000000,NaN,NaN,NaN,NaN
8,04-18-11,NaN,NaN,0.390,NaN,NaN,NaN,6000000,NaN,NaN,6000000,NaN,NaN,NaN,NaN
10,05-09-11,NaN,NaN,0.230,NaN,NaN,NaN,10000000,NaN,NaN,10000000,NaN,NaN,NaN,NaN
17,05-03-11,NaN,NaN,0.391,NaN,NaN,NaN,4990575,NaN,NaN,4990575,NaN,NaN,NaN,NaN
19,04-20-11,NaN,NaN,0.250,NaN,NaN,NaN,1999611,NaN,NaN,1999611,NaN,NaN,NaN,NaN
21,05-16-11,NaN,NaN,0.591,NaN,NaN,NaN,998443,NaN,NaN,998443,NaN,NaN,NaN,NaN
23,04-28-11,NaN,NaN,0.300,NaN,NaN,NaN,9997084,NaN,NaN,9997084,NaN,NaN,NaN,NaN
29,Issuer,NaN,yield,yield,yield,NaN,Amount,Amount,Amount,Value(a),Value(a),Value(a),NaN,NaN,NaN
31,"Barclays Capital, Inc. dated 11-04-10, matures...",NaN,NaN,0.270,%,NaN,$,5000000,NaN,$,5000000,NaN,NaN,NaN,NaN
32,"Cantor Fitzgerald & Co. dated 03-31-11, mature...",NaN,NaN,0.230,NaN,NaN,NaN,50000000,NaN,NaN,50000000,NaN,NaN,NaN,NaN
33,"Goldman Sachs & Co. dated 03-31-11, matures 04...",NaN,NaN,0.160,NaN,NaN,NaN,13726360,NaN,NaN,13726360,NaN,NaN,NaN,NaN
37,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,Total Investments of Cash Collateral Received ...,$,280687575,NaN,NaN,NaN,NaN
39,"Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...","Total Investments in Securities (Cost: $1,688,...",$,2032124436,NaN,NaN,NaN,NaN
6,Description(a),NaN,identical assets,identical assets,identical assets,NaN,inputs(b),inputs(b),inputs(b),inputs,inputs,inputs,Total,Total,Total
10,"Oil, Gas & Consumable Fuels",NaN,$,135538972,NaN,NaN,$,28,NaN,$,,NaN,$,135539000,NaN
11,All Other Industries,NaN,NaN,1589466361,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,1589466361,NaN
13,Total Equity Securities,NaN,NaN,1725005333,NaN,NaN,NaN,28,NaN,NaN,,NaN,NaN,1725005361,NaN
17,Affiliated Money Market Fund(c),NaN,NaN,26431500,NaN,NaN,NaN,,NaN,NaN,,NaN,NaN,26431500,NaN
18,Investments of Cash Collateral Received for Se...,NaN,NaN,,NaN,NaN,NaN,280687575,NaN,NaN,,NaN,NaN,280687575,NaN
20,Total Other,NaN,NaN,26431500,NaN,NaN,NaN,280687575,NaN,NaN,,NaN,NaN,307119075,NaN
23,Total,NaN,$,1751436833,NaN,NaN,$,280687603,NaN,$,,NaN,$,2032124436,NaN

In [692]:
for i in output_df4.columns:
    if i == 'Holding':
        continue
    elif i == 'Share':
        continue
    elif i == 'legend':
        continue
    elif i == 'Col6':
        continue
    elif i == 'Value':
        continue
    else:
        bool_series = pd.isnull(output_df4[i])
        output_df4 = output_df4[bool_series]

In [693]:
# output_df4 = output_df4[bool_series]
output_df4

,Holding,Col1,Col2,Share,legend,Col5,Col6,Value,Col8,Col10,Col11,Col12,Col14,Col15,Col16
3,Precision Castparts Corp.,NaN,NaN,127100,(e),NaN,$,18706578,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,United Technologies Corp.,NaN,NaN,319100,NaN,NaN,NaN,27011815,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,"United Parcel Service, Inc., ClassB",NaN,NaN,226100,NaN,NaN,NaN,16803752,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"Autoliv, Inc.",NaN,NaN,260800,(c),NaN,NaN,19359184,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,"Alexion Pharmaceuticals, Inc.",NaN,NaN,155200,"(b,e)",NaN,NaN,15315136,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,Celgene Corp.,NaN,NaN,151700,(b),NaN,NaN,8727301,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,Dendreon Corp.,NaN,NaN,329900,(b),NaN,NaN,12348157,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"BlackRock, Inc.",NaN,NaN,90400,NaN,NaN,NaN,18171304,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Franklin Resources, Inc.",NaN,NaN,106200,NaN,NaN,NaN,13283496,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,Morgan Stanley,NaN,NaN,445100,NaN,NaN,NaN,12160132,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Celanese Corp., SeriesA",NaN,NaN,203400,NaN,NaN,NaN,9024858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"PPG Industries, Inc.",NaN,NaN,105400,NaN,NaN,NaN,10035134,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,Fifth Third Bancorp,NaN,NaN,447800,NaN,NaN,NaN,6215464,NaN,NaN,NaN,NaN,NaN,NaN,NaN
42,Ciena Corp.,NaN,NaN,362200,"(b,e)",NaN,NaN,9402712,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Cisco Systems, Inc.",NaN,NaN,323781,NaN,NaN,NaN,5552844,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,JDS Uniphase Corp.,NaN,NaN,283300,(b),NaN,NaN,5903972,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"Juniper Networks, Inc.",NaN,NaN,499900,"(b,e)",NaN,NaN,21035792,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"QUALCOMM, Inc.",NaN,NaN,841000,NaN,NaN,NaN,46112030,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,"Apple, Inc.",NaN,NaN,253059,(b),NaN,NaN,88178409,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,EMC Corp.,NaN,NaN,1721600,"(b,e)",NaN,NaN,45708480,NaN,NaN,NaN,NaN,NaN,NaN,NaN
59,Foster Wheeler AG,NaN,NaN,186400,"(b,c,e)",NaN,NaN,7012368,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"KBR, Inc.",NaN,NaN,385200,NaN,NaN,NaN,14549004,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"Crown Holdings, Inc.",NaN,NaN,263500,(b),NaN,NaN,10165830,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Packaging Corp. of America,NaN,NaN,310634,NaN,NaN,NaN,8974216,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,JPMorgan Chase & Co.,NaN,NaN,376400,NaN,NaN,NaN,17352040,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,Emerson Electric Co.,NaN,NaN,452600,NaN,NaN,NaN,26445418,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"Rockwell Automation, Inc.",NaN,NaN,92800,NaN,NaN,NaN,8783520,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,"Corning, Inc.",NaN,NaN,570700,NaN,NaN,NaN,11773541,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,TE Connectivity Ltd.,NaN,NaN,370900,(c),NaN,NaN,12914738,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,Halliburton Co.,NaN,NaN,480600,NaN,NaN,NaN,23953104,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6,"Allergan, Inc.",NaN,NaN,253700,NaN,NaN,NaN,18017774,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Perrigo Co.,NaN,NaN,186100,(e),NaN,NaN,14798672,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,"Watson Pharmaceuticals, Inc.",NaN,NaN,127000,(b),NaN,NaN,7113270,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,"JB Hunt Transport Services, Inc.",NaN,NaN,294100,NaN,NaN,NaN,13358022,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,Union Pacific Corp.,NaN,NaN,184900,NaN,NaN,NaN,18181217,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,"Advanced Micro Devices, Inc.",NaN,NaN,832400,(b),NaN,NaN,7158640,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,"Fairchild Semiconductor International, Inc.",NaN,NaN,480200,"(b,e)",NaN,NaN,8739640,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Marvell Technology Group Ltd.,NaN,NaN,485800,"(b,c)",NaN,NaN,7554190,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,"Netlogic Microsystems, Inc.",NaN,NaN,220300,"(b,e)",NaN,NaN,9257006,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,"Skyworks Solutions, Inc.",NaN,NaN,515400,"(b,e)",NaN,NaN,16709268,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,"Texas Instruments, Inc.",NaN,NaN,518100,NaN,NaN,NaN,17905536,NaN,NaN,NaN,NaN,NaN,NaN,NaN
32,"Autodesk, Inc.",NaN,NaN,296400,(b),NaN,NaN,13074204,NaN,NaN,NaN,NaN,NaN,NaN,NaN
33,"Intuit, Inc.",NaN,NaN,287400,(b),NaN,NaN,15260940,NaN,NaN,NaN,NaN,NaN,NaN,NaN
34,Microsoft Corp.,NaN,NaN,965800,NaN,NaN,NaN,24492688,NaN,NaN,NaN,NaN,NaN,NaN,NaN
35,Oracle Corp.,NaN,NaN,1671157,NaN,NaN,NaN,55766509,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,"Salesforce.com, Inc.",NaN,NaN,55900,"(b,e)",NaN,NaN,7467122,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,"SuccessFactors, Inc.",NaN,NaN,399500,"(b,e)",NaN,NaN,15616455,NaN,NaN,NaN,NaN,NaN,NaN,NaN
43,"Abercrombie & Fitch Co., ClassA",NaN,NaN,181200,NaN,NaN,NaN,10636440,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,"Dicks Sporting Goods, Inc.",NaN,NaN,381800,"(b,e)",NaN,NaN,15264364,NaN,NaN,NaN,NaN,NaN,NaN,NaN
45,"Limited Brands, Inc.",NaN,NaN,316700,NaN,NaN,NaN,10413096,NaN,NaN,NaN,NaN,NaN,NaN,NaN
46,"Lowes Companies, Inc.",NaN,NaN,700600,(e),NaN,NaN,18516858,NaN,NaN,NaN,NaN,NaN,NaN,NaN
52,"Coach, Inc.",NaN,NaN,295900,NaN,NaN,NaN,15398636,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,"Fossil, Inc.",NaN,NaN,171100,"(b,e)",NaN,NaN,16023515,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,"Lululemon Athletica, Inc.",NaN,NaN,77100,"(b,c,e)",NaN,NaN,6865755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
60,"Philip Morris International, Inc.",NaN,NaN,561075,(e),NaN,NaN,36823352,NaN,NaN,NaN,NaN,NaN,NaN,NaN
63,"United Rentals, Inc.",NaN,NaN,163800,"(b,e)",NaN,NaN,5451264,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,"American Tower Corp., ClassA",NaN,NaN,206400,(b),NaN,NaN,10695648,NaN,NaN,NaN,NaN,NaN,NaN,NaN
67,Millicom International Cellular SA,NaN,NaN,91400,(c),NaN,NaN,8789938,NaN,NaN,NaN,NaN,NaN,NaN,NaN
68,"NII Holdings, Inc.",NaN,NaN,285600,(b),NaN,NaN,11900952,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"Columbia Short-Term Cash Fund, 0.229%",NaN,NaN,26431500,(f),NaN,$,26431500,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [694]:
# output_df4 = output_df4[pd.isnull(output_df4["Col2"])]
# output_df4

In [637]:
write_to_csv(output_df4, "output_df4.csv")

In [636]:
# output_df4 = pd.DataFrame()
# output_df4 = parse(table4,output_df4)
# output_df4

In [204]:
# import bs4 as bs
# import urllib.request

# source = urllib.request.urlopen(url).read()
# soup = bs.BeautifulSoup(source,'lxml')
# table = soup.find_all('table')[1] # Grab the first table
# table_rows = table.find_all('tr')
# for tr in table_rows:
#     td = tr.find_all('td')
#     row = [i.text for i in td]
#     print(row)

In [720]:
table = pd.read_html(url)
len(table)

46

In [522]:
table2 = pd.read_html(url2)
len(table2)

23

In [520]:
output_df = pd.DataFrame()
output_df = parse(table,output_df)
output_df

                                        Holding    Share   legend     Value
3                     Precision Castparts Corp.   127100      (e)  18706578
4                     United Technologies Corp.   319100      NaN  27011815
10         United Parcel Service, Inc., ClassB   226100      NaN  16803752
13                                Autoliv, Inc.   260800      (c)  19359184
16                Alexion Pharmaceuticals, Inc.   155200    (b,e)  15315136
17                                Celgene Corp.   151700      (b)   8727301
18                               Dendreon Corp.   329900      (b)  12348157
24                              BlackRock, Inc.    90400      NaN  18171304
25                     Franklin Resources, Inc.   106200      NaN  13283496
26                               Morgan Stanley   445100      NaN  12160132
32                     Celanese Corp., SeriesA   203400      NaN   9024858
33                         PPG Industries, Inc.   105400      NaN  10035134
39                          Fifth Third Bancorp   447800      NaN   6215464
42                                  Ciena Corp.   362200    (b,e)   9402712
43                          Cisco Systems, Inc.   323781      NaN   5552844
44                           JDS Uniphase Corp.   283300      (b)   5903972
45                       Juniper Networks, Inc.   499900    (b,e)  21035792
46                               QUALCOMM, Inc.   841000      NaN  46112030
52                                  Apple, Inc.   253059      (b)  88178409
53                                    EMC Corp.  1721600    (b,e)  45708480
59                            Foster Wheeler AG   186400  (b,c,e)   7012368
60                                    KBR, Inc.   385200      NaN  14549004
3                          Crown Holdings, Inc.   263500      (b)  10165830
4                    Packaging Corp. of America   310634      NaN   8974216
10                         JPMorgan Chase & Co.   376400      NaN  17352040
13                         Emerson Electric Co.   452600      NaN  26445418
14                    Rockwell Automation, Inc.    92800      NaN   8783520
20                                Corning, Inc.   570700      NaN  11773541
21                         TE Connectivity Ltd.   370900      (c)  12914738
27                              Halliburton Co.   480600      NaN  23953104
..                                          ...      ...      ...       ...
3     The Estee Lauder Companies, Inc., ClassA   209900      NaN  20225964
6                                Allergan, Inc.   253700      NaN  18017774
7                                   Perrigo Co.   186100      (e)  14798672
8                  Watson Pharmaceuticals, Inc.   127000      (b)   7113270
14             JB Hunt Transport Services, Inc.   294100      NaN  13358022
15                          Union Pacific Corp.   184900      NaN  18181217
21                 Advanced Micro Devices, Inc.   832400      (b)   7158640
22  Fairchild Semiconductor International, Inc.   480200    (b,e)   8739640
23                Marvell Technology Group Ltd.   485800    (b,c)   7554190
24                  Netlogic Microsystems, Inc.   220300    (b,e)   9257006
25                     Skyworks Solutions, Inc.   515400    (b,e)  16709268
26                      Texas Instruments, Inc.   518100      NaN  17905536
32                               Autodesk, Inc.   296400      (b)  13074204
33                                 Intuit, Inc.   287400      (b)  15260940
34                              Microsoft Corp.   965800      NaN  24492688
35                                 Oracle Corp.  1671157      NaN  55766509
36                         Salesforce.com, Inc.    55900    (b,e)   7467122
37                         SuccessFactors, Inc.   399500    (b,e)  15616455
43             Abercrombie & Fitch Co., ClassA   181200      NaN  10636440
44                  Dicks Sporting Goods, Inc.   381800    (b,e)  15264364
45                         Limited Brands, Inc.   316700      NaN  10413096
46                       Lowes Companies, Inc.   700600      (e)  18516858
52                                  Coach, Inc.   295900      NaN  15398636
53                                 Fossil, Inc.   171100    (b,e)  16023515
54                    Lululemon Athletica, Inc.    77100  (b,c,e)   6865755
60            Philip Morris International, Inc.   561075      (e)  36823352
63                         United Rentals, Inc.   163800    (b,e)   5451264
66                American Tower Corp., ClassA   206400      (b)  10695648
67           Millicom International Cellular SA    91400      (c)   8789938
68                           NII Holdings, Inc.   285600      (b)  11900952

[106 rows x 4 columns]

In [521]:
output_df2 = pd.DataFrame()
output_df2 = parse(table2,output_df2)
output_df2

                                    Holding     Share   legend     Value
3                                  Goodrich    137498      NaN   7471641
4                            Honeywell Intl    311757      NaN  11581773
5                                       ITT    249000      (d)  12985350
6                           Lockheed Martin    105288      NaN   8220887
7                       Precision Castparts    110700      NaN  11277009
13               United Parcel Service Cl B    167800      NaN   9475666
16                                    Amgen    551956      (b)  33244310
17                              Biogen Idec    225256      (b)  11379933
18                          Gilead Sciences    486446    (b,d)  22658655
19                   Vertex Pharmaceuticals    228400    (b,d)   8656360
25                                  Invesco    764790      NaN  17406620
28                                 Monsanto    284910      NaN  22052034
29              Potash Corp of Saskatchewan    218211      (c)  19713182
35                         Wells Fargo & Co    280400      NaN   7901672
38                            Cisco Systems   1076881      (b)  25349779
39                                 QUALCOMM   1034492      NaN  46531450
45                                    Apple    379159      (b)  70284704
46                          Hewlett-Packard   1856414      NaN  87641304
52                                    Fluor    113133      NaN   5752813
55                    Capital One Financial    440934      (d)  15754572
3                         Apollo Group Cl A    156500      (b)  11529355
4                                  Coinstar   1087408    (b,d)  35862716
10                          Bank of America    370481      NaN   6268538
11                                CME Group     10941      (d)   3371907
17                                  ABB ADR    586000  (b,c,d)  11743440
20                       Natl Oilwell Varco    372700      (b)  16074551
21                               Transocean    190436    (b,c)  16287991
22                         Weatherford Intl   1104699    (b,c)  22900410
28                      BJs Wholesale Club    341429    (b,d)  12366558
29                             CVS Caremark    779430      NaN  27856829
..                                      ...       ...      ...       ...
20                               Deere & Co    401287      NaN  17223238
21                               Joy Global    205900      (d)  10076746
27                             Virgin Media   1676348    (d,e)  23334764
30                             Barrick Gold    457651      (c)  17344973
31                      United States Steel    210100      (d)   9322137
37                                   Kohls    509167    (b,d)  29047977
38                                   Target   1254171      NaN  58544703
44          Public Service Enterprise Group    211800      NaN   6658992
47                                   Apache    263326      (d)  24181227
48             Kinder Morgan Management LLC             (b,g)        20
49                             Noble Energy    179845      (d)  11862576
50                      Southwestern Energy    187100    (b,d)   7985428
56                            Avon Products    974484      NaN  33093477
59                      Abbott Laboratories    678600      NaN  33570343
60                        Johnson & Johnson    269951      NaN  16437316
61              Medicis Pharmaceutical Cl A    374900      NaN   8004115
62                                   Pfizer    993053      (d)  16435027
68                           FTI Consulting    255210    (b,d)  10874498
3                                       CSX    235300      (d)   9849658
4                             Union Pacific    404618      NaN  23609460
10                                    Intel    943975      NaN  18473591
11                 Marvell Technology Group   2610056  (b,c,d)  42256806
17                      Activision Blizzard   1901464      (b)  23559138
18                           Citrix Systems    420851    (b,d)  16509985
19                                   McAfee    436400    (b,d)  19109956
20                                   Oracle    953157      NaN  19863792
21                                     Rovi   1473073    (b,d)  49495252
27                       Philip Morris Intl    990675      NaN  48285500
34  RiverSource Short-Term Cash Fund, 0.28%  11431760      (f)  11431760
43         JPMorgan Prime Money Market Fund  96506368      NaN  96506368

[77 rows x 4 columns]

In [523]:
url3 = 'https://www.sec.gov/Archives/edgar/data/316411/0000950123-10-109224.txt'

In [524]:
table3 = pd.read_html(url3)
len(table3)

26

In [525]:
output_df3 = pd.DataFrame()
output_df3 = parse(table3,output_df3)
output_df3

,Holding,Share,legend,Value
3,Goodrich Corp.,137498,NaN,10137728
4,Precision Castparts Corp.,98400,(d),12531240
5,United Technologies Corp.,318400,NaN,22679632
11,"United Parcel Service, Inc., ClassB",167800,NaN,11190582
14,"Autoliv, Inc.",311600,"(c,d)",20356828
17,Ford Motor Co.,1007100,"(b,d)",12326904
20,"Dr Pepper Snapple Group, Inc.",101029,NaN,3588550
21,"PepsiCo, Inc.",243500,NaN,16178140
22,The Coca-Cola Co.,324300,NaN,18978036
28,"Alexion Pharmaceuticals, Inc.",208700,(b),13431932
29,"Amgen, Inc.",195500,(b),10774005
30,Celgene Corp.,349500,(b),20134695
31,Dendreon Corp.,119200,"(b,d)",4908656
37,Morgan Stanley,444900,NaN,10980132
40,"CF Industries Holdings, Inc.",46300,NaN,4421650
43,Fifth Third Bancorp,447600,NaN,5384628
46,"Republic Services, Inc.",426900,NaN,13016181
49,"Cisco Systems, Inc.",1479381,(b),32398444
50,"QUALCOMM, Inc.",632000,NaN,28515840
3,"Apple, Inc.",276159,(b),78360116
4,EMC Corp.,1560500,(b),31693755
5,Hewlett-Packard Co.,304159,NaN,12795969
6,SanDisk Corp.,104500,(b),3829925
12,American Express Co.,453600,NaN,19064808
15,Packaging Corp. of America,443234,NaN,10269732
18,"IntercontinentalExchange, Inc.",188900,"(b,d)",19781608
19,JPMorgan Chase & Co.,376200,NaN,14321934
25,"Corning, Inc.",594000,NaN,10858320
26,Tyco Electronics Ltd.,370800,(c),10834776
32,"Dresser-Rand Group, Inc.",146700,(b),5411763
...,...,...,...,...
6,Kinder Morgan Management LLC,,"(b,e)",26
7,Occidental Petroleum Corp.,152200,NaN,11917260
8,Peabody Energy Corp.,166800,NaN,8174868
14,"Avon Products, Inc.",517900,(d),16629769
15,"The Estee Lauder Companies, Inc., ClassA",86200,(d),5450426
21,"Allergan, Inc.",253600,NaN,16872008
22,"Medicis Pharmaceutical Corp., ClassA",487500,(d),14454375
23,"Mylan, Inc.",644100,"(b,d)",12115521
29,"Broadcom Corp., ClassA",233900,NaN,8277721
30,"Netlogic Microsystems, Inc.",315400,"(b,d)",8698732
31,"Texas Instruments, Inc.",533200,(d),14471048
32,"Varian Semiconductor Equipment Associates, Inc.",220900,(b),6357502
38,"Autodesk, Inc.",535200,(b),17110344
39,"Intuit, Inc.",350700,(b),15364167
40,Microsoft Corp.,913200,NaN,22364268
41,"Nintendo Co., Ltd., ADR",197777,(c),6165698
42,Oracle Corp.,1516857,NaN,40727610
43,Rovi Corp.,220873,"(b,d)",11134208
44,"Salesforce.com, Inc.",81200,"(b,d)",9078160
45,"SuccessFactors, Inc.",399300,"(b,d)",10026423
51,"Dicks Sporting Goods, Inc.",325300,"(b,d)",9121412
52,"GameStop Corp., ClassA",507300,"(b,d)",9998883
53,"Limited Brands, Inc.",426200,NaN,11413636
54,"Lowes Companies, Inc.",307900,NaN,6863091
55,"TJX Companies, Inc.",368500,NaN,16446155
61,"Lululemon Athletica, Inc.",206700,"(b,c,d)",9243624
64,"Philip Morris International, Inc.",475475,NaN,26636110
67,"American Tower Corp., ClassA",206400,(b),10580064
68,Millicom International Cellular SA,91500,"(c,d)",8779425
69,"NII Holdings, Inc.",285600,(b),11738160

In [517]:
# print(output_df2['Holding'].str.contains("Total"))
filter = output_df2['Holding'].str.contains("Total")
# print(filter)
output_df2 = output_df2[~filter]
output_df2

                                    Holding     Share   legend     Value
3                                  Goodrich    137498      NaN   7471641
4                            Honeywell Intl    311757      NaN  11581773
5                                       ITT    249000      (d)  12985350
6                           Lockheed Martin    105288      NaN   8220887
7                       Precision Castparts    110700      NaN  11277009
13               United Parcel Service Cl B    167800      NaN   9475666
16                                    Amgen    551956      (b)  33244310
17                              Biogen Idec    225256      (b)  11379933
18                          Gilead Sciences    486446    (b,d)  22658655
19                   Vertex Pharmaceuticals    228400    (b,d)   8656360
25                                  Invesco    764790      NaN  17406620
28                                 Monsanto    284910      NaN  22052034
29              Potash Corp of Saskatchewan    218211      (c)  19713182
35                         Wells Fargo & Co    280400      NaN   7901672
38                            Cisco Systems   1076881      (b)  25349779
39                                 QUALCOMM   1034492      NaN  46531450
45                                    Apple    379159      (b)  70284704
46                          Hewlett-Packard   1856414      NaN  87641304
52                                    Fluor    113133      NaN   5752813
55                    Capital One Financial    440934      (d)  15754572
3                         Apollo Group Cl A    156500      (b)  11529355
4                                  Coinstar   1087408    (b,d)  35862716
10                          Bank of America    370481      NaN   6268538
11                                CME Group     10941      (d)   3371907
17                                  ABB ADR    586000  (b,c,d)  11743440
20                       Natl Oilwell Varco    372700      (b)  16074551
21                               Transocean    190436    (b,c)  16287991
22                         Weatherford Intl   1104699    (b,c)  22900410
28                      BJs Wholesale Club    341429    (b,d)  12366558
29                             CVS Caremark    779430      NaN  27856829
..                                      ...       ...      ...       ...
20                               Deere & Co    401287      NaN  17223238
21                               Joy Global    205900      (d)  10076746
27                             Virgin Media   1676348    (d,e)  23334764
30                             Barrick Gold    457651      (c)  17344973
31                      United States Steel    210100      (d)   9322137
37                                   Kohls    509167    (b,d)  29047977
38                                   Target   1254171      NaN  58544703
44          Public Service Enterprise Group    211800      NaN   6658992
47                                   Apache    263326      (d)  24181227
48             Kinder Morgan Management LLC             (b,g)        20
49                             Noble Energy    179845      (d)  11862576
50                      Southwestern Energy    187100    (b,d)   7985428
56                            Avon Products    974484      NaN  33093477
59                      Abbott Laboratories    678600      NaN  33570343
60                        Johnson & Johnson    269951      NaN  16437316
61              Medicis Pharmaceutical Cl A    374900      NaN   8004115
62                                   Pfizer    993053      (d)  16435027
68                           FTI Consulting    255210    (b,d)  10874498
3                                       CSX    235300      (d)   9849658
4                             Union Pacific    404618      NaN  23609460
10                                    Intel    943975      NaN  18473591
11                 Marvell Technology Group   2610056  (b,c,d)  42256806
17                      Activision Blizzard   1901464      (b)  23559138
18                           Citrix Systems    420851    (b,d)  16509985
19                                   McAfee    436400    (b,d)  19109956
20                                   Oracle    953157      NaN  19863792
21                                     Rovi   1473073    (b,d)  49495252
27                       Philip Morris Intl    990675      NaN  48285500
34  RiverSource Short-Term Cash Fund, 0.28%  11431760      (f)  11431760
43         JPMorgan Prime Money Market Fund  96506368      NaN  96506368

[77 rows x 4 columns]

In [478]:
output_df2 = pd.DataFrame()

In [479]:
output_df2 = parse(table2,output_df2)

In [480]:
output_df2

                                        Holding     Share   legend       Value
3                                      Goodrich    137498      NaN     7471641
4                                Honeywell Intl    311757      NaN    11581773
5                                           ITT    249000      (d)    12985350
6                               Lockheed Martin    105288      NaN     8220887
7                           Precision Castparts    110700      NaN    11277009
13                   United Parcel Service Cl B    167800      NaN     9475666
16                                        Amgen    551956      (b)    33244310
17                                  Biogen Idec    225256      (b)    11379933
18                              Gilead Sciences    486446    (b,d)    22658655
19                       Vertex Pharmaceuticals    228400    (b,d)     8656360
25                                      Invesco    764790      NaN    17406620
28                                     Monsanto    284910      NaN    22052034
29                  Potash Corp of Saskatchewan    218211      (c)    19713182
35                             Wells Fargo & Co    280400      NaN     7901672
38                                Cisco Systems   1076881      (b)    25349779
39                                     QUALCOMM   1034492      NaN    46531450
45                                        Apple    379159      (b)    70284704
46                              Hewlett-Packard   1856414      NaN    87641304
52                                        Fluor    113133      NaN     5752813
55                        Capital One Financial    440934      (d)    15754572
3                             Apollo Group Cl A    156500      (b)    11529355
4                                      Coinstar   1087408    (b,d)    35862716
10                              Bank of America    370481      NaN     6268538
11                                    CME Group     10941      (d)     3371907
17                                      ABB ADR    586000  (b,c,d)    11743440
20                           Natl Oilwell Varco    372700      (b)    16074551
21                                   Transocean    190436    (b,c)    16287991
22                             Weatherford Intl   1104699    (b,c)    22900410
28                          BJs Wholesale Club    341429    (b,d)    12366558
29                                 CVS Caremark    779430      NaN    27856829
..                                          ...       ...      ...         ...
31                          United States Steel    210100      (d)     9322137
37                                       Kohls    509167    (b,d)    29047977
38                                       Target   1254171      NaN    58544703
44              Public Service Enterprise Group    211800      NaN     6658992
47                                       Apache    263326      (d)    24181227
48                 Kinder Morgan Management LLC             (b,g)          20
49                                 Noble Energy    179845      (d)    11862576
50                          Southwestern Energy    187100    (b,d)     7985428
56                                Avon Products    974484      NaN    33093477
59                          Abbott Laboratories    678600      NaN    33570343
60                            Johnson & Johnson    269951      NaN    16437316
61                  Medicis Pharmaceutical Cl A    374900      NaN     8004115
62                                       Pfizer    993053      (d)    16435027
68                               FTI Consulting    255210    (b,d)    10874498
3                                           CSX    235300      (d)     9849658
4                                 Union Pacific    404618      NaN    23609460
10                                        Intel    943975      NaN    18473591
11                     Marvell Technology Group   2610056  (b,c,d)    42256806
17                          Activision Blizzard   1901464      (b)    23559138
18                               Citrix Systems    420851    (b,d)    16509985
19                                       McAfee    436400    (b,d)    19109956
20                                       Oracle    953157      NaN    19863792
21                                         Rovi   1473073    (b,d)    49495252
27                           Philip Morris Intl    990675      NaN    48285500
28   Total Common Stocks (Cost: $1,357,516,043)       NaN      NaN  1588464416
33                                          NaN    Shares      NaN    Value(a)
34      RiverSource Short-Term Cash Fund, 0.28%  11431760      (f)    11431760
36  Total Money Market Fund (Cost: $11,431,760)       NaN      NaN    11431760
41                                          NaN    Shares      NaN    Value(a)
43             JPMorgan Prime Money Market Fund  96506368      NaN    96506368

[81 rows x 4 columns]

In [148]:
df = table[1].dropna(axis = 0, how = 'all')

In [149]:
df = df.drop(columns=[1,2,5,6,8])

In [153]:
df = df.dropna(thresh = 2)

In [174]:
df = df.rename(columns={0: "Holding", 3:"Share", 4 : "legend" , 7:"Value"})

In [180]:
df = df.drop(1)

In [182]:
df = df[df.Holding != 'Total']

In [214]:
df.reset_index()
df.drop(df.index)

Empty DataFrame
Columns: [Holding, Share, legend, Value]
Index: []

In [215]:
df

                                 Holding    Share   legend     Value
3              Precision Castparts Corp.   127100      (e)  18706578
4              United Technologies Corp.   319100      NaN  27011815
10  United Parcel Service, Inc., ClassB   226100      NaN  16803752
13                         Autoliv, Inc.   260800      (c)  19359184
16         Alexion Pharmaceuticals, Inc.   155200    (b,e)  15315136
17                         Celgene Corp.   151700      (b)   8727301
18                        Dendreon Corp.   329900      (b)  12348157
24                       BlackRock, Inc.    90400      NaN  18171304
25              Franklin Resources, Inc.   106200      NaN  13283496
26                        Morgan Stanley   445100      NaN  12160132
32              Celanese Corp., SeriesA   203400      NaN   9024858
33                  PPG Industries, Inc.   105400      NaN  10035134
39                   Fifth Third Bancorp   447800      NaN   6215464
42                           Ciena Corp.   362200    (b,e)   9402712
43                   Cisco Systems, Inc.   323781      NaN   5552844
44                    JDS Uniphase Corp.   283300      (b)   5903972
45                Juniper Networks, Inc.   499900    (b,e)  21035792
46                        QUALCOMM, Inc.   841000      NaN  46112030
52                           Apple, Inc.   253059      (b)  88178409
53                             EMC Corp.  1721600    (b,e)  45708480
59                     Foster Wheeler AG   186400  (b,c,e)   7012368
60                             KBR, Inc.   385200      NaN  14549004

In [185]:
# for index, row in df.iterrows():
#     if(row[0] == 'Total'):
#         print("yes")
#         df.drop(level = index)
#     print(index, row[0], row[3],row[7])

In [167]:
df

                                       0        3        4          7
1                                 Issuer   Shares      NaN   Value(a)
3              Precision Castparts Corp.   127100      (e)   18706578
4              United Technologies Corp.   319100      NaN   27011815
6                                  Total      NaN      NaN   45718393
10  United Parcel Service, Inc., ClassB   226100      NaN   16803752
13                         Autoliv, Inc.   260800      (c)   19359184
16         Alexion Pharmaceuticals, Inc.   155200    (b,e)   15315136
17                         Celgene Corp.   151700      (b)    8727301
18                        Dendreon Corp.   329900      (b)   12348157
20                                 Total      NaN      NaN   36390594
24                       BlackRock, Inc.    90400      NaN   18171304
25              Franklin Resources, Inc.   106200      NaN   13283496
26                        Morgan Stanley   445100      NaN   12160132
28                                 Total      NaN      NaN   43614932
32              Celanese Corp., SeriesA   203400      NaN    9024858
33                  PPG Industries, Inc.   105400      NaN   10035134
35                                 Total      NaN      NaN   19059992
39                   Fifth Third Bancorp   447800      NaN    6215464
42                           Ciena Corp.   362200    (b,e)    9402712
43                   Cisco Systems, Inc.   323781      NaN    5552844
44                    JDS Uniphase Corp.   283300      (b)    5903972
45                Juniper Networks, Inc.   499900    (b,e)   21035792
46                        QUALCOMM, Inc.   841000      NaN   46112030
48                                 Total      NaN      NaN   88007350
52                           Apple, Inc.   253059      (b)   88178409
53                             EMC Corp.  1721600    (b,e)   45708480
55                                 Total      NaN      NaN  133886889
59                     Foster Wheeler AG   186400  (b,c,e)    7012368
60                             KBR, Inc.   385200      NaN   14549004
62                                 Total      NaN      NaN   21561372

In [446]:
output_df = pd.DataFrame()
# output_df = parse(table,output_df)
# output_df = output_df.append(df)
# output_df
# output_df = df

In [447]:
output_df = parse(table,output_df)

In [448]:
output_df = output_df[:-1]

In [449]:
output_df

                                        Holding    Share   legend     Value
3                     Precision Castparts Corp.   127100      (e)  18706578
4                     United Technologies Corp.   319100      NaN  27011815
10         United Parcel Service, Inc., ClassB   226100      NaN  16803752
13                                Autoliv, Inc.   260800      (c)  19359184
16                Alexion Pharmaceuticals, Inc.   155200    (b,e)  15315136
17                                Celgene Corp.   151700      (b)   8727301
18                               Dendreon Corp.   329900      (b)  12348157
24                              BlackRock, Inc.    90400      NaN  18171304
25                     Franklin Resources, Inc.   106200      NaN  13283496
26                               Morgan Stanley   445100      NaN  12160132
32                     Celanese Corp., SeriesA   203400      NaN   9024858
33                         PPG Industries, Inc.   105400      NaN  10035134
39                          Fifth Third Bancorp   447800      NaN   6215464
42                                  Ciena Corp.   362200    (b,e)   9402712
43                          Cisco Systems, Inc.   323781      NaN   5552844
44                           JDS Uniphase Corp.   283300      (b)   5903972
45                       Juniper Networks, Inc.   499900    (b,e)  21035792
46                               QUALCOMM, Inc.   841000      NaN  46112030
52                                  Apple, Inc.   253059      (b)  88178409
53                                    EMC Corp.  1721600    (b,e)  45708480
59                            Foster Wheeler AG   186400  (b,c,e)   7012368
60                                    KBR, Inc.   385200      NaN  14549004
3                          Crown Holdings, Inc.   263500      (b)  10165830
4                    Packaging Corp. of America   310634      NaN   8974216
10                         JPMorgan Chase & Co.   376400      NaN  17352040
13                         Emerson Electric Co.   452600      NaN  26445418
14                    Rockwell Automation, Inc.    92800      NaN   8783520
20                                Corning, Inc.   570700      NaN  11773541
21                         TE Connectivity Ltd.   370900      (c)  12914738
27                              Halliburton Co.   480600      NaN  23953104
..                                          ...      ...      ...       ...
3     The Estee Lauder Companies, Inc., ClassA   209900      NaN  20225964
6                                Allergan, Inc.   253700      NaN  18017774
7                                   Perrigo Co.   186100      (e)  14798672
8                  Watson Pharmaceuticals, Inc.   127000      (b)   7113270
14             JB Hunt Transport Services, Inc.   294100      NaN  13358022
15                          Union Pacific Corp.   184900      NaN  18181217
21                 Advanced Micro Devices, Inc.   832400      (b)   7158640
22  Fairchild Semiconductor International, Inc.   480200    (b,e)   8739640
23                Marvell Technology Group Ltd.   485800    (b,c)   7554190
24                  Netlogic Microsystems, Inc.   220300    (b,e)   9257006
25                     Skyworks Solutions, Inc.   515400    (b,e)  16709268
26                      Texas Instruments, Inc.   518100      NaN  17905536
32                               Autodesk, Inc.   296400      (b)  13074204
33                                 Intuit, Inc.   287400      (b)  15260940
34                              Microsoft Corp.   965800      NaN  24492688
35                                 Oracle Corp.  1671157      NaN  55766509
36                         Salesforce.com, Inc.    55900    (b,e)   7467122
37                         SuccessFactors, Inc.   399500    (b,e)  15616455
43             Abercrombie & Fitch Co., ClassA   181200      NaN  10636440
44                  Dicks Sporting Goods, Inc.   381800    (b,e)  15264364
45                         Limited Brands, Inc.   316700      NaN  10413096
46                       Lowes Companies, Inc.   700600      (e)  18516858
52                                  Coach, Inc.   295900      NaN  15398636
53                                 Fossil, Inc.   171100    (b,e)  16023515
54                    Lululemon Athletica, Inc.    77100  (b,c,e)   6865755
60            Philip Morris International, Inc.   561075      (e)  36823352
63                         United Rentals, Inc.   163800    (b,e)   5451264
66                American Tower Corp., ClassA   206400      (b)  10695648
67           Millicom International Cellular SA    91400      (c)   8789938
68                           NII Holdings, Inc.   285600      (b)  11900952

[106 rows x 4 columns]

In [450]:
output_df = output_df.reset_index()

In [451]:
output_df

,index,Holding,Share,legend,Value
0,3,Precision Castparts Corp.,127100,(e),18706578
1,4,United Technologies Corp.,319100,NaN,27011815
2,10,"United Parcel Service, Inc., ClassB",226100,NaN,16803752
3,13,"Autoliv, Inc.",260800,(c),19359184
4,16,"Alexion Pharmaceuticals, Inc.",155200,"(b,e)",15315136
5,17,Celgene Corp.,151700,(b),8727301
6,18,Dendreon Corp.,329900,(b),12348157
7,24,"BlackRock, Inc.",90400,NaN,18171304
8,25,"Franklin Resources, Inc.",106200,NaN,13283496
9,26,Morgan Stanley,445100,NaN,12160132
10,32,"Celanese Corp., SeriesA",203400,NaN,9024858
11,33,"PPG Industries, Inc.",105400,NaN,10035134
12,39,Fifth Third Bancorp,447800,NaN,6215464
13,42,Ciena Corp.,362200,"(b,e)",9402712
14,43,"Cisco Systems, Inc.",323781,NaN,5552844
15,44,JDS Uniphase Corp.,283300,(b),5903972
16,45,"Juniper Networks, Inc.",499900,"(b,e)",21035792
17,46,"QUALCOMM, Inc.",841000,NaN,46112030
18,52,"Apple, Inc.",253059,(b),88178409
19,53,EMC Corp.,1721600,"(b,e)",45708480
20,59,Foster Wheeler AG,186400,"(b,c,e)",7012368
21,60,"KBR, Inc.",385200,NaN,14549004
22,3,"Crown Holdings, Inc.",263500,(b),10165830
23,4,Packaging Corp. of America,310634,NaN,8974216
24,10,JPMorgan Chase & Co.,376400,NaN,17352040
25,13,Emerson Electric Co.,452600,NaN,26445418
26,14,"Rockwell Automation, Inc.",92800,NaN,8783520
27,20,"Corning, Inc.",570700,NaN,11773541
28,21,TE Connectivity Ltd.,370900,(c),12914738
29,27,Halliburton Co.,480600,NaN,23953104
...,...,...,...,...,...
76,3,"The Estee Lauder Companies, Inc., ClassA",209900,NaN,20225964
77,6,"Allergan, Inc.",253700,NaN,18017774
78,7,Perrigo Co.,186100,(e),14798672
79,8,"Watson Pharmaceuticals, Inc.",127000,(b),7113270
80,14,"JB Hunt Transport Services, Inc.",294100,NaN,13358022
81,15,Union Pacific Corp.,184900,NaN,18181217
82,21,"Advanced Micro Devices, Inc.",832400,(b),7158640
83,22,"Fairchild Semiconductor International, Inc.",480200,"(b,e)",8739640
84,23,Marvell Technology Group Ltd.,485800,"(b,c)",7554190
85,24,"Netlogic Microsystems, Inc.",220300,"(b,e)",9257006
86,25,"Skyworks Solutions, Inc.",515400,"(b,e)",16709268
87,26,"Texas Instruments, Inc.",518100,NaN,17905536
88,32,"Autodesk, Inc.",296400,(b),13074204
89,33,"Intuit, Inc.",287400,(b),15260940
90,34,Microsoft Corp.,965800,NaN,24492688
91,35,Oracle Corp.,1671157,NaN,55766509
92,36,"Salesforce.com, Inc.",55900,"(b,e)",7467122
93,37,"SuccessFactors, Inc.",399500,"(b,e)",15616455
94,43,"Abercrombie & Fitch Co., ClassA",181200,NaN,10636440
95,44,"Dicks Sporting Goods, Inc.",381800,"(b,e)",15264364
96,45,"Limited Brands, Inc.",316700,NaN,10413096
97,46,"Lowes Companies, Inc.",700600,(e),18516858
98,52,"Coach, Inc.",295900,NaN,15398636
99,53,"Fossil, Inc.",171100,"(b,e)",16023515
100,54,"Lululemon Athletica, Inc.",77100,"(b,c,e)",6865755
101,60,"Philip Morris International, Inc.",561075,(e),36823352
102,63,"United Rentals, Inc.",163800,"(b,e)",5451264
103,66,"American Tower Corp., ClassA",206400,(b),10695648
104,67,Millicom International Cellular SA,91400,(c),8789938
105,68,"NII Holdings, Inc.",285600,(b),11900952

In [452]:
output_df = output_df.drop(columns = ["index"])

In [453]:
output_df

                                         Holding    Share   legend     Value
0                      Precision Castparts Corp.   127100      (e)  18706578
1                      United Technologies Corp.   319100      NaN  27011815
2           United Parcel Service, Inc., ClassB   226100      NaN  16803752
3                                  Autoliv, Inc.   260800      (c)  19359184
4                  Alexion Pharmaceuticals, Inc.   155200    (b,e)  15315136
5                                  Celgene Corp.   151700      (b)   8727301
6                                 Dendreon Corp.   329900      (b)  12348157
7                                BlackRock, Inc.    90400      NaN  18171304
8                       Franklin Resources, Inc.   106200      NaN  13283496
9                                 Morgan Stanley   445100      NaN  12160132
10                      Celanese Corp., SeriesA   203400      NaN   9024858
11                          PPG Industries, Inc.   105400      NaN  10035134
12                           Fifth Third Bancorp   447800      NaN   6215464
13                                   Ciena Corp.   362200    (b,e)   9402712
14                           Cisco Systems, Inc.   323781      NaN   5552844
15                            JDS Uniphase Corp.   283300      (b)   5903972
16                        Juniper Networks, Inc.   499900    (b,e)  21035792
17                                QUALCOMM, Inc.   841000      NaN  46112030
18                                   Apple, Inc.   253059      (b)  88178409
19                                     EMC Corp.  1721600    (b,e)  45708480
20                             Foster Wheeler AG   186400  (b,c,e)   7012368
21                                     KBR, Inc.   385200      NaN  14549004
22                          Crown Holdings, Inc.   263500      (b)  10165830
23                    Packaging Corp. of America   310634      NaN   8974216
24                          JPMorgan Chase & Co.   376400      NaN  17352040
25                          Emerson Electric Co.   452600      NaN  26445418
26                     Rockwell Automation, Inc.    92800      NaN   8783520
27                                 Corning, Inc.   570700      NaN  11773541
28                          TE Connectivity Ltd.   370900      (c)  12914738
29                               Halliburton Co.   480600      NaN  23953104
..                                           ...      ...      ...       ...
76     The Estee Lauder Companies, Inc., ClassA   209900      NaN  20225964
77                                Allergan, Inc.   253700      NaN  18017774
78                                   Perrigo Co.   186100      (e)  14798672
79                  Watson Pharmaceuticals, Inc.   127000      (b)   7113270
80              JB Hunt Transport Services, Inc.   294100      NaN  13358022
81                           Union Pacific Corp.   184900      NaN  18181217
82                  Advanced Micro Devices, Inc.   832400      (b)   7158640
83   Fairchild Semiconductor International, Inc.   480200    (b,e)   8739640
84                 Marvell Technology Group Ltd.   485800    (b,c)   7554190
85                   Netlogic Microsystems, Inc.   220300    (b,e)   9257006
86                      Skyworks Solutions, Inc.   515400    (b,e)  16709268
87                       Texas Instruments, Inc.   518100      NaN  17905536
88                                Autodesk, Inc.   296400      (b)  13074204
89                                  Intuit, Inc.   287400      (b)  15260940
90                               Microsoft Corp.   965800      NaN  24492688
91                                  Oracle Corp.  1671157      NaN  55766509
92                          Salesforce.com, Inc.    55900    (b,e)   7467122
93                          SuccessFactors, Inc.   399500    (b,e)  15616455
94              Abercrombie & Fitch Co., ClassA   181200      NaN  10636440
95                   Dicks Sporting Goods, Inc.   381800    (b,e)  15264364
96                          Limited Brands, Inc.   316700      NaN  10413096
97                        Lowes Companies, Inc.   700600      (e)  18516858
98                                   Coach, Inc.   295900      NaN  15398636
99                                  Fossil, Inc.   171100    (b,e)  16023515
100                    Lululemon Athletica, Inc.    77100  (b,c,e)   6865755
101            Philip Morris International, Inc.   561075      (e)  36823352
102                         United Rentals, Inc.   163800    (b,e)   5451264
103                American Tower Corp., ClassA   206400      (b)  10695648
104           Millicom International Cellular SA    91400      (c)   8789938
105                           NII Holdings, Inc.   285600      (b)  11900952

[106 rows x 4 columns]

In [454]:
output_df["CIK"] = CIK

In [455]:
output_df["weblink"] = url

In [456]:
output_df

,Holding,Share,legend,Value,CIK,weblink
0,Precision Castparts Corp.,127100,(e),18706578,316411,https://www.sec.gov/Archives/edgar/data/316411...
1,United Technologies Corp.,319100,NaN,27011815,316411,https://www.sec.gov/Archives/edgar/data/316411...
2,"United Parcel Service, Inc., ClassB",226100,NaN,16803752,316411,https://www.sec.gov/Archives/edgar/data/316411...
3,"Autoliv, Inc.",260800,(c),19359184,316411,https://www.sec.gov/Archives/edgar/data/316411...
4,"Alexion Pharmaceuticals, Inc.",155200,"(b,e)",15315136,316411,https://www.sec.gov/Archives/edgar/data/316411...
5,Celgene Corp.,151700,(b),8727301,316411,https://www.sec.gov/Archives/edgar/data/316411...
6,Dendreon Corp.,329900,(b),12348157,316411,https://www.sec.gov/Archives/edgar/data/316411...
7,"BlackRock, Inc.",90400,NaN,18171304,316411,https://www.sec.gov/Archives/edgar/data/316411...
8,"Franklin Resources, Inc.",106200,NaN,13283496,316411,https://www.sec.gov/Archives/edgar/data/316411...
9,Morgan Stanley,445100,NaN,12160132,316411,https://www.sec.gov/Archives/edgar/data/316411...
10,"Celanese Corp., SeriesA",203400,NaN,9024858,316411,https://www.sec.gov/Archives/edgar/data/316411...
11,"PPG Industries, Inc.",105400,NaN,10035134,316411,https://www.sec.gov/Archives/edgar/data/316411...
12,Fifth Third Bancorp,447800,NaN,6215464,316411,https://www.sec.gov/Archives/edgar/data/316411...
13,Ciena Corp.,362200,"(b,e)",9402712,316411,https://www.sec.gov/Archives/edgar/data/316411...
14,"Cisco Systems, Inc.",323781,NaN,5552844,316411,https://www.sec.gov/Archives/edgar/data/316411...
15,JDS Uniphase Corp.,283300,(b),5903972,316411,https://www.sec.gov/Archives/edgar/data/316411...
16,"Juniper Networks, Inc.",499900,"(b,e)",21035792,316411,https://www.sec.gov/Archives/edgar/data/316411...
17,"QUALCOMM, Inc.",841000,NaN,46112030,316411,https://www.sec.gov/Archives/edgar/data/316411...
18,"Apple, Inc.",253059,(b),88178409,316411,https://www.sec.gov/Archives/edgar/data/316411...
19,EMC Corp.,1721600,"(b,e)",45708480,316411,https://www.sec.gov/Archives/edgar/data/316411...
20,Foster Wheeler AG,186400,"(b,c,e)",7012368,316411,https://www.sec.gov/Archives/edgar/data/316411...
21,"KBR, Inc.",385200,NaN,14549004,316411,https://www.sec.gov/Archives/edgar/data/316411...
22,"Crown Holdings, Inc.",263500,(b),10165830,316411,https://www.sec.gov/Archives/edgar/data/316411...
23,Packaging Corp. of America,310634,NaN,8974216,316411,https://www.sec.gov/Archives/edgar/data/316411...
24,JPMorgan Chase & Co.,376400,NaN,17352040,316411,https://www.sec.gov/Archives/edgar/data/316411...
25,Emerson Electric Co.,452600,NaN,26445418,316411,https://www.sec.gov/Archives/edgar/data/316411...
26,"Rockwell Automation, Inc.",92800,NaN,8783520,316411,https://www.sec.gov/Archives/edgar/data/316411...
27,"Corning, Inc.",570700,NaN,11773541,316411,https://www.sec.gov/Archives/edgar/data/316411...
28,TE Connectivity Ltd.,370900,(c),12914738,316411,https://www.sec.gov/Archives/edgar/data/316411...
29,Halliburton Co.,480600,NaN,23953104,316411,https://www.sec.gov/Archives/edgar/data/316411...
...,...,...,...,...,...,...
76,"The Estee Lauder Companies, Inc., ClassA",209900,NaN,20225964,316411,https://www.sec.gov/Archives/edgar/data/316411...
77,"Allergan, Inc.",253700,NaN,18017774,316411,https://www.sec.gov/Archives/edgar/data/316411...
78,Perrigo Co.,186100,(e),14798672,316411,https://www.sec.gov/Archives/edgar/data/316411...
79,"Watson Pharmaceuticals, Inc.",127000,(b),7113270,316411,https://www.sec.gov/Archives/edgar/data/316411...
80,"JB Hunt Transport Services, Inc.",294100,NaN,13358022,316411,https://www.sec.gov/Archives/edgar/data/316411...
81,Union Pacific Corp.,184900,NaN,18181217,316411,https://www.sec.gov/Archives/edgar/data/316411...
82,"Advanced Micro Devices, Inc.",832400,(b),7158640,316411,https://www.sec.gov/Archives/edgar/data/316411...
83,"Fairchild Semiconductor International, Inc.",480200,"(b,e)",8739640,316411,https://www.sec.gov/Archives/edgar/data/316411...
84,Marvell Technology Group Ltd.,485800,"(b,c)",7554190,316411,https://www.sec.gov/Archives/edgar/data/316411...
85,"Netlogic Microsystems, Inc.",220300,"(b,e)",9257006,316411,https://www.sec.gov/Archives/edgar/data/316411...
86,"Skyworks Solutions, Inc.",515400,"(b,e)",16709268,316411,https://www.sec.gov/Archives/edgar/data/316411...
87,"Texas Instruments, Inc.",518100,NaN,17905536,316411,https://www.sec.gov/Archives/edgar/data/316411...
88,"Autodesk, Inc.",296400,(b),13074204,316411,https://www.sec.gov/Archives/edgar/data/316411...
89,"Intuit, Inc.",287400,(b),15260940,316411,https://www.sec.gov/Archives/edgar/data/316411...
90,Microsoft Corp.,965800,NaN,24492688,316411,https://www.sec.gov/Archives/edgar/data/316411...
91,Oracle Corp.,1671157,NaN,55766509,316411,https://www.sec.gov/Archives/edgar/data/316411...
92,"Salesforce.com, Inc.",55900,"(b,e)",7467122,316411,https://www.sec.gov/Archives/edgar/data/316411...
93,"SuccessFactors, Inc.",399500,"(b,e)",15616455,316411,https://www.sec.gov/Archives/edgar/data/316411...
94,"Abercrombie & Fitch Co., ClassA",181200,NaN,10636440,316411,https://www.sec.gov/Archives/edgar/data/316411...
95,"Dicks Sporting Goods, Inc.",381800,"(b,e)",15264364,316411,https://www.sec.gov/Archives/edgar/data/316411...
96,"Limited Brands, Inc.",316700,NaN,10413096,316411,https://www.sec.gov/Archives/edgar/data/316411...
97,"Lowes Companies, Inc.",700600,(e),18516858,316411,https://www.sec.gov/Archives/edgar/data/316411...
98,"Coach, Inc.",295900,NaN,15398636,316411,https://www.sec.gov/Archives/edgar/data/316411...
99,"Fossil, Inc.",171100,"(b,e)",16023515,316411,https://www.sec.gov/Archives/edgar/data/316411...
100,"Lululemon Athletica, Inc.",77100,"(b,c,e)",6865755,316411,https://www.sec.gov/Archives/edgar/data/316411...
101,"Philip Morris International, Inc.",561075,(e),36823352,316411,https://www.sec.gov/Archives/edgar/data/316411...
102,"United Rentals, Inc.",163800,"(b,e)",5451264,316411,https://www.sec.gov/Archives/edgar/data/316411...
103,"American Tower Corp., ClassA",206400,(b),10695648,316411,https://www.sec.gov/Archives/edgar/data/316411...
104,Millicom International Cellular SA,91400,(c),8789938,316411,https://www.sec.gov/Archives/edgar/data/316411...
105,"NII Holdings, Inc.",285600,(b),11900952,316411,https://www.sec.gov/Archives/edgar/data/316411...

In [457]:
date = soup.find_all('div', {"style" : "font-size: 10pt; margin-top: 18pt"})
pattern = re.compile(r'Date of reporting period')
report_date = "";
for i in date:
    m = re.match(pattern, i.text)
    if m:
        report_date = i.text.split(":")[1].strip()
#         print(i.text.split(":")[1].strip())

In [458]:
report_date

'March\xa031, 2011'

In [459]:
output_df["reporting_date"] = report_date

In [460]:
output_df

,Holding,Share,legend,Value,CIK,weblink,reporting_date
0,Precision Castparts Corp.,127100,(e),18706578,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
1,United Technologies Corp.,319100,NaN,27011815,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
2,"United Parcel Service, Inc., ClassB",226100,NaN,16803752,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
3,"Autoliv, Inc.",260800,(c),19359184,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
4,"Alexion Pharmaceuticals, Inc.",155200,"(b,e)",15315136,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
5,Celgene Corp.,151700,(b),8727301,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
6,Dendreon Corp.,329900,(b),12348157,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
7,"BlackRock, Inc.",90400,NaN,18171304,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
8,"Franklin Resources, Inc.",106200,NaN,13283496,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
9,Morgan Stanley,445100,NaN,12160132,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
10,"Celanese Corp., SeriesA",203400,NaN,9024858,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
11,"PPG Industries, Inc.",105400,NaN,10035134,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
12,Fifth Third Bancorp,447800,NaN,6215464,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
13,Ciena Corp.,362200,"(b,e)",9402712,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
14,"Cisco Systems, Inc.",323781,NaN,5552844,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
15,JDS Uniphase Corp.,283300,(b),5903972,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
16,"Juniper Networks, Inc.",499900,"(b,e)",21035792,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
17,"QUALCOMM, Inc.",841000,NaN,46112030,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
18,"Apple, Inc.",253059,(b),88178409,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
19,EMC Corp.,1721600,"(b,e)",45708480,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
20,Foster Wheeler AG,186400,"(b,c,e)",7012368,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
21,"KBR, Inc.",385200,NaN,14549004,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
22,"Crown Holdings, Inc.",263500,(b),10165830,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
23,Packaging Corp. of America,310634,NaN,8974216,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
24,JPMorgan Chase & Co.,376400,NaN,17352040,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
25,Emerson Electric Co.,452600,NaN,26445418,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
26,"Rockwell Automation, Inc.",92800,NaN,8783520,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
27,"Corning, Inc.",570700,NaN,11773541,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
28,TE Connectivity Ltd.,370900,(c),12914738,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
29,Halliburton Co.,480600,NaN,23953104,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
...,...,...,...,...,...,...,...
76,"The Estee Lauder Companies, Inc., ClassA",209900,NaN,20225964,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
77,"Allergan, Inc.",253700,NaN,18017774,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
78,Perrigo Co.,186100,(e),14798672,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
79,"Watson Pharmaceuticals, Inc.",127000,(b),7113270,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
80,"JB Hunt Transport Services, Inc.",294100,NaN,13358022,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
81,Union Pacific Corp.,184900,NaN,18181217,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
82,"Advanced Micro Devices, Inc.",832400,(b),7158640,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
83,"Fairchild Semiconductor International, Inc.",480200,"(b,e)",8739640,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
84,Marvell Technology Group Ltd.,485800,"(b,c)",7554190,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
85,"Netlogic Microsystems, Inc.",220300,"(b,e)",9257006,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
86,"Skyworks Solutions, Inc.",515400,"(b,e)",16709268,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
87,"Texas Instruments, Inc.",518100,NaN,17905536,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
88,"Autodesk, Inc.",296400,(b),13074204,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
89,"Intuit, Inc.",287400,(b),15260940,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
90,Microsoft Corp.,965800,NaN,24492688,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
91,Oracle Corp.,1671157,NaN,55766509,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
92,"Salesforce.com, Inc.",55900,"(b,e)",7467122,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
93,"SuccessFactors, Inc.",399500,"(b,e)",15616455,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
94,"Abercrombie & Fitch Co., ClassA",181200,NaN,10636440,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
95,"Dicks Sporting Goods, Inc.",381800,"(b,e)",15264364,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
96,"Limited Brands, Inc.",316700,NaN,10413096,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
97,"Lowes Companies, Inc.",700600,(e),18516858,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
98,"Coach, Inc.",295900,NaN,15398636,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
99,"Fossil, Inc.",171100,"(b,e)",16023515,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
100,"Lululemon Athletica, Inc.",77100,"(b,c,e)",6865755,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
101,"Philip Morris International, Inc.",561075,(e),36823352,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
102,"United Rentals, Inc.",163800,"(b,e)",5451264,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
103,"American Tower Corp., ClassA",206400,(b),10695648,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
104,Millicom International Cellular SA,91400,(c),8789938,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"
105,"NII Holdings, Inc.",285600,(b),11900952,316411,https://www.sec.gov/Archives/edgar/data/316411...,"March31, 2011"

In [ ]:
soup = BeautifulSoup(data, "html.parser")

In [262]:
url = 'https://www.sec.gov/Archives/edgar/data/316411/000095012311054303/0000950123-11-054303.txt'

In [313]:
import bs4 as bs
import urllib.request

source = urllib.request.urlopen(url).read()
soup = bs.BeautifulSoup(source,'lxml')
legend = []
label = soup.find_all('div', {"style" : "margin-left:28px; text-indent:-28px"})
for i in label:
    legend.append(i)
rest = soup.find_all('div', {"style" : "margin-left:24px; text-indent:-24px"})
for j in rest:
    legend.append(j)
# legend = label
# legend = legend.extend(label)
# print(label.extend(rest))
# print(rest)
# legend = legend.extend(rest)
# print(label[0])
print(legend)

[<div style="margin-left:28px; text-indent:-28px"><b>(a) </b>Securities are valued by using policies described in Note 2 to the financial statements in the
most recent Annual Report dated Dec. 31, 2010.
</div>, <div style="margin-left:28px; text-indent:-28px"><b>(b) </b>Non-income producing.
</div>, <div style="margin-left:28px; text-indent:-28px"><b>(c) </b>Foreign security values are stated in U.S. dollars. At March31, 2011, the value of foreign
securities, excluding short-term securities, represented 5.35% of net assets.
</div>, <div style="margin-left:24px; text-indent:-24px"><b>(d) </b>Represents fractional shares.
</div>, <div style="margin-left:24px; text-indent:-24px"><b>(e) </b>At March31, 2011, security was partially or fully on loan.
</div>, <div style="margin-left:24px; text-indent:-24px"><b>(f) </b>Affiliated Money Market Fund  The Fund may invest its daily cash balance in Columbia
Short-Term Cash Fund, a money market fund established for the exclusive use of funds and other
institutional clients of Columbia Management. The rate shown is the seven-day current annualized
yield at March31, 2011.
</div>, <div style="margin-left:24px; text-indent:-24px"><b>(g) </b>The table below represents securities received as collateral for repurchase agreements. This
collateral, which is generally high quality short-term obligations, is deposited with the Funds
custodian and, pursuant to the terms of the repurchase agreement, must have an aggregate market
value greater than or equal to the repurchase price plus accrued interest at all times. The value
of securities and/or cash held as collateral for repurchase agreements is monitored on a daily
basis to ensure the existence of the proper level of collateral.
</div>, <div style="margin-left:24px; text-indent:-24px"><b>(h) </b>At March31, 2011, the cost of securities for federal income tax purposes was approximately
$1,688,792,000 and the approximate aggregate gross unrealized appreciation and depreciation based
on that cost was:
</div>]

In [320]:
str1 = "".join(str(e) for e in legend)

In [322]:
str1

'<div style="margin-left:28px; text-indent:-28px"><b>(a) </b>\xa0\xa0\xa0Securities are valued by using policies described in Note 2 to the financial statements in the\nmost recent Annual Report dated Dec. 31, 2010.\n</div><div style="margin-left:28px; text-indent:-28px"><b>(b) </b>\xa0\xa0\xa0Non-income producing.\n</div><div style="margin-left:28px; text-indent:-28px"><b>(c) </b>\xa0\xa0\xa0Foreign security values are stated in U.S. dollars. At March\xa031, 2011, the value of foreign\nsecurities, excluding short-term securities, represented 5.35% of net assets.\n</div><div style="margin-left:24px; text-indent:-24px"><b>(d) </b>\xa0\xa0Represents fractional shares.\n</div><div style="margin-left:24px; text-indent:-24px"><b>(e) </b>\xa0\xa0At March\xa031, 2011, security was partially or fully on loan.\n</div><div style="margin-left:24px; text-indent:-24px"><b>(f) </b>\xa0\xa0Affiliated Money Market Fund \x97 The Fund may invest its daily cash balance in Columbia\nShort-Term Cash Fund, a money market fund established for the exclusive use of funds and other\ninstitutional clients of Columbia Management. The rate shown is the seven-day current annualized\nyield at March\xa031, 2011.\n</div><div style="margin-left:24px; text-indent:-24px"><b>(g) </b>\xa0\xa0The table below represents securities received as collateral for repurchase agreements. This\ncollateral, which is generally high quality short-term obligations, is deposited with the Fund\x92s\ncustodian and, pursuant to the terms of the repurchase agreement, must have an aggregate market\nvalue greater than or equal to the repurchase price plus accrued interest at all times. The value\nof securities and/or cash held as collateral for repurchase agreements is monitored on a daily\nbasis to ensure the existence of the proper level of collateral.\n</div><div style="margin-left:24px; text-indent:-24px"><b>(h) </b>\xa0\xa0At March\xa031, 2011, the cost of securities for federal income tax purposes was approximately\n$1,688,792,000 and the approximate aggregate gross unrealized appreciation and depreciation based\non that cost was:\n</div>'

In [372]:
import unicodedata
for i in legend:
    print(unicodedata.normalize("NFKD", i.text[6:]))

 Securities are valued by using policies described in Note 2 to the financial statements in the
most recent Annual Report dated Dec. 31, 2010.

 Non-income producing.

 Foreign security values are stated in U.S. dollars. At March 31, 2011, the value of foreign
securities, excluding short-term securities, represented 5.35% of net assets.

Represents fractional shares.

At March 31, 2011, security was partially or fully on loan.

Affiliated Money Market Fund  The Fund may invest its daily cash balance in Columbia
Short-Term Cash Fund, a money market fund established for the exclusive use of funds and other
institutional clients of Columbia Management. The rate shown is the seven-day current annualized
yield at March 31, 2011.

The table below represents securities received as collateral for repurchase agreements. This
collateral, which is generally high quality short-term obligations, is deposited with the Funds
custodian and, pursuant to the terms of the repurchase agreement, must have an aggregate market
value greater than or equal to the repurchase price plus accrued interest at all times. The value
of securities and/or cash held as collateral for repurchase agreements is monitored on a daily
basis to ensure the existence of the proper level of collateral.

At March 31, 2011, the cost of securities for federal income tax purposes was approximately
$1,688,792,000 and the approximate aggregate gross unrealized appreciation and depreciation based
on that cost was:

In [385]:
legend_dict = {}

In [389]:
for i in legend:
    legend_data = i.text[6:].replace(u'\xa0', u' ')
    legend_data = legend_data.replace(u'\x97', u' ')
    legend_data = legend_data.replace(u'\x92', u' ')
    legend_data = legend_data.replace(u'\n', u' ')
    legend_dict.update([(i.text[1:2],legend_data)])
#     print(i.text[:3])
#     print(i.text[6:])
#     f = pd.read_html(i)

In [390]:
legend_dict

{'a': ' Securities are valued by using policies described in Note 2 to the financial statements in the most recent Annual Report dated Dec. 31, 2010. ',
 'b': ' Non-income producing. ',
 'c': ' Foreign security values are stated in U.S. dollars. At March 31, 2011, the value of foreign securities, excluding short-term securities, represented 5.35% of net assets. ',
 'd': 'Represents fractional shares. ',
 'e': 'At March 31, 2011, security was partially or fully on loan. ',
 'f': 'Affiliated Money Market Fund   The Fund may invest its daily cash balance in Columbia Short-Term Cash Fund, a money market fund established for the exclusive use of funds and other institutional clients of Columbia Management. The rate shown is the seven-day current annualized yield at March 31, 2011. ',
 'g': 'The table below represents securities received as collateral for repurchase agreements. This collateral, which is generally high quality short-term obligations, is deposited with the Fund s custodian and, pursuant to the terms of the repurchase agreement, must have an aggregate market value greater than or equal to the repurchase price plus accrued interest at all times. The value of securities and/or cash held as collateral for repurchase agreements is monitored on a daily basis to ensure the existence of the proper level of collateral. ',
 'h': 'At March 31, 2011, the cost of securities for federal income tax purposes was approximately $1,688,792,000 and the approximate aggregate gross unrealized appreciation and depreciation based on that cost was: '}

In [463]:
legend_table = pd.DataFrame.from_dict(legend_dict, orient='index')
legend_table = legend_table.rename(columns={0: "Legend"})
legend_table

                                              Legend
a   Securities are valued by using policies descr...
b                             Non-income producing.
c   Foreign security values are stated in U.S. do...
d                     Represents fractional shares.
e  At March 31, 2011, security was partially or f...
f  Affiliated Money Market Fund   The Fund may in...
g  The table below represents securities received...
h  At March 31, 2011, the cost of securities for ...

In [474]:
def write_to_csv(df, file_name):
    df.to_csv(file_name, encoding='utf-8')

In [467]:
# legend_name = "seligman_legend"

In [473]:
write_to_csv(legend_table, "seligman_legend.csv")

In [475]:
write_to_csv(output_df, "seligman_holdings.csv")

In [462]:
# for i in legend:
#     print(i.text)
# legend_table.columns = [key, legend]

In [332]:
# url = 'https://www.sec.gov/Archives/edgar/data/1097293/000119312519013629/0001193125-19-013629.txt'
# res = requests.get(url)
# res.content
# df = pd.read_html(url,skiprows = [1,-1])
# df
# tables = pd.read_html(url)
# print(len(tables))

In [48]:
"""

from bs4 import BeautifulSoup
import requests

url=r'https://www.sec.gov/Archives/edgar/data/' + CIK +  r'/' + text

# Make a GET request to fetch the raw HTML content
html_content = requests.get(url).text

# Parse the html content
soup = BeautifulSoup(html_content, "lxml")
#print(soup.prettify()) # print the parsed data of html

table_tags = soup.find_all("table")
table = []

for i in table_tags:
    print(table_tags)

"""

'\n\nfrom bs4 import BeautifulSoup\nimport requests\n\nurl=r\'https://www.sec.gov/Archives/edgar/data/\' + CIK +  r\'/\' + text\n\n# Make a GET request to fetch the raw HTML content\nhtml_content = requests.get(url).text\n\n# Parse the html content\nsoup = BeautifulSoup(html_content, "lxml")\n#print(soup.prettify()) # print the parsed data of html\n\ntable_tags = soup.find_all("table")\ntable = []\n\nfor i in table_tags:\n    print(table_tags)\n\n'

In [106]:
#read a table

In [107]:
df = tables[0].dropna(axis = 0, how = 'all')
df = df.dropna(axis = 0, subset = [df.columns[0]])
cleaned_df = pd.DataFrame()
df = df.dropna(thresh = 3, axis = 0)
headername = ''
for count, row in df.iterrows():
    name = row[0]
    if ':' in name:
        headername = name
    if name.split(' ')[0] == 'Series' or name[0].isdigit():
        name = headername + ' ' + name
        
    if len(row.dropna().values) < 3:
        print(row)
        
    add = pd.DataFrame(row[1:].dropna())
    add = add[~add[add.columns[0]].str.contains('\D+')]
    if len(add) == 2:
        add = add.transpose().dropna()
        add.columns = ['holdings shares', 'holdings value']
        add['holdings name'] = name
        
        cleaned_df = pd.concat([cleaned_df, add], axis = 0, sort = False)
        
cleaned_df.index = pd.RangeIndex(len(cleaned_df.index))
print(cleaned_df)

Empty DataFrame
Columns: []
Index: []

In [132]:
count = 0
for df in tables:
    df = df.dropna(axis = 0, how = 'all')
    df = df.dropna(axis = 1, how = 'all')
    
    if not df.empty:
        print('count')
        print(count)
        print(' ')
        print(df)
    count = count + 1

count
0

                                                   0  \
1  ScheduleofInvestments (unaudited) December3...

                                                   2
1  BlackRock Advantage U.S. Total Market Fund, In...
count
1

                                                 0                     1  \
1                                         Security                   NaN
2                             Mutual Fund  100.1%  Mutual Fund  100.1%
3           Master Advantage U.S. Total Market LLC                   NaN
6   Total Investments  100.1%(Cost: $422,075,661)                   NaN
8   Liabilities in Excess of Other Assets  (0.1)%                   NaN
11                             Net Assets  100.0%                   NaN

                       2                     3    4
1                  Value                 Value  NaN
2   Mutual Fund  100.1%  Mutual Fund  100.1%  NaN
3                      $             392978243  NaN
6                    NaN             392978243  NaN
8                    NaN              (284,952    )
11                     $             392693291  NaN
count
2

   1                                                  3
0    Level1  Unadjusted price quotations in activ...
count
3

   1                                                  3
0    Level2  Other observable inputs (including, ...
count
4

   1                                                  3
0    Level3  Unobservable inputs based on the bes...
count
5

     3
1  1.0
count
6

                                                   0  \
1  ScheduleofInvestments (unaudited) December3...

                                                   2
1  Master Advantage U.S. Total Market LLC (Percen...
count
7

                                      0                           1  \
1                              Security                         NaN
3                 Common Stocks  99.2%       Common Stocks  99.2%
5            Aerospace& Defense  2.3%  Aerospace& Defense  2.3%
6                            Boeing Co.                         NaN
7                  Curtiss-Wright Corp.                         NaN
8                General Dynamics Corp.                         NaN
9                  HEICO Corp., ClassA                         NaN
10                Lockheed Martin Corp.                         NaN
11                         Raytheon Co.                         NaN
13                                  NaN                         NaN
15                      Airlines  0.4%             Airlines  0.4%
16        American Airlines Group, Inc.                         NaN
17               Southwest Airlines Co.                         NaN
19                                  NaN                         NaN
21               Auto Components  0.1%      Auto Components  0.1%
22                           Dana, Inc.                         NaN
25                   Automobiles  0.3%                         NaN
26                       Ford Motor Co.                         NaN
27                   General Motors Co.                         NaN
29                                  NaN                         NaN
31                         Banks  6.2%                Banks  6.2%
32                Bank of America Corp.                         NaN
33                           BB&T Corp.                         NaN
34                      Citigroup, Inc.                         NaN
35       Citizens Financial Group, Inc.                         NaN
36              East West Bancorp, Inc.                         NaN
37         First Horizon National Corp.                         NaN
38                  First Republic Bank                         NaN
39               Independent Bank Corp.                         NaN
40                 JPMorgan Chase& Co.                         NaN
..                                  ...                         ...
47                                  NaN                         NaN
49                     Beverages  1.4%            Beverages  1.4%
50          Brown-Forman Corp., ClassB                         NaN
51      Coca-Cola European Partners PLC                         NaN
52  Constellation Brands, Inc., ClassA                         NaN
53    Molson Coors Brewing Co., ClassB                         NaN
54           Monster Beverage Corp. (a)                         NaN
55                        PepsiCo, Inc.                         NaN
57                                  NaN                         NaN
59                 Biotechnology  4.2%        Biotechnology  4.2%
60                         AbbVie, Inc.                         NaN
61                          Amgen, Inc.                         NaN
62                     Biogen, Inc. (a)                         NaN
63                    Celgene Corp. (a)                         NaN
64             Genomic Health, Inc. (a)                         NaN
65                Gilead Sciences, Inc.                         NaN
66                     Incyte Corp. (a)                         NaN
67  Regeneron Pharmaceuticals, Inc. (a)                         NaN
68     Vertex Pharmaceuticals, Inc. (a)                         NaN
70                                  NaN                         NaN
72             Building Products  0.3%    Building Products  0.3%
73                         Allegion PLC                         NaN
76               Capital Markets  4.0%      Capital Markets  4.0%
77    BrightSphere Investment Group PLC                         NaN
78                 Charles Schwab Corp.                         NaN
79                      CME Group, Inc.                         NaN
80              Evercore, Inc., ClassA                         NaN
81                         Invesco Ltd.                         NaN
82                Moelis& Co., ClassA                         NaN
83                       Morgan Stanley                         NaN

                             2                           3  \
1                       Shares                      Shares
3        Common Stocks  99.2%       Common Stocks  99.2%
5   Aerospace& Defense  2.3%  Aerospace& Defense  2.3%
6                          NaN                        8887
7                          NaN                        2851
8                          NaN                        7403
9                          NaN                        1330
10                         NaN                        1973
11                         NaN                       26665
13                         NaN                         NaN
15             Airlines  0.4%             Airlines  0.4%
16                         NaN                        2965
17                         NaN                       32646
19                         NaN                         NaN
21      Auto Components  0.1%      Auto Components  0.1%
22                         NaN                       25315
25                         NaN                         NaN
26                         NaN                       57795
27                         NaN                       18439
29                         NaN                         NaN
31                Banks  6.2%                Banks  6.2%
32                         NaN                      327665
33                         NaN                       39538
34                         NaN                       26999
35                         NaN                       51324
36                         NaN                        9524
37                         NaN                       83787
38                         NaN                       28372
39                         NaN                       44448
40                         NaN                       36467
..                         ...                         ...
47                         NaN                         NaN
49            Beverages  1.4%            Beverages  1.4%
50                         NaN                        4873
51                         NaN                       17194
52                         NaN                        4187
53                         NaN                        2705
54                         NaN                       22834
55                         NaN                       21975
57                         NaN                         NaN
59        Biotechnology  4.2%        Biotechnology  4.2%
60                         NaN                       38361
61                         NaN                       16413
62                         NaN                        2038
63                         NaN                       38203
64                         NaN                        6406
65                         NaN                       67173
66                         NaN                        6996
67                         NaN                         313
68                         NaN                        8739
70                         NaN                         NaN
72    Building Products  0.3%    Building Products  0.3%
73                         NaN                       13006
76      Capital Markets  4.0%      Capital Markets  4.0%
77                         NaN                       17280
78                         NaN                      107507
79                         NaN                       13625
80                         NaN                         629
81                         NaN                       26940
82                         NaN                       25315
83                         NaN                      127956

                             4                           5  \
1                          NaN                         NaN
3        Common Stocks  99.2%       Common Stocks  99.2%
5   Aerospace& Defense  2.3%  Aerospace& Defense  2.3%
6                          NaN                         NaN
7                          NaN                         NaN
8                          NaN                         NaN
9                          NaN                         NaN
10                         NaN                         NaN
11                         NaN                         NaN
13                         NaN                         NaN
15             Airlines  0.4%             Airlines  0.4%
16                         NaN                         NaN
17                         NaN                         NaN
19                         NaN                         NaN
21      Auto Components  0.1%      Auto Components  0.1%
22                         NaN                         NaN
25                         NaN                         NaN
26                         NaN                         NaN
27                         NaN                         NaN
29                         NaN                         NaN
31                Banks  6.2%                Banks  6.2%
32                         NaN                         NaN
33                         NaN                         NaN
34                         NaN                         NaN
35                         NaN                         NaN
36                         NaN                         NaN
37                         NaN                         NaN
38                         NaN                         NaN
39                         NaN                         NaN
40                         NaN                         NaN
..                         ...                         ...
47                         NaN                         NaN
49            Beverages  1.4%            Beverages  1.4%
50                         NaN                         NaN
51                         NaN                         NaN
52                         NaN                         NaN
53                         NaN                         NaN
54                         NaN                         NaN
55                         NaN                         NaN
57                         NaN                         NaN
59        Biotechnology  4.2%        Biotechnology  4.2%
60                         NaN                         NaN
61                         NaN                         NaN
62                         NaN                         NaN
63                         NaN                         NaN
64                         NaN                         NaN
65                         NaN                         NaN
66                         NaN                         NaN
67                         NaN                         NaN
68                         NaN                         NaN
70                         NaN                         NaN
72    Building Products  0.3%    Building Products  0.3%
73                         NaN                         NaN
76      Capital Markets  4.0%      Capital Markets  4.0%
77                         NaN                         NaN
78                         NaN                         NaN
79                         NaN                         NaN
80                         NaN                         NaN
81                         NaN                         NaN
82                         NaN                         NaN
83                         NaN                         NaN

                             6                           7
1                        Value                       Value
3        Common Stocks  99.2%       Common Stocks  99.2%
5   Aerospace& Defense  2.3%  Aerospace& Defense  2.3%
6                            $                     2866057
7                          NaN                      291144
8                          NaN                     1163826
9                          NaN                       83790
10                         NaN                      516610
11                         NaN                     4089078
13                         NaN                     9010505
15             Airlines  0.4%             Airlines  0.4%
16                         NaN                       95206
17                         NaN                     1517386
19                         NaN                     1612592
21      Auto Components  0.1%      Auto Components  0.1%
22                         NaN                      345043
25                         NaN                         NaN
26                         NaN                      442132
27                         NaN                      616785
29                         NaN                     1058917
31                Banks  6.2%                Banks  6.2%
32                         NaN                     8073666
33                         NaN                     1712786
34                         NaN                     1405568
35                         NaN                     1525863
36                         NaN                      414580
37                         NaN                     1102637
38                         NaN                     2465527
39                         NaN                      934297
40                         NaN                     3559909
..                         ...                         ...
47                         NaN                    24321235
49            Beverages  1.4%            Beverages  1.4%
50                         NaN                      231857
51                         NaN                      788345
52                         NaN                      673353
53                         NaN                      151913
54                         NaN                     1123889
55                         NaN                     2427798
57                         NaN                     5397155
59        Biotechnology  4.2%        Biotechnology  4.2%
60                         NaN                     3536501
61                         NaN                     3195119
62                         NaN                      613275
63                         NaN                     2448430
64                         NaN                      412610
65                         NaN                     4201671
66                         NaN                      444876
67                         NaN                      116905
68                         NaN                     1448140
70                         NaN                    16417527
72    Building Products  0.3%    Building Products  0.3%
73                         NaN                     1036708
76      Capital Markets  4.0%      Capital Markets  4.0%
77                         NaN                      184550
78                         NaN                     4464766
79                         NaN                     2563135
80                         NaN                       45011
81                         NaN                      450976
82                         NaN                      870330
83                         NaN                     5073455

[65 rows x 8 columns]
count
8

                                                0  \
1                                        Security
3                     Capital Markets (continued)
4                                S&P Global, Inc.
5                     TD Ameritrade Holding Corp.
6                   Westwood Holdings Group, Inc.
8                                             NaN
10                               Chemicals  1.7%
11                 Air Products& Chemicals, Inc.
12                                 Celanese Corp.
13                           Eastman Chemical Co.
14                                   Ecolab, Inc.
15                                 Innospec, Inc.
16                                      Linde PLC
18                                            NaN
20          Commercial Services& Supplies  0.3%
21                        Clean Harbors, Inc. (a)
22                              McGrath RentCorp.
23                       Steelcase, Inc., ClassA
25                                            NaN
27                Communications Equipment  1.2%
28                                Calix, Inc. (a)
29                                Ciena Corp. (a)
30                            Cisco Systems, Inc.
31                       Motorola Solutions, Inc.
32                   Palo Alto Networks, Inc. (a)
34                                            NaN
36              Construction& Engineering  0.3%
37                      Comfort Systems USA, Inc.
40                  Construction Materials  0.1%
41                Martin Marietta Materials, Inc.
..                                            ...
46                        Consumer Finance  0.3%
47                           American Express Co.
48                  Regional Management Corp. (a)
50                                            NaN
52                  Containers& Packaging  0.3%
53                     Packaging Corp. of America
54                                   WestRock Co.
56                                            NaN
58           Diversified Consumer Services  0.2%
59                                H&R Block, Inc.
62          Diversified Financial Services  1.4%
63          Berkshire Hathaway, Inc., ClassB (a)
64                      On Deck Capital, Inc. (a)
66                                            NaN
68  Diversified Telecommunication Services  1.2%
69                                      AT&T Inc.
70           Cogent Communications Holdings, Inc.
71                   Verizon Communications, Inc.
73                                            NaN
75                      Electric Utilities  2.3%
76                              Eversource Energy
77                                  IDACORP, Inc.
78                               OGE Energy Corp.
79                    Pinnacle West Capital Corp.
80                  Portland General Electric Co.
81                              Xcel Energy, Inc.
83                                            NaN
85                    Electrical Equipment  1.1%
86                                   AMETEK, Inc.
87                                  Hubbell, Inc.

                                                1  \

1  4.0
count
30

                                                   0  \
1  ScheduleofInvestments (unaudited)(continued...

                                        2
1  Master Advantage U.S. Total Market LLC
count
31

                     0                   2                   3   \
2           Description  Number ofContracts  Number ofContracts
4             Contracts                 NaN                 NaN
5  S&P 500 E-Mini Index                 NaN                  43

               6               7                    10  \
2  ExpirationDate  ExpirationDate  NotionalAmount(000)
4             NaN             NaN                  NaN
5             NaN        03/15/19               $5,386

                                           12  \
2  Value/UnrealizedAppreciation(Depreciation)
4                                         NaN
5                                           $

                                           13
2  Value/UnrealizedAppreciation(Depreciation)
4                                         NaN
5                                       44574
count
32

   1                                                  3
0    Level 1  Unadjusted price quotations in activ...
count
33

   1                                                  3
0    Level 2  Other observable inputs (including, ...
count
34

   1                                                  3
0    Level 3  Unobservable inputs based on the bes...
count
35

                                     0        2          3        6        7   \
2                                   NaN  Level1    Level1  Level2  Level2
4                               Assets:      NaN        NaN      NaN      NaN
5                          Investments:      NaN        NaN      NaN      NaN
6             Long-Term Investments(a):      NaN        NaN      NaN      NaN
7                         Common Stocks        $  389670726        $
8                 Short-Term Securities      NaN    4160698      NaN
10                             Subtotal        $  393831424        $
12         Investments Valued at NAV(b)      NaN        NaN      NaN      NaN
14                    Total Investments      NaN        NaN      NaN      NaN
16  Derivative Financial Instruments(c)      NaN        NaN      NaN      NaN
17                              Assets:      NaN        NaN      NaN      NaN
18                     Equity contracts        $      44574        $

         10       11     14         15
2   Level3  Level3  Total      Total
4       NaN      NaN    NaN        NaN
5       NaN      NaN    NaN        NaN
6       NaN      NaN    NaN        NaN
7         $              $  389670726
8       NaN            NaN    4160698
10        $              $  393831424
12      NaN      NaN    NaN     988629
14      NaN      NaN      $  394820053
16      NaN      NaN    NaN        NaN
17      NaN      NaN    NaN        NaN
18        $              $      44574
count
36

     1                                                  2
0  (a)  See above Schedule of Investments for values i...
count
37

     1                                                  2
0  (b)  Certain investments of the Master LLC were fai...
count
38

     1                                                  2
0  (c)  Derivative financial instruments are futures c...
count
39

     3
1  5.0
count
40

        0                                                  1
0  2(a)  The registrants principal executive and princ...
count
41

        0                                                  1
0  2(b)  There were no changes in the registrants inte...
count
42

     0                                                  2
1  By:                              /s/ John M. Perlowski
2  NaN                                  John M. Perlowski
3  NaN  Chief Executive Officer (principal executive o...
count
43

     0                                                  2
1  By:                              /s/ John M. Perlowski
2  NaN                                  John M. Perlowski
3  NaN  Chief Executive Officer (principal executive o...
count
44

     0                                                  2
1  By:                                /s/ Neal J. Andrews
2  NaN                                    Neal J. Andrews
3  NaN  Chief Financial Officer (principal financial o...
count
45

                         0
0  Date: February22, 2019
1    /s/ John M. Perlowski
2        John M. Perlowski
count
46

                     0
0  /s/ Neal J. Andrews
1      Neal J. Andrews

In [109]:
def get_report_fund(df):
    reportdate = ''
    fundname = ''
    
    col_count = 0
    for col in df.columns:
        check_name = df[col][df[col].apply(lambda x: re.sub(r'\s', '', str(x)).lower()).str.contains('scheduleofinvestments')]
        if len(check_name) >= 1:
            if 'continued' not in str(df.loc[df.index == check_name.index, col].values[0]) and 'audited' in str(df.loc[df.index == check_name.index, col].values[0]):
                print()
                reportdate = str(df.loc[df.index == check_name.index, col].values[0])
                reportdate = re.sub(r'\s', '',reportdate.encode('ascii','ignore').decode().lower()).replace(r'(unaudited)',"").replace(r'schedule',"").replace(r'of',"").replace(r'investments',"")

                fundname = str(df.loc[df.index == check_name.index, df.columns[col_count + 1]].values[0])
                fundname = re.sub(r'\s', '',fundname.encode('ascii','ignore').decode().lower()).replace('(percentagesshownarebasedonnetassets)', '')

        col_count = col_count + 1
    return reportdate, fundname

In [110]:
def check_level_columns(df):
    check_found = False
    for col in df.columns:
        check_name = df[col][df[col].apply(lambda x: re.sub(r'\s', '', str(x)).lower()).str.contains('level1')]
        if len(check_name) > 0:
            check_found = True
    return check_found

In [111]:
def get_holdings(df, reportdate, fundname, headername):
    
    cleaned_df = pd.DataFrame()

    check_level = check_level_columns(df)

    if len(df) > 2 and len(df.columns) >= 3 and not check_level:

        for count, row in df.iterrows():
            name = str(row[0])
            if ':' in name:
                headername = name
            if name.split(' ')[0] == 'Series' or name[0].isdigit():
                name = headername + ' ' + name

            add = pd.DataFrame(row[1:].dropna())
            add = add[~add[add.columns[0]].str.contains('\D+')]

            if name[-1] != r'%' and name != 'adr' and name != 'class' and name != 'securities' \
            and name != 'total' and name != 'affiliate':

                if len(add) == 2:
                    add = add.transpose().dropna()
                    add.columns = ['holdings shares', 'holdings value']
                    add['holdings name'] = name
                    add.loc[:,'reporting_date'] = reportdate
                    add.loc[:,'fund name'] = fundname
                    add.loc[:, 'identifier'] = ''

                    cleaned_df = pd.concat([cleaned_df, add], axis = 0, sort = False)
                    cleaned_df.index = pd.RangeIndex(len(cleaned_df.index))
                    
        
    return cleaned_df, headername

In [112]:
def get_keys(holdings):
    for count, row in holdings.iterrows():
        keys = re.findall(r'\([^()]*\)', row['holdings name'])
        keylist = ''
        keycheck = []
        for check in keys:
            if len(check)<= 3:
                keycheck.append(check)
        if len(keys) > 0:
            for k in keys:
                if 'Acquired' not in k:
                    if len(k) <= 3:
                        keylist = keylist + k
                        holdings.loc[count, 'holdings name'] = holdings.loc[count, 'holdings name'].replace(k,'')

                else:
                    holdings.loc[count, 'holdings name'] = holdings.loc[count, 'holdings name'].replace(k,'')
                    holdings.loc[count, 'acq name'] = row['holdings name'].split(',')[0]
                    acq_data = k.split(' ')
                    holdings.loc[count, 'acq date'] = acq_data[1].replace(',','')
                    holdings.loc[count, 'acq cost'] = ''.join(re.findall("\d+", acq_data[-1]))

        holdings.loc[count, 'key'] = ",".join(keycheck)
    return holdings

In [113]:
for df in tables:
    #remove all rows and columns of nas
    df = df.dropna(axis = 0, how = 'all')
    df = df.dropna(axis = 1, how = 'all')
    
    if not df.empty:
        
        reportdate, fundname = get_report_fund(df)
        if reportdate != '':
            print(reportdate)
            print(fundname)
            found = True

december31,2018
blackrockadvantageu.s.totalmarketfund,inc.

december31,2018
masteradvantageu.s.totalmarketllc

In [114]:


holdings = pd.DataFrame()
reportdate = ''
fundname = ''

legend = pd.DataFrame()

identifiercount = 0

headername = ''


for df in tables:
    #remove all rows and columns of nas
    df = df.dropna(axis = 0, how = 'all')
    df = df.dropna(axis = 1, how = 'all')
    
    if not df.empty:
        
        #get the report dates and fund names of this dataframe
        reportdate_test, fundname_test = get_report_fund(df)
        if reportdate_test != '':
            found = True
            reportdate = reportdate_test
            fundname = fundname_test
        
        
        
        for count, row in df.iterrows():
            firstrow = re.sub(r'\s', '', str(row[df.columns[0]])).encode('ascii','ignore').decode().lower()
            if '(' in firstrow and ')' in firstrow and len(firstrow) == 3:
                
                if len(holdings.loc[holdings['identifier'] == '']) > 0:
                    identifiercount = identifiercount + 1
                    found = False
                    holdings.loc[holdings['identifier'] == '', 'identifier'] = text + str(identifiercount)
                    
                add_legend = pd.DataFrame(row).transpose()
                add_legend.columns = ['symbol', 'code']
                add_legend.loc[:, 'identifier'] = text + str(identifiercount)
                
                if len(legend) == 0:
                    legend = add_legend.copy()

                else:
                    if add_legend['symbol'].values[0] not in legend.loc[legend['identifier'] ==\
                                                                    text + str(identifiercount), 'symbol'].tolist():
                            legend = pd.concat([legend, add_legend], axis = 0)
                    
                    

        cleaned_df, headername = get_holdings(df, reportdate, fundname, headername)



        if len(cleaned_df) > 0 and found:
            security = cleaned_df.copy()
            security['holdings name'] = security['holdings name'].apply(lambda x: x.encode('ascii','ignore').decode())
            if len(security) > 0:
                if holdings.empty:
                    holdings = security.copy()
                else:
                    holdings = pd.concat([holdings, security], axis = 0)



legend.index = pd.RangeIndex(len(legend.index))
holdings.index = pd.RangeIndex(len(holdings.index))

In [115]:

holdings

,holdings shares,holdings value,holdings name,reporting_date,fund name,identifier
0,8887,2866057,Boeing Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
1,2851,291144,Curtiss-Wright Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
2,7403,1163826,General Dynamics Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
3,1330,83790,"HEICO Corp., ClassA","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
4,1973,516610,Lockheed Martin Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
5,26665,4089078,Raytheon Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
6,2965,95206,"American Airlines Group, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
7,32646,1517386,Southwest Airlines Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
8,25315,345043,"Dana, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
9,57795,442132,Ford Motor Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
10,18439,616785,General Motors Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
11,327665,8073666,Bank of America Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
12,39538,1712786,BB&T Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
13,26999,1405568,"Citigroup, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
14,51324,1525863,"Citizens Financial Group, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
15,9524,414580,"East West Bancorp, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
16,83787,1102637,First Horizon National Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
17,28372,2465527,First Republic Bank,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
18,44448,934297,Independent Bank Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
19,36467,3559909,JPMorgan Chase& Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
20,63588,379620,"Republic First Bancorp, Inc. (a)(b)","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
21,8714,126702,"Shore Bancshares, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
22,12804,409600,Synovus Financial Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
23,2272,44213,"TriState Capital Holdings, Inc. (a)","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
24,47011,2166267,Wells Fargo& Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
25,4873,231857,"Brown-Forman Corp., ClassB","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
26,17194,788345,Coca-Cola European Partners PLC,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
27,4187,673353,"Constellation Brands, Inc., ClassA","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
28,2705,151913,"Molson Coors Brewing Co., ClassB","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
29,22834,1123889,Monster Beverage Corp. (a),"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
...,...,...,...,...,...,...
279,14700,979902,"Asbury Automotive Group, Inc. (a)(b)","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
280,8997,321193,"AutoNation, Inc. (a)","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
281,4869,151913,"Dicks Sporting Goods, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
282,5017,513339,"Five Below, Inc. (a)","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
283,5075,871986,"Home Depot, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
284,13209,1008243,"Lithia Motors, Inc., ClassA","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
285,11228,205585,"MarineMax, Inc. (a)","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
286,29188,1176860,"Penske Automotive Group, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
287,5744,477901,"Ross Stores, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
288,21238,292235,"Sonic Automotive, Inc., ClassA","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
289,42570,1904582,"TJX Cos., Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
290,76366,12045973,Apple Inc.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
291,11255,550043,"Dell Technologies, Inc., ClassC (a)","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
292,5048,66684,Hewlett Packard Enterprise Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
293,96063,1965449,"HP, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
294,43255,695540,"Pure Storage, Inc., ClassA (a)","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
295,587,71385,"Lululemon Athletica, Inc. (a)","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
296,37254,2762012,"NIKE, Inc., ClassB","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
297,406,42005,Ralph Lauren Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
298,8090,577141,VF Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
299,7814,267083,Essent Group Ltd. (a),"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
300,84856,750976,United Community Financial Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
301,31571,1559292,"Altria Group, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
302,10546,704051,"Philip Morris International, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
303,1778,125900,GATX Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
304,39275,3564992,"American Water Works Co., Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
305,27117,157821,Sprint Corp. (a),"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
306,24978,812784,"Telephone& Data Systems, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
307,4160698,4160698,"BlackRock Liquidity Funds, T-Fund,Institutiona...","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1
308,988728,988629,"SL Liquidity Series, LLC, Money MarketSeries, ...","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1

In [116]:
holdings['value multiplier'] = ''
holdings['key'] = ''
holdings['textfile'] = text
holdings['CIK'] = CIK
holdings['acq name'] = ''
holdings['acq date'] = ''
holdings['acq cost'] = ''
holdings['date_filed'] = '' 
holdings['company conformed name'] = ''

date_filed = panel2.loc[panel2['file_read'] == text, 'date_filed'].unique()[0]
conformed_name = panel2.loc[panel2['file_read'] == text, 'company conformed name'].unique()[0]
holdings.loc[:, 'date_filed'] = date_filed
holdings.loc[:, 'company conformed name'] = conformed_name

holdings.index = pd.RangeIndex(len(holdings.index))
print(holdings)

for z in weblink[CIK]:
    if text in z:
        matching_link = z

holdings['weblink'] = matching_link
legend['weblink'] = matching_link
legend['textfile'] = text

    holdings shares holdings value  \
0              8887        2866057
1              2851         291144
2              7403        1163826
3              1330          83790
4              1973         516610
5             26665        4089078
6              2965          95206
7             32646        1517386
8             25315         345043
9             57795         442132
10            18439         616785
11           327665        8073666
12            39538        1712786
13            26999        1405568
14            51324        1525863
15             9524         414580
16            83787        1102637
17            28372        2465527
18            44448         934297
19            36467        3559909
20            63588         379620
21             8714         126702
22            12804         409600
23             2272          44213
24            47011        2166267
25             4873         231857
26            17194         788345
27             4187         673353
28             2705         151913
29            22834        1123889
..              ...            ...
279           14700         979902
280            8997         321193
281            4869         151913
282            5017         513339
283            5075         871986
284           13209        1008243
285           11228         205585
286           29188        1176860
287            5744         477901
288           21238         292235
289           42570        1904582
290           76366       12045973
291           11255         550043
292            5048          66684
293           96063        1965449
294           43255         695540
295             587          71385
296           37254        2762012
297             406          42005
298            8090         577141
299            7814         267083
300           84856         750976
301           31571        1559292
302           10546         704051
303            1778         125900
304           39275        3564992
305           27117         157821
306           24978         812784
307         4160698        4160698
308          988728         988629

                                         holdings name   reporting_date  \
0                                           Boeing Co.  december31,2018
1                                 Curtiss-Wright Corp.  december31,2018
2                               General Dynamics Corp.  december31,2018
3                                  HEICO Corp., ClassA  december31,2018
4                                Lockheed Martin Corp.  december31,2018
5                                         Raytheon Co.  december31,2018
6                        American Airlines Group, Inc.  december31,2018
7                               Southwest Airlines Co.  december31,2018
8                                           Dana, Inc.  december31,2018
9                                       Ford Motor Co.  december31,2018
10                                  General Motors Co.  december31,2018
11                               Bank of America Corp.  december31,2018
12                                          BB&T Corp.  december31,2018
13                                     Citigroup, Inc.  december31,2018
14                      Citizens Financial Group, Inc.  december31,2018
15                             East West Bancorp, Inc.  december31,2018
16                        First Horizon National Corp.  december31,2018
17                                 First Republic Bank  december31,2018
18                              Independent Bank Corp.  december31,2018
19                                 JPMorgan Chase& Co.  december31,2018
20                 Republic First Bancorp, Inc. (a)(b)  december31,2018
21                              Shore Bancshares, Inc.  december31,2018
22                             Synovus Financial Corp.  december31,2018
23                 TriState Capital Holdings, Inc. (a)  december31,2018
24                                    Wells Fargo& Co.  december31,2018
25                          Brown-Forman Corp., ClassB  december31,2018
26                     Coca-Cola European Partners PLC  december31,2018
27                  Constellation Brands, Inc., ClassA  december31,2018
28                    Molson Coors Brewing Co., ClassB  december31,2018
29                          Monster Beverage Corp. (a)  december31,2018
..                                                 ...              ...
279               Asbury Automotive Group, Inc. (a)(b)  december31,2018
280                               AutoNation, Inc. (a)  december31,2018
281                         Dicks Sporting Goods, Inc.  december31,2018
282                               Five Below, Inc. (a)  december31,2018
283                                   Home Depot, Inc.  december31,2018
284                        Lithia Motors, Inc., ClassA  december31,2018
285                                MarineMax, Inc. (a)  december31,2018
286                      Penske Automotive Group, Inc.  december31,2018
287                                  Ross Stores, Inc.  december31,2018
288                     Sonic Automotive, Inc., ClassA  december31,2018
289                                     TJX Cos., Inc.  december31,2018
290                                         Apple Inc.  december31,2018
291                Dell Technologies, Inc., ClassC (a)  december31,2018
292                     Hewlett Packard Enterprise Co.  december31,2018
293                                           HP, Inc.  december31,2018
294                     Pure Storage, Inc., ClassA (a)  december31,2018
295                      Lululemon Athletica, Inc. (a)  december31,2018
296                                 NIKE, Inc., ClassB  december31,2018
297                                 Ralph Lauren Corp.  december31,2018
298                                           VF Corp.  december31,2018
299                              Essent Group Ltd. (a)  december31,2018
300                   United Community Financial Corp.  december31,2018
301                                 Altria Group, Inc.  december31,2018
302                  Philip Morris International, Inc.  december31,2018
303                                         GATX Corp.  december31,2018
304                     American Water Works Co., Inc.  december31,2018
305                                   Sprint Corp. (a)  december31,2018
306                      Telephone& Data Systems, Inc.  december31,2018
307  BlackRock Liquidity Funds, T-Fund,Institutiona...  december31,2018
308  SL Liquidity Series, LLC, Money MarketSeries, ...  december31,2018

                             fund name                 identifier  \
0    masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
1    masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
2    masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
3    masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
4    masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
5    masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
6    masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
7    masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
8    masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
9    masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
10   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
11   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
12   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
13   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
14   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
15   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
16   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
17   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
18   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
19   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
20   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
21   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
22   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
23   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
24   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
25   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
26   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
27   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
28   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
29   masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
..                                 ...                        ...
279  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
280  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
281  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
282  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
283  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
284  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
285  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
286  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
287  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
288  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
289  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
290  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
291  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
292  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
293  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
294  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
295  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
296  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
297  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
298  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
299  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
300  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
301  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
302  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
303  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
304  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
305  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
306  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
307  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1
308  masteradvantageu.s.totalmarketllc  0001193125-19-049881.txt1

    value multiplier key                  textfile     CIK acq name acq date  \
0                         0001193125-19-049881.txt  230382
1                         0001193125-19-049881.txt  230382
2                         0001193125-19-049881.txt  230382
3                         0001193125-19-049881.txt  230382
4                         0001193125-19-049881.txt  230382
5                         0001193125-19-049881.txt  230382
6                         0001193125-19-049881.txt  230382
7                         0001193125-19-049881.txt  230382
8                         0001193125-19-049881.txt  230382
9                         0001193125-19-049881.txt  230382
10                        0001193125-19-049881.txt  230382
11                        0001193125-19-049881.txt  230382
12                        0001193125-19-049881.txt  230382
13                        0001193125-19-049881.txt  230382
14                        0001193125-19-049881.txt  230382
15                        0001193125-19-049881.txt  230382
16                        0001193125-19-049881.txt  230382
17                        0001193125-19-049881.txt  230382
18                        0001193125-19-049881.txt  230382
19                        0001193125-19-049881.txt  230382
20                        0001193125-19-049881.txt  230382
21                        0001193125-19-049881.txt  230382
22                        0001193125-19-049881.txt  230382
23                        0001193125-19-049881.txt  230382
24                        0001193125-19-049881.txt  230382
25                        0001193125-19-049881.txt  230382
26                        0001193125-19-049881.txt  230382
27                        0001193125-19-049881.txt  230382
28                        0001193125-19-049881.txt  230382
29                        0001193125-19-049881.txt  230382
..               ...  ..                       ...     ...      ...      ...
279                       0001193125-19-049881.txt  230382
280                       0001193125-19-049881.txt  230382
281                       0001193125-19-049881.txt  230382
282                       0001193125-19-049881.txt  230382
283                       0001193125-19-049881.txt  230382
284                       0001193125-19-049881.txt  230382
285                       0001193125-19-049881.txt  230382
286                       0001193125-19-049881.txt  230382
287                       0001193125-19-049881.txt  230382
288                       0001193125-19-049881.txt  230382
289                       0001193125-19-049881.txt  230382
290                       0001193125-19-049881.txt  230382
291                       0001193125-19-049881.txt  230382
292                       0001193125-19-049881.txt  230382
293                       0001193125-19-049881.txt  230382
294                       0001193125-19-049881.txt  230382
295                       0001193125-19-049881.txt  230382
296                       0001193125-19-049881.txt  230382
297                       0001193125-19-049881.txt  230382
298                       0001193125-19-049881.txt  230382
299                       0001193125-19-049881.txt  230382
300                       0001193125-19-049881.txt  230382
301                       0001193125-19-049881.txt  230382
302                       0001193125-19-049881.txt  230382
303                       0001193125-19-049881.txt  230382
304                       0001193125-19-049881.txt  230382
305                       0001193125-19-049881.txt  230382
306                       0001193125-19-049881.txt  230382
307                       0001193125-19-049881.txt  230382
308                       0001193125-19-049881.txt  230382

    acq cost date_filed                            company conformed name
0              20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
1              20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
2              20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
3              20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
4              20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
5              20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
6              20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
7              20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
8              20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
9              20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
10             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
11             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
12             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
13             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
14             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
15             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
16             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
17             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
18             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
19             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
20             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
21             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
22             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
23             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
24             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
25             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
26             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
27             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
28             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
29             20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
..       ...        ...                                               ...
279            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
280            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
281            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
282            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
283            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
284            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
285            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
286            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
287            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
288            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
289            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
290            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
291            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
292            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
293            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
294            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
295            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
296            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
297            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
298            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
299            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
300            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
301            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
302            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
303            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
304            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
305            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
306            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
307            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.
308            20190225  BlackRock Advantage U.S. Total Market Fund, Inc.

[309 rows x 15 columns]

get the acquisition data

In [117]:
holdings = get_keys(holdings)

In [118]:
holdings

,holdings shares,holdings value,holdings name,reporting_date,fund name,identifier,value multiplier,key,textfile,CIK,acq name,acq date,acq cost,date_filed,company conformed name,weblink
0,8887,2866057,Boeing Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
1,2851,291144,Curtiss-Wright Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
2,7403,1163826,General Dynamics Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
3,1330,83790,"HEICO Corp., ClassA","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
4,1973,516610,Lockheed Martin Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
5,26665,4089078,Raytheon Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
6,2965,95206,"American Airlines Group, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
7,32646,1517386,Southwest Airlines Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
8,25315,345043,"Dana, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
9,57795,442132,Ford Motor Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
10,18439,616785,General Motors Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
11,327665,8073666,Bank of America Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
12,39538,1712786,BB&T Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
13,26999,1405568,"Citigroup, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
14,51324,1525863,"Citizens Financial Group, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
15,9524,414580,"East West Bancorp, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
16,83787,1102637,First Horizon National Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
17,28372,2465527,First Republic Bank,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
18,44448,934297,Independent Bank Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
19,36467,3559909,JPMorgan Chase& Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
20,63588,379620,"Republic First Bancorp, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,"(a),(b)",0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
21,8714,126702,"Shore Bancshares, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
22,12804,409600,Synovus Financial Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
23,2272,44213,"TriState Capital Holdings, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,(a),0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
24,47011,2166267,Wells Fargo& Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
25,4873,231857,"Brown-Forman Corp., ClassB","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
26,17194,788345,Coca-Cola European Partners PLC,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
27,4187,673353,"Constellation Brands, Inc., ClassA","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
28,2705,151913,"Molson Coors Brewing Co., ClassB","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
29,22834,1123889,Monster Beverage Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,(a),0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
279,14700,979902,"Asbury Automotive Group, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,"(a),(b)",0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
280,8997,321193,"AutoNation, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,(a),0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
281,4869,151913,"Dicks Sporting Goods, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
282,5017,513339,"Five Below, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,(a),0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
283,5075,871986,"Home Depot, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
284,13209,1008243,"Lithia Motors, Inc., ClassA","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
285,11228,205585,"MarineMax, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,(a),0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
286,29188,1176860,"Penske Automotive Group, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
287,5744,477901,"Ross Stores, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
288,21238,292235,"Sonic Automotive, Inc., ClassA","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
289,42570,1904582,"TJX Cos., Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
290,76366,12045973,Apple Inc.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
291,11255,550043,"Dell Technologies, Inc., ClassC","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,(a),0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
292,5048,66684,Hewlett Packard Enterprise Co.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
293,96063,1965449,"HP, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
294,43255,695540,"Pure Storage, Inc., ClassA","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,(a),0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
295,587,71385,"Lululemon Athletica, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,(a),0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
296,37254,2762012,"NIKE, Inc., ClassB","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
297,406,42005,Ralph Lauren Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
298,8090,577141,VF Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
299,7814,267083,Essent Group Ltd.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,(a),0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
300,84856,750976,United Community Financial Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
301,31571,1559292,"Altria Group, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
302,10546,704051,"Philip Morris International, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
303,1778,125900,GATX Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
304,39275,3564992,"American Water Works Co., Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
305,27117,157821,Sprint Corp.,"december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,(a),0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
306,24978,812784,"Telephone& Data Systems, Inc.","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,,0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
307,4160698,4160698,"BlackRock Liquidity Funds, T-Fund,Institutiona...","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,"(c),(e)",0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...
308,988728,988629,"SL Liquidity Series, LLC, Money MarketSeries, ...","december31,2018",masteradvantageu.s.totalmarketllc,0001193125-19-049881.txt1,,"(c),(d),(e)",0001193125-19-049881.txt,230382,,,,20190225,"BlackRock Advantage U.S. Total Market Fund, Inc.",https://www.sec.gov/Archives/edgar/data/230382...

In [119]:
holdings['identifier']

0      0001193125-19-049881.txt1
1      0001193125-19-049881.txt1
2      0001193125-19-049881.txt1
3      0001193125-19-049881.txt1
4      0001193125-19-049881.txt1
5      0001193125-19-049881.txt1
6      0001193125-19-049881.txt1
7      0001193125-19-049881.txt1
8      0001193125-19-049881.txt1
9      0001193125-19-049881.txt1
10     0001193125-19-049881.txt1
11     0001193125-19-049881.txt1
12     0001193125-19-049881.txt1
13     0001193125-19-049881.txt1
14     0001193125-19-049881.txt1
15     0001193125-19-049881.txt1
16     0001193125-19-049881.txt1
17     0001193125-19-049881.txt1
18     0001193125-19-049881.txt1
19     0001193125-19-049881.txt1
20     0001193125-19-049881.txt1
21     0001193125-19-049881.txt1
22     0001193125-19-049881.txt1
23     0001193125-19-049881.txt1
24     0001193125-19-049881.txt1
25     0001193125-19-049881.txt1
26     0001193125-19-049881.txt1
27     0001193125-19-049881.txt1
28     0001193125-19-049881.txt1
29     0001193125-19-049881.txt1
                 ...
279    0001193125-19-049881.txt1
280    0001193125-19-049881.txt1
281    0001193125-19-049881.txt1
282    0001193125-19-049881.txt1
283    0001193125-19-049881.txt1
284    0001193125-19-049881.txt1
285    0001193125-19-049881.txt1
286    0001193125-19-049881.txt1
287    0001193125-19-049881.txt1
288    0001193125-19-049881.txt1
289    0001193125-19-049881.txt1
290    0001193125-19-049881.txt1
291    0001193125-19-049881.txt1
292    0001193125-19-049881.txt1
293    0001193125-19-049881.txt1
294    0001193125-19-049881.txt1
295    0001193125-19-049881.txt1
296    0001193125-19-049881.txt1
297    0001193125-19-049881.txt1
298    0001193125-19-049881.txt1
299    0001193125-19-049881.txt1
300    0001193125-19-049881.txt1
301    0001193125-19-049881.txt1
302    0001193125-19-049881.txt1
303    0001193125-19-049881.txt1
304    0001193125-19-049881.txt1
305    0001193125-19-049881.txt1
306    0001193125-19-049881.txt1
307    0001193125-19-049881.txt1
308    0001193125-19-049881.txt1
Name: identifier, Length: 309, dtype: object

In [120]:
legend.loc[:,'restricted'] = 'no'

legend.loc[legend['code'].str.contains("restrict") | legend['code'].str.contains("level 3 security") \
              | legend['code'].str.contains("exempt from registration"), 'restricted'] = 'yes'

restricted = legend.loc[legend['restricted'].str.contains("yes")]
print(restricted)

holdings.loc[:,'restricted'] = 'no'

Empty DataFrame
Columns: [symbol, code, identifier, weblink, textfile, restricted]
Index: []

In [121]:
#get the restricted legend and restricted securities

In [122]:
legend.loc[:,'restricted'] = 'no'

legend.loc[legend['code'].str.contains("restrict") | legend['code'].str.contains("level 3 security") \
              | legend['code'].str.contains("exempt from registration"), 'restricted'] = 'yes'

restricted = legend.loc[legend['restricted'].str.contains("yes")]
print(restricted)

holdings.loc[:,'restricted'] = 'no'

for index, row in restricted.iterrows():
    holdings.loc[(holdings['identifier'] == row['identifier']) & (holdings['textfile'] == row.textfile) \
                   & (holdings['key'].str.contains(row['symbol'])), 'restricted'] = 'yes'
    
restricted_holdings = holdings.loc[(holdings['restricted'] == 'yes')]

Empty DataFrame
Columns: [symbol, code, identifier, weblink, textfile, restricted]
Index: []

In [123]:
#get the restricted holdings

In [124]:
print(restricted_holdings)

Empty DataFrame
Columns: [holdings shares, holdings value, holdings name, reporting_date, fund name, identifier, value multiplier, key, textfile, CIK, acq name, acq date, acq cost, date_filed, company conformed name, weblink, restricted]
Index: []

In [125]:
def getpanel1(CIK, text, panel2, weblink):
    
    url = r'https://www.sec.gov/Archives/edgar/data/' + CIK +  r'/' + text
    tables = pd.read_html(url,encoding="utf-8")
    
    holdings = pd.DataFrame()
    reportdate = ''
    fundname = ''

    legend = pd.DataFrame()

    identifiercount = 0

    headername = ''


    for df in tables:
        #remove all rows and columns of nas
        df = df.dropna(axis = 0, how = 'all')
        df = df.dropna(axis = 1, how = 'all')

        if not df.empty:

            #get the report dates and fund names of this dataframe
            reportdate_test, fundname_test = get_report_fund(df)
            if reportdate_test != '':
                found = True
                reportdate = reportdate_test
                fundname = fundname_test



            for count, row in df.iterrows():
                firstrow = re.sub(r'\s', '', str(row[df.columns[0]])).encode('ascii','ignore').decode().lower()
                if '(' in firstrow and ')' in firstrow and len(firstrow) == 3:

                    if len(holdings.loc[holdings['identifier'] == '']) > 0:
                        identifiercount = identifiercount + 1
                        found = False
                        holdings.loc[holdings['identifier'] == '', 'identifier'] = text + str(identifiercount)

                    add_legend = pd.DataFrame(row).transpose()
                    add_legend.columns = ['symbol', 'code']
                    add_legend.loc[:, 'identifier'] = text + str(identifiercount)

                    if len(legend) == 0:
                        legend = add_legend.copy()

                    else:
                        if add_legend['symbol'].values[0] not in legend.loc[legend['identifier'] ==\
                                                                        text + str(identifiercount), 'symbol'].tolist():
                                legend = pd.concat([legend, add_legend], axis = 0)



            cleaned_df, headername = get_holdings(df, reportdate, fundname, headername)



            if len(cleaned_df) > 0 and found:
                security = cleaned_df.copy()
                security['holdings name'] = security['holdings name'].apply(lambda x: x.encode('ascii','ignore').decode())
                if len(security) > 0:
                    if holdings.empty:
                        holdings = security.copy()
                    else:
                        holdings = pd.concat([holdings, security], axis = 0)



    legend.index = pd.RangeIndex(len(legend.index))
    holdings.index = pd.RangeIndex(len(holdings.index))
    
    
    
    holdings['value multiplier'] = ''
    holdings['key'] = ''
    holdings['textfile'] = text
    holdings['CIK'] = CIK
    holdings['acq name'] = ''
    holdings['acq date'] = ''
    holdings['acq cost'] = ''
    holdings['date_filed'] = '' 
    holdings['company conformed name'] = ''

    date_filed = panel2.loc[panel2['file_read'] == text, 'date_filed'].unique()[0]
    conformed_name = panel2.loc[panel2['file_read'] == text, 'company conformed name'].unique()[0]
    holdings.loc[:, 'date_filed'] = date_filed
    holdings.loc[:, 'company conformed name'] = conformed_name

    holdings.index = pd.RangeIndex(len(holdings.index))

    for z in weblink[CIK]:
        if text in z:
            matching_link = z

    holdings['weblink'] = matching_link
    legend['weblink'] = matching_link
    legend['textfile'] = text
    
    
    holdings = get_keys(holdings)
        

        
    return holdings, legend

## Run on All CIKS

In [ ]:
panel1 = pd.DataFrame()


panel1 = pd.DataFrame()
panel1_legend = pd.DataFrame()
error_panel1 = []

#CIK_LIST = ['319108','1097293','230382']

CIK_LIST = ['230382','319108']

for CIK in CIK_LIST:
    txt_files = os.listdir(os.path.join(cur_wd, CIK, 'n-q'))
    
    for i in txt_files:
        if '.csv' not in i and i not in error_panel2:
            try:
                holdings, legend = getpanel1(CIK, i, panel2, weblink)

                if len(holdings) == 0:
                    #print(i)
                    pass
                if panel1.empty:
                    panel1 = holdings.copy()
                    panel1_legend = legend.copy()
                else:
                    panel1 = pd.concat([panel1, holdings], axis = 0, sort = True)
                    panel1_legend = pd.concat([panel1_legend , legend], axis = 0, sort = True)
            except:
                error_panel1.append(r'https://www.sec.gov/Archives/edgar/data/' + CIK +  r'/' + i)

In [ ]:
print(panel1.dropna(axis =1, how = 'all'))
panel1.to_csv(os.path.join(output_directory, fund_name + '_panel1.csv'), sep = ',')
panel1_legend.to_csv(os.path.join(output_directory, fund_name + '_panel1_legend.csv'), sep = ',')

In [ ]:
panel1_legend.loc[:,'restricted'] = 'no'

panel1_legend.loc[panel1_legend['code'].str.contains("restrict") | panel1_legend['code'].str.contains("level 3 security") \
              | panel1_legend['code'].str.contains("exempt from registration"), 'restricted'] = 'yes'

restricted = panel1_legend.loc[panel1_legend['restricted'].str.contains("yes")]

restricted.to_csv(os.path.join(output_directory, fund_name + '_panel1_restricted_legend.csv'), sep = ',')
print(restricted)

panel1.loc[:,'restricted'] = 'no'

for index, row in restricted.iterrows():
    panel1.loc[(panel1['identifier'] == row['identifier']) & (panel1['textfile'] == row.textfile) \
                   & (panel1['key'].str.contains(row['symbol'])), 'restricted'] = 'yes'
    
restricted_holdings = panel1.loc[(panel1['restricted'] == 'yes')]
restricted_holdings.to_csv(os.path.join(output_directory, fund_name + '_panel1_restricted.csv'), sep = ',')